Node-Red/node-red_clipboard/old/node4.txt
[{"id":"42c442e7.49af2c","type":"mqtt in","z":"8a4a3f0a.c4bd4","name":"","topic":"4_p0","qos":"0","broker":"faa41933.fa74e8","x":110,"y":380,"wires":[["640f7185.c3ec7","70c1f822.ce4958","b018bfa1.9389c","d8a9a571.52f4c8","2becb2f2.e6021e"]]},{"id":"b04a7e1c.1d57e","type":"mqtt out","z":"8a4a3f0a.c4bd4","name":"","topic":"4_p0_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1140,"y":940,"wires":[]},{"id":"49adf7c6.07aec8","type":"mqtt in","z":"8a4a3f0a.c4bd4","name":"","topic":"4_p1","qos":"0","broker":"faa41933.fa74e8","x":110,"y":520,"wires":[["b1e9d0c8.175b9","70c1f822.ce4958","4be7e567.0c799c","475ce3d4.f9970c","54dfc1e8.0f8b5"]]},{"id":"b1c61dd6.4d6b8","type":"mqtt in","z":"8a4a3f0a.c4bd4","name":"","topic":"4_p2","qos":"0","broker":"faa41933.fa74e8","x":110,"y":660,"wires":[["762fd56a.18105c","d80aea93.d165b8","70c1f822.ce4958","6d1caca3.1b34b4","f1d5c0fb.876ee","a28f6ac5.8cb278"]]},{"id":"9b9c437f.b13b","type":"mqtt out","z":"8a4a3f0a.c4bd4","name":"","topic":"4_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1131.9339036941528,"y":885.4862728118896,"wires":[]},{"id":"fa4a73e3.85ece","type":"debug","z":"8a4a3f0a.c4bd4","name":"","active":false,"console":"false","complete":"false","x":1185.0140266418457,"y":1349.7744069099426,"wires":[]},{"id":"3ea6bc44.dae324","type":"function","z":"8a4a3f0a.c4bd4","name":"e0","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":979.0730895996094,"y":1374.3369073867798,"wires":[["fa4a73e3.85ece","3fde532b.e6eeac"]]},{"id":"4ffac3f1.20e1dc","type":"debug","z":"8a4a3f0a.c4bd4","name":"","active":false,"console":"false","complete":"false","x":1147.031177520752,"y":1457.218960762024,"wires":[]},{"id":"128335fd.24518a","type":"function","z":"8a4a3f0a.c4bd4","name":"e1","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":970.0902099609375,"y":1484.781494140625,"wires":[["4ffac3f1.20e1dc","fe1a048b.487698"]]},{"id":"a04b603e.ef126","type":"debug","z":"8a4a3f0a.c4bd4","name":"","active":false,"console":"false","complete":"false","x":1158.0311660766602,"y":1560.774326324463,"wires":[]},{"id":"a0058bdc.cb9228","type":"function","z":"8a4a3f0a.c4bd4","name":"e2","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":981.0901985168457,"y":1588.336859703064,"wires":[["a04b603e.ef126","31ec1316.4e622c"]]},{"id":"48623b9f.e125c4","type":"function","z":"8a4a3f0a.c4bd4","name":"et","func":"var e0 = parseFloat(msg.payload.tp0);\nvar e1 = parseFloat(msg.payload.tp1);\nvar e2 = parseFloat(msg.payload.tp2);\nmsg.payload = e0 + e1 + e2;\nmsg.topic = \"/4/3e\";\nreturn msg;","outputs":1,"noerr":0,"x":957.069146156311,"y":851.1286725997925,"wires":[["a5c8c42c.9c7878","9b9c437f.b13b","5b68222c.f4b76c","5e74421.cfd35bc"]]},{"id":"cfa87096.053a3","type":"function","z":"8a4a3f0a.c4bd4","name":"p0","func":"var p = parseFloat(msg.payload.p0);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":768.0000104904175,"y":1414.999987602234,"wires":[["3ea6bc44.dae324"]]},{"id":"692120be.7c1f8","type":"function","z":"8a4a3f0a.c4bd4","name":"p1","func":"var p = parseFloat(msg.payload.p1);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":765.0172843933105,"y":1483.3335065841675,"wires":[["128335fd.24518a"]]},{"id":"19419efb.ef7c01","type":"function","z":"8a4a3f0a.c4bd4","name":"p2","func":"var p = parseFloat(msg.payload.p2);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":772.0172958374023,"y":1552.333613395691,"wires":[["a0058bdc.cb9228"]]},{"id":"83a059a9.40c9a8","type":"function","z":"8a4a3f0a.c4bd4","name":"tp0","func":"var tmp = parseFloat(msg.payload.p0);\nvar tp = parseFloat(msg.payload.tp0);\nmsg.payload = tp + tmp;\nmsg.topic = \"/4/e0\";\nreturn msg;","outputs":1,"noerr":0,"x":781.0230722427368,"y":941.6607246398926,"wires":[["833b832a.6008a"]]},{"id":"4046da1d.807534","type":"function","z":"8a4a3f0a.c4bd4","name":"tp1","func":"var tmp = parseFloat(msg.payload.p1);\nvar tp = parseFloat(msg.payload.tp1);\nmsg.payload = tp + tmp;\nmsg.topic = \"/4/e1\";\nreturn msg;","outputs":1,"noerr":0,"x":780.6835985183716,"y":1002.632040977478,"wires":[["2d358f66.e61f5"]]},{"id":"6b51549e.36938c","type":"mqtt out","z":"8a4a3f0a.c4bd4","name":"","topic":"4_p1_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1143.6835451126099,"y":1004.6320486068726,"wires":[]},{"id":"78107c60.5148d4","type":"function","z":"8a4a3f0a.c4bd4","name":"tp2","func":"var tmp = parseFloat(msg.payload.p2);\nvar tp = parseFloat(msg.payload.tp2);\nmsg.payload = tp + tmp;\nmsg.topic = \"/4/e2\";\nreturn msg;","outputs":1,"noerr":0,"x":782.6835985183716,"y":1056.632040977478,"wires":[["9a0eb19f.ae3fc"]]},{"id":"30ae8046.4ce9d","type":"mqtt out","z":"8a4a3f0a.c4bd4","name":"","topic":"4_p2_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1147.6834869384766,"y":1058.6320400238037,"wires":[]},{"id":"6615a560.e8c88c","type":"delay","z":"8a4a3f0a.c4bd4","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":788.5239534378052,"y":850.8021955490112,"wires":[["48623b9f.e125c4"]]},{"id":"3a0463fb.2da4fc","type":"e-mail","z":"8a4a3f0a.c4bd4","server":"smtp.gmail.com","port":"465","secure":true,"name":"kchatpeth@gmail.com","dname":"","x":440,"y":760,"wires":[]},{"id":"1dddee52.d46a42","type":"mqtt in","z":"8a4a3f0a.c4bd4","name":"Alarm","topic":"Alarm4","qos":"0","broker":"2460a20d.93c08e","x":210,"y":800,"wires":[["6ef6c12d.ee6b3","3a0463fb.2da4fc"]]},{"id":"a24af983.ff2d68","type":"mqtt out","z":"8a4a3f0a.c4bd4","name":"Alarm","topic":"Alarm4","qos":"0","retain":"","broker":"2460a20d.93c08e","x":370,"y":880,"wires":[]},{"id":"e85700c2.e8529","type":"inject","z":"8a4a3f0a.c4bd4","name":"test alarm","topic":"Alarm","payload":"Alarm from node 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":220,"y":880,"wires":[["a24af983.ff2d68"]]},{"id":"fb5d4827.3c4918","type":"inject","z":"8a4a3f0a.c4bd4","name":"tsmp","topic":"tsmp","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":230,"y":1020,"wires":[["2a2dc9a.5984d36","30b0e468.74dfdc","d80aea93.d165b8"]]},{"id":"d80aea93.d165b8","type":"function","z":"8a4a3f0a.c4bd4","name":"checkerr","func":"var count = context.get('count') || 0;\nif(msg.topic == \"tsmp\")\n{\n    count = count + 1;\n}\nelse\n{\n    count = 0;\n}\ncontext.set('count',count);\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1020,"wires":[["716eddf8.fdf864"]]},{"id":"447c1751.be0468","type":"debug","z":"8a4a3f0a.c4bd4","name":"restart","active":false,"console":"false","complete":"payload","x":727,"y":1107,"wires":[]},{"id":"716eddf8.fdf864","type":"switch","z":"8a4a3f0a.c4bd4","name":"err_no","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"12","vt":"str"}],"checkall":"true","outputs":1,"x":550,"y":1120,"wires":[["ee8f3557.e53088","447c1751.be0468"]]},{"id":"b3fdf2e9.160c9","type":"mqtt out","z":"8a4a3f0a.c4bd4","name":"restart","topic":"sw4","qos":"0","retain":"","broker":"faa41933.fa74e8","x":910,"y":1120,"wires":[]},{"id":"ee8f3557.e53088","type":"function","z":"8a4a3f0a.c4bd4","name":"ESP.restart()","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":748,"y":1147,"wires":[["b3fdf2e9.160c9","b84b3463.542c48","f2d1d241.8ee12","897539e1.4b9848"]]},{"id":"5e74421.cfd35bc","type":"function","z":"8a4a3f0a.c4bd4","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":734,"wires":[["f8f3d3b7.085b4","cff0f615.2832c8"]]},{"id":"640f7185.c3ec7","type":"firebase modify","z":"8a4a3f0a.c4bd4","name":"4_p0","firebaseconfig":"","childpath":"/4/power/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":364.076229095459,"y":407.65969371795654,"wires":[["388861f2.d714be"]]},{"id":"b1e9d0c8.175b9","type":"firebase modify","z":"8a4a3f0a.c4bd4","name":"4_p1","firebaseconfig":"","childpath":"/4/power/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":377.1006889343262,"y":561.5655426979065,"wires":[["d5087213.7ef38"]]},{"id":"762fd56a.18105c","type":"firebase modify","z":"8a4a3f0a.c4bd4","name":"4_p2","firebaseconfig":"","childpath":"/4/power/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":372.1007194519043,"y":681.2257423400879,"wires":[["23a79ce6.c7fbf4"]]},{"id":"3fde532b.e6eeac","type":"firebase modify","z":"8a4a3f0a.c4bd4","name":"eng0","firebaseconfig":"","childpath":"/4/energy/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":1168.0175552368164,"y":1399.4446144104004,"wires":[[]]},{"id":"fe1a048b.487698","type":"firebase modify","z":"8a4a3f0a.c4bd4","name":"eng1","firebaseconfig":"","childpath":"/4/energy/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":1130.034610748291,"y":1505.8891553878784,"wires":[[]]},{"id":"31ec1316.4e622c","type":"firebase modify","z":"8a4a3f0a.c4bd4","name":"eng2","firebaseconfig":"","childpath":"/4/energy/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":1142.0345878601074,"y":1604.444504737854,"wires":[[]]},{"id":"a5c8c42c.9c7878","type":"firebase modify","z":"8a4a3f0a.c4bd4","name":"4_eng","firebaseconfig":"","childpath":"/4/energy/total","method":"set","value":"msg.payload","priority":"msg.priority","x":1131.0761156082153,"y":825.6216421127319,"wires":[["c6f36116.fb424"]]},{"id":"833b832a.6008a","type":"firebase modify","z":"8a4a3f0a.c4bd4","name":"4_tp0","firebaseconfig":"","childpath":"/4/energy/tp0","method":"set","value":"msg.payload","priority":"msg.priority","x":962.0169801712036,"y":941.632077217102,"wires":[["b04a7e1c.1d57e","f4c10111.25433"]]},{"id":"2d358f66.e61f5","type":"firebase modify","z":"8a4a3f0a.c4bd4","name":"4_tp1","firebaseconfig":"","childpath":"/4/energy/tp1","method":"set","value":"msg.payload","priority":"msg.priority","x":964.6836185455322,"y":1003.6320447921753,"wires":[["6b51549e.36938c","ba99e310.a2bfa"]]},{"id":"9a0eb19f.ae3fc","type":"firebase modify","z":"8a4a3f0a.c4bd4","name":"4_tp2","firebaseconfig":"","childpath":"/4/energy/tp2","method":"set","value":"msg.payload","priority":"msg.priority","x":963.6836595535278,"y":1057.6320390701294,"wires":[["30ae8046.4ce9d","eb83e2b8.78d9c"]]},{"id":"2a2dc9a.5984d36","type":"firebase.once","z":"8a4a3f0a.c4bd4","name":"engt","firebaseconfig":"","childpath":"/4/energy","repeatifnull":false,"eventType":"value","queries":[],"x":602.0170068740845,"y":849.3334045410156,"wires":[["83a059a9.40c9a8","4046da1d.807534","78107c60.5148d4","6615a560.e8c88c"]]},{"id":"30b0e468.74dfdc","type":"firebase.once","z":"8a4a3f0a.c4bd4","name":"powt","firebaseconfig":"","childpath":"/4/power","repeatifnull":false,"eventType":"value","queries":[],"x":586.0172901153564,"y":1485.333475112915,"wires":[["cfa87096.053a3","692120be.7c1f8","19419efb.ef7c01"]]},{"id":"388861f2.d714be","type":"ui_gauge","z":"8a4a3f0a.c4bd4","name":"P0_gag","group":"fbdda603.3c6e48","order":1,"width":"5","height":"4","gtype":"gage","title":"PA","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":400,"wires":[]},{"id":"d5087213.7ef38","type":"ui_gauge","z":"8a4a3f0a.c4bd4","name":"P1_gag","group":"fbdda603.3c6e48","order":2,"width":"5","height":"4","gtype":"gage","title":"PB","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":560,"wires":[]},{"id":"23a79ce6.c7fbf4","type":"ui_gauge","z":"8a4a3f0a.c4bd4","name":"P2_gag","group":"fbdda603.3c6e48","order":3,"width":"5","height":"4","gtype":"gage","title":"PC","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":680,"wires":[]},{"id":"7acb911d.dfc6b","type":"ui_gauge","z":"8a4a3f0a.c4bd4","name":"","group":"2023f620.52739a","order":0,"width":"8","height":"4","gtype":"gage","title":"Energy (kWh)","label":"kWh","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1480,"y":820,"wires":[]},{"id":"5b68222c.f4b76c","type":"ui_chart","z":"8a4a3f0a.c4bd4","name":"","group":"2023f620.52739a","order":0,"width":"10","height":"4","label":"Energy Histrory","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1300,"y":860,"wires":[[],[]]},{"id":"6ef6c12d.ee6b3","type":"ui_toast","z":"8a4a3f0a.c4bd4","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Alarm","name":"Show alarm","x":423.0000228881836,"y":815.0000009536743,"wires":[]},{"id":"f8f3d3b7.085b4","type":"rest publish","z":"8a4a3f0a.c4bd4","name":"energy3Phase","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":1311,"y":734,"wires":[]},{"id":"bde3a99d.c50838","type":"inject","z":"8a4a3f0a.c4bd4","name":"","topic":"reset meter","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":586.6840209960938,"y":995.454833984375,"wires":[["a5c8c42c.9c7878","833b832a.6008a","2d358f66.e61f5","9a0eb19f.ae3fc"]]},{"id":"b84b3463.542c48","type":"mqtt out","z":"8a4a3f0a.c4bd4","name":"","topic":"4_p0","qos":"0","retain":"","broker":"faa41933.fa74e8","x":913,"y":1181,"wires":[]},{"id":"f2d1d241.8ee12","type":"mqtt out","z":"8a4a3f0a.c4bd4","name":"","topic":"4_p1","qos":"0","retain":"","broker":"faa41933.fa74e8","x":911,"y":1239,"wires":[]},{"id":"897539e1.4b9848","type":"mqtt out","z":"8a4a3f0a.c4bd4","name":"","topic":"4_p2","qos":"0","retain":"","broker":"faa41933.fa74e8","x":914,"y":1294,"wires":[]},{"id":"94879c7f.283ac","type":"inject","z":"8a4a3f0a.c4bd4","name":"force_restart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":537,"y":1162,"wires":[["ee8f3557.e53088","447c1751.be0468"]]},{"id":"cff0f615.2832c8","type":"ui_gauge","z":"8a4a3f0a.c4bd4","name":"","group":"95b501bb.43c6e","order":0,"width":"4","height":"4","gtype":"gage","title":"Energy (Node4)","label":"kWhr.","format":"{{value}}","min":0,"max":"10000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1294,"y":772,"wires":[]},{"id":"bce8c82.9a28538","type":"rest publish","z":"8a4a3f0a.c4bd4","name":"power","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":630,"y":460,"wires":[]},{"id":"70c1f822.ce4958","type":"function","z":"8a4a3f0a.c4bd4","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nmsg.topic = \"/\" +msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":456,"wires":[["bce8c82.9a28538"]]},{"id":"2daf1325.1d1b1c","type":"inject","z":"8a4a3f0a.c4bd4","name":"test value","topic":"test","payload":"10000","payloadType":"str","repeat":"5","crontab":"","once":false,"x":530,"y":1240,"wires":[["e0f8f5f1.bfe998","5f672637.aa1fd8","862adc12.a8e0d"]]},{"id":"e0f8f5f1.bfe998","type":"random","z":"8a4a3f0a.c4bd4","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":721,"y":1195,"wires":[["b84b3463.542c48"]]},{"id":"5f672637.aa1fd8","type":"random","z":"8a4a3f0a.c4bd4","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":723,"y":1239,"wires":[["f2d1d241.8ee12"]]},{"id":"862adc12.a8e0d","type":"random","z":"8a4a3f0a.c4bd4","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":723,"y":1287,"wires":[["897539e1.4b9848"]]},{"id":"ced7320.cffb4d","type":"ui_chart","z":"8a4a3f0a.c4bd4","name":"3PGraph","group":"fbdda603.3c6e48","order":9,"width":"19","height":"8","label":"3 Phase graph","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":660,"y":120,"wires":[[],[]]},{"id":"b018bfa1.9389c","type":"function","z":"8a4a3f0a.c4bd4","name":"PA","func":"msg.topic = \"PA\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":40,"wires":[["ced7320.cffb4d","5db95182.4513b"]]},{"id":"4be7e567.0c799c","type":"function","z":"8a4a3f0a.c4bd4","name":"PB","func":"msg.topic = \"PB\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":80,"wires":[["ced7320.cffb4d","5db95182.4513b"]]},{"id":"6d1caca3.1b34b4","type":"function","z":"8a4a3f0a.c4bd4","name":"PC","func":"msg.topic = \"PC\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["ced7320.cffb4d","5db95182.4513b"]]},{"id":"5db95182.4513b","type":"ui_chart","z":"8a4a3f0a.c4bd4","name":"min","group":"ca250388.31b52","order":0,"width":"19","height":"6","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":650,"y":40,"wires":[[],[]]},{"id":"d8a9a571.52f4c8","type":"function","z":"8a4a3f0a.c4bd4","name":"avg_PA","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PA\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":420,"y":180,"wires":[["51f06ab7.9c0804"]]},{"id":"475ce3d4.f9970c","type":"function","z":"8a4a3f0a.c4bd4","name":"avg_PB","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PB\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":420,"y":220,"wires":[["51f06ab7.9c0804"]]},{"id":"f1d5c0fb.876ee","type":"function","z":"8a4a3f0a.c4bd4","name":"avg_PC","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PC\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":420,"y":260,"wires":[["51f06ab7.9c0804"]]},{"id":"51f06ab7.9c0804","type":"ui_chart","z":"8a4a3f0a.c4bd4","name":"hour","group":"73a3cb01.288f34","order":0,"width":"19","height":"6","label":"Average power per min. (W)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":630,"y":220,"wires":[[],[]]},{"id":"2becb2f2.e6021e","type":"function","z":"8a4a3f0a.c4bd4","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["d1ee73ac.0e406"]]},{"id":"30f78999.42fd86","type":"firebase modify","z":"8a4a3f0a.c4bd4","name":"peak0","firebaseconfig":"","childpath":"/Peak/4_PA","method":"set","value":"msg.payload","priority":"msg.priority","x":730,"y":340,"wires":[["3a652318.bb6aac"]]},{"id":"d1ee73ac.0e406","type":"delay","z":"8a4a3f0a.c4bd4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":340,"wires":[["30f78999.42fd86"]]},{"id":"3a652318.bb6aac","type":"ui_text","z":"8a4a3f0a.c4bd4","group":"12c846be.72c319","order":0,"width":"3","height":"1","name":"","label":"PeakA","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":340,"wires":[]},{"id":"54dfc1e8.0f8b5","type":"function","z":"8a4a3f0a.c4bd4","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":410,"y":520,"wires":[["fa22528b.36f8"]]},{"id":"7f89563.bfcd6a8","type":"firebase modify","z":"8a4a3f0a.c4bd4","name":"peak1","firebaseconfig":"","childpath":"/Peak/4_PB","method":"set","value":"msg.payload","priority":"msg.priority","x":730,"y":520,"wires":[["dcd85232.33173"]]},{"id":"fa22528b.36f8","type":"delay","z":"8a4a3f0a.c4bd4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":520,"wires":[["7f89563.bfcd6a8"]]},{"id":"dcd85232.33173","type":"ui_text","z":"8a4a3f0a.c4bd4","group":"12c846be.72c319","order":0,"width":"3","height":"1","name":"","label":"PeakB","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":520,"wires":[]},{"id":"a28f6ac5.8cb278","type":"function","z":"8a4a3f0a.c4bd4","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":410,"y":620,"wires":[["4acac242.8b613c"]]},{"id":"efab98bb.d8cfc8","type":"firebase modify","z":"8a4a3f0a.c4bd4","name":"peak2","firebaseconfig":"","childpath":"/Peak/4_PC","method":"set","value":"msg.payload","priority":"msg.priority","x":730,"y":620,"wires":[["ccebef15.9c4bd"]]},{"id":"4acac242.8b613c","type":"delay","z":"8a4a3f0a.c4bd4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":620,"wires":[["efab98bb.d8cfc8"]]},{"id":"ccebef15.9c4bd","type":"ui_text","z":"8a4a3f0a.c4bd4","group":"12c846be.72c319","order":0,"width":"3","height":"1","name":"","label":"PeakC","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":620,"wires":[]},{"id":"2de714f1.595a0c","type":"inject","z":"8a4a3f0a.c4bd4","name":"write_to_db","topic":"write_to_db","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":110,"y":460,"wires":[["2becb2f2.e6021e","54dfc1e8.0f8b5","a28f6ac5.8cb278"]]},{"id":"c222a03a.f4b1c","type":"mqtt out","z":"8a4a3f0a.c4bd4","name":"m4","topic":"m4","qos":"0","retain":"false","broker":"faa41933.fa74e8","x":510,"y":1700,"wires":[]},{"id":"ab8a1da5.9507c","type":"mqtt out","z":"8a4a3f0a.c4bd4","name":"C4","topic":"C4","qos":"0","retain":"false","broker":"faa41933.fa74e8","x":510,"y":1760,"wires":[]},{"id":"d2ce980a.43ff98","type":"mqtt in","z":"8a4a3f0a.c4bd4","name":"NID","topic":"4","qos":"0","broker":"faa41933.fa74e8","x":150,"y":1700,"wires":[["51206123.4969","c3969f73.59799"]]},{"id":"51206123.4969","type":"function","z":"8a4a3f0a.c4bd4","name":"m","func":"msg.payload = \"60\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1698.9236145019531,"wires":[["c222a03a.f4b1c"]]},{"id":"c3969f73.59799","type":"function","z":"8a4a3f0a.c4bd4","name":"C","func":"msg.payload = \"-2\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1760,"wires":[["ab8a1da5.9507c"]]},{"id":"8b7828cc.13e1d8","type":"function","z":"8a4a3f0a.c4bd4","name":"P_total","func":"var p_total = msg.payload[\"p0\"] + msg.payload[\"p1\"] + msg.payload[\"p2\"];\nmsg.topic = \"Ptotal\";\nmsg.payload = p_total.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":452,"y":1841,"wires":[["cce1cc1a.e9eb9","af2ac270.ae54f","93d2c098.c1e77"]]},{"id":"cce1cc1a.e9eb9","type":"function","z":"8a4a3f0a.c4bd4","name":"P_avg","func":"var pavg = msg.payload/3;\nmsg.payload =pavg.toFixed(2)\nmsg.topic = \"Pavg\";\nreturn msg;","outputs":1,"noerr":0,"x":632,"y":1921,"wires":[["7c956649.7e7058","93d2c098.c1e77"]]},{"id":"af2ac270.ae54f","type":"ui_gauge","z":"8a4a3f0a.c4bd4","name":"Ptotal","group":"fbdda603.3c6e48","order":7,"width":"5","height":"4","gtype":"gage","title":"Ptotal","label":"W","format":"{{value}}","min":0,"max":"300000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":1780,"wires":[]},{"id":"7c956649.7e7058","type":"ui_gauge","z":"8a4a3f0a.c4bd4","name":"Pavg","group":"fbdda603.3c6e48","order":8,"width":"5","height":"4","gtype":"gage","title":"Pavg","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":1980,"wires":[]},{"id":"93d2c098.c1e77","type":"ui_chart","z":"8a4a3f0a.c4bd4","name":"P_grp","group":"fbdda603.3c6e48","order":10,"width":"19","height":"8","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300000","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":850,"y":1840,"wires":[[],[]]},{"id":"e9d015a4.1f47c8","type":"firebase.once","z":"8a4a3f0a.c4bd4","name":"power","firebaseconfig":"","childpath":"4/power","repeatifnull":false,"eventType":"value","queries":[],"x":288,"y":1842,"wires":[["e84b3adf.5ce188","8b7828cc.13e1d8"]]},{"id":"c1786504.dc0cb8","type":"inject","z":"8a4a3f0a.c4bd4","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":126,"y":1842,"wires":[["e9d015a4.1f47c8"]]},{"id":"e84b3adf.5ce188","type":"debug","z":"8a4a3f0a.c4bd4","name":"","active":false,"console":"false","complete":"false","x":452,"y":1961,"wires":[]},{"id":"f8866e66.43737","type":"ui_text","z":"8a4a3f0a.c4bd4","group":"2023f620.52739a","order":0,"width":"3","height":"1","name":"EA","label":"EA","format":"{{msg.payload}}","layout":"row-spread","x":1510,"y":980,"wires":[]},{"id":"2f347f5b.7ca11","type":"ui_text","z":"8a4a3f0a.c4bd4","group":"2023f620.52739a","order":0,"width":"3","height":"1","name":"EB","label":"EB","format":"{{msg.payload}}","layout":"row-spread","x":1510,"y":1040,"wires":[]},{"id":"43f20c26.ae44a4","type":"ui_text","z":"8a4a3f0a.c4bd4","group":"2023f620.52739a","order":0,"width":"3","height":"1","name":"","label":"EC","format":"{{msg.payload}}","layout":"row-spread","x":1510,"y":1100,"wires":[]},{"id":"f4c10111.25433","type":"function","z":"8a4a3f0a.c4bd4","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":980,"wires":[["f8866e66.43737"]]},{"id":"ba99e310.a2bfa","type":"function","z":"8a4a3f0a.c4bd4","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":1040,"wires":[["2f347f5b.7ca11"]]},{"id":"eb83e2b8.78d9c","type":"function","z":"8a4a3f0a.c4bd4","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":1100,"wires":[["43f20c26.ae44a4"]]},{"id":"c6f36116.fb424","type":"function","z":"8a4a3f0a.c4bd4","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":820,"wires":[["7acb911d.dfc6b"]]},{"id":"faa41933.fa74e8","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2460a20d.93c08e","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"fbdda603.3c6e48","type":"ui_group","z":"8a4a3f0a.c4bd4","name":"Monitor","tab":"ef26a31f.b7b4c","order":1,"disp":true,"width":"19"},{"id":"2023f620.52739a","type":"ui_group","z":"8a4a3f0a.c4bd4","name":"Energy","tab":"ef26a31f.b7b4c","order":3,"disp":true,"width":"19"},{"id":"95b501bb.43c6e","type":"ui_group","z":"","name":"Energy","tab":"698253f2.fc01ec","order":2,"disp":true,"width":"19"},{"id":"ca250388.31b52","type":"ui_group","z":"","name":"Node4","tab":"81df91f1.47772","disp":true,"width":"19"},{"id":"73a3cb01.288f34","type":"ui_group","z":"","name":"Node2","tab":"fe70155f.d73d98","order":2,"disp":true,"width":"19"},{"id":"12c846be.72c319","type":"ui_group","z":"","name":"Parameter","tab":"ef26a31f.b7b4c","order":2,"disp":true,"width":"19"},{"id":"ef26a31f.b7b4c","type":"ui_tab","z":"","name":"Node4","icon":"dashboard","order":4},{"id":"698253f2.fc01ec","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":11},{"id":"81df91f1.47772","type":"ui_tab","z":"","name":"Minute resolution","icon":"dashboard","order":12},{"id":"fe70155f.d73d98","type":"ui_tab","z":"","name":"Hour resolution","icon":"dashboard","order":13}]