Node-Red/node-red_clipboard/old/node9.txt
[{"id":"47b302cf.c351fc","type":"mqtt in","z":"a4a9f7b4.cf0168","name":"","topic":"9_p0","qos":"0","broker":"faa41933.fa74e8","x":130,"y":380,"wires":[["5d257197.8ece7","47dacb17.f79d44","34a0d561.9b086a","2c74ea77.cb2c36","ef1eafd.370905"]]},{"id":"fb6b38e.d837fc8","type":"mqtt out","z":"a4a9f7b4.cf0168","name":"","topic":"9_p0_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1140,"y":960,"wires":[]},{"id":"dd4e1411.44e7a8","type":"mqtt in","z":"a4a9f7b4.cf0168","name":"","topic":"9_p1","qos":"0","broker":"faa41933.fa74e8","x":130,"y":560,"wires":[["cb81808e.e146d","47dacb17.f79d44","1ee292e4.84f1ad","3edaee9f.9194d2","da47a9bd.c927f8"]]},{"id":"7fab3568.1a326c","type":"mqtt in","z":"a4a9f7b4.cf0168","name":"","topic":"9_p2","qos":"0","broker":"faa41933.fa74e8","x":130,"y":660,"wires":[["566b49cd.057218","80178088.08044","47dacb17.f79d44","6233110a.7c75f","c846eb66.e35f28","942f5397.aa867"]]},{"id":"5854ba9a.a166f4","type":"mqtt out","z":"a4a9f7b4.cf0168","name":"","topic":"9_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1138.9339036941528,"y":911.4862728118896,"wires":[]},{"id":"278d2fe1.134ad","type":"function","z":"a4a9f7b4.cf0168","name":"e0","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":995.0731010437012,"y":1378.3369145393372,"wires":[["c8712881.7b26f8"]]},{"id":"c5e553f6.8d3d9","type":"function","z":"a4a9f7b4.cf0168","name":"e1","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":986.0902214050293,"y":1488.7815012931824,"wires":[["f1a3e4fd.267d88"]]},{"id":"ef09cea7.e643a","type":"function","z":"a4a9f7b4.cf0168","name":"e2","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":997.0902099609375,"y":1592.3368668556213,"wires":[["95c15fe1.7e554"]]},{"id":"33f4779f.43f268","type":"function","z":"a4a9f7b4.cf0168","name":"et","func":"var e0 = parseFloat(msg.payload.tp0);\nvar e1 = parseFloat(msg.payload.tp1);\nvar e2 = parseFloat(msg.payload.tp2);\nmsg.payload = e0 + e1 + e2;\nreturn msg;","outputs":1,"noerr":0,"x":964.069146156311,"y":877.1286725997925,"wires":[["e9d8b598.9830e8","5854ba9a.a166f4","ea63ac70.8e3c9","b888e3c1.5c634"]]},{"id":"9b37fa23.ce26f8","type":"function","z":"a4a9f7b4.cf0168","name":"p0","func":"var p = parseFloat(msg.payload.p0);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":784.0000219345093,"y":1418.9999947547913,"wires":[["278d2fe1.134ad"]]},{"id":"81757136.3e6cb","type":"function","z":"a4a9f7b4.cf0168","name":"p1","func":"var p = parseFloat(msg.payload.p1);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":781.0172958374023,"y":1487.3335137367249,"wires":[["c5e553f6.8d3d9"]]},{"id":"d46a87dd.5dc078","type":"function","z":"a4a9f7b4.cf0168","name":"p2","func":"var p = parseFloat(msg.payload.p2);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":788.0173072814941,"y":1556.3336205482483,"wires":[["ef09cea7.e643a"]]},{"id":"bd21699d.8f3168","type":"function","z":"a4a9f7b4.cf0168","name":"tp0","func":"var tmp = parseFloat(msg.payload.p0);\nvar tp = parseFloat(msg.payload.tp0);\nmsg.payload = tp + tmp;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":960,"wires":[["ad8c8cc5.e5d3"]]},{"id":"94a41b9c.93f288","type":"function","z":"a4a9f7b4.cf0168","name":"tp1","func":"var tmp = parseFloat(msg.payload.p1);\nvar tp = parseFloat(msg.payload.tp1);\nmsg.payload = tp + tmp;\nreturn msg;","outputs":1,"noerr":0,"x":787.6835985183716,"y":1028.632040977478,"wires":[["9edc5b92.39be78"]]},{"id":"f16357.e24f1ca8","type":"mqtt out","z":"a4a9f7b4.cf0168","name":"","topic":"9_p1_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1150.6835451126099,"y":1030.6320486068726,"wires":[]},{"id":"66575c0c.3f9a04","type":"function","z":"a4a9f7b4.cf0168","name":"tp2","func":"var tmp = parseFloat(msg.payload.p2);\nvar tp = parseFloat(msg.payload.tp2);\nmsg.payload = tp + tmp;\nreturn msg;","outputs":1,"noerr":0,"x":789.6835985183716,"y":1082.632040977478,"wires":[["788012f4.c6de8c"]]},{"id":"b56ddda9.85d3a","type":"mqtt out","z":"a4a9f7b4.cf0168","name":"","topic":"9_p2_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1154.6834869384766,"y":1084.6320400238037,"wires":[]},{"id":"e25316e6.53c8f8","type":"delay","z":"a4a9f7b4.cf0168","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":795.5239534378052,"y":876.8021955490112,"wires":[["33f4779f.43f268"]]},{"id":"e94e8980.12be68","type":"e-mail","z":"a4a9f7b4.cf0168","server":"smtp.gmail.com","port":"465","secure":true,"name":"kchatpeth@gmail.com","dname":"","x":733,"y":774,"wires":[]},{"id":"25cf3036.47bd4","type":"mqtt in","z":"a4a9f7b4.cf0168","name":"Alarm","topic":"Alarm9","qos":"0","broker":"2460a20d.93c08e","x":450,"y":820,"wires":[["ccffe4d3.4a4d28","e94e8980.12be68"]]},{"id":"e2d4edb.1fb311","type":"mqtt out","z":"a4a9f7b4.cf0168","name":"Alarm","topic":"Alarm9","qos":"0","retain":"false","broker":"2460a20d.93c08e","x":230,"y":820,"wires":[]},{"id":"acd26a71.097de8","type":"inject","z":"a4a9f7b4.cf0168","name":"test alarm","topic":"Alarm","payload":"Alarm from node 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":80,"y":820,"wires":[["e2d4edb.1fb311"]]},{"id":"8337b12c.25f43","type":"inject","z":"a4a9f7b4.cf0168","name":"tsmp","topic":"tsmp","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":237,"y":1046,"wires":[["f6f2ef48.fa14a","847c0008.c6cf7","80178088.08044"]]},{"id":"80178088.08044","type":"function","z":"a4a9f7b4.cf0168","name":"checkerr","func":"var count = context.get('count') || 0;\nif(msg.topic == \"tsmp\")\n{\n    count = count + 1;\n}\nelse\n{\n    count = 0;\n}\ncontext.set('count',count);\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"x":407,"y":1046,"wires":[["ffe63fd3.dbd8c"]]},{"id":"997f50c2.1b626","type":"debug","z":"a4a9f7b4.cf0168","name":"restart","active":false,"console":"false","complete":"payload","x":721,"y":1125,"wires":[]},{"id":"ffe63fd3.dbd8c","type":"switch","z":"a4a9f7b4.cf0168","name":"err_no","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"12","vt":"str"}],"checkall":"true","outputs":1,"x":557,"y":1146,"wires":[["abe844.d6d957c","997f50c2.1b626"]]},{"id":"2ca99e68.215442","type":"mqtt out","z":"a4a9f7b4.cf0168","name":"reset","topic":"sw9","qos":"0","retain":"","broker":"faa41933.fa74e8","x":917,"y":1146,"wires":[]},{"id":"abe844.d6d957c","type":"function","z":"a4a9f7b4.cf0168","name":"ESP.restart()","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":743,"y":1170,"wires":[["2ca99e68.215442","cd8b3e2c.ca425","516d97ad.0873a8","a066cd3d.5e13c"]]},{"id":"b888e3c1.5c634","type":"function","z":"a4a9f7b4.cf0168","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nreturn msg;","outputs":1,"noerr":0,"x":1137,"y":760,"wires":[["d7305df8.468fe","eb6c9ba6.692558"]]},{"id":"5d257197.8ece7","type":"firebase modify","z":"a4a9f7b4.cf0168","name":"9_p0","firebaseconfig":"","childpath":"9/power/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":450,"y":420,"wires":[["8f7f81f1.3152e"]]},{"id":"cb81808e.e146d","type":"firebase modify","z":"a4a9f7b4.cf0168","name":"9_p1","firebaseconfig":"","childpath":"9/power/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":450,"y":660,"wires":[["9ac0971b.19ea28"]]},{"id":"566b49cd.057218","type":"firebase modify","z":"a4a9f7b4.cf0168","name":"9_p2","firebaseconfig":"","childpath":"9/power/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":450,"y":720,"wires":[["43a2d58a.e9fa9c"]]},{"id":"c8712881.7b26f8","type":"firebase modify","z":"a4a9f7b4.cf0168","name":"eng0","firebaseconfig":"","childpath":"9/energy/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":1170,"y":1380,"wires":[[]]},{"id":"f1a3e4fd.267d88","type":"firebase modify","z":"a4a9f7b4.cf0168","name":"eng1","firebaseconfig":"","childpath":"9/energy/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":1170,"y":1500,"wires":[[]]},{"id":"95c15fe1.7e554","type":"firebase modify","z":"a4a9f7b4.cf0168","name":"eng2","firebaseconfig":"","childpath":"9/energy/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":1170,"y":1600,"wires":[[]]},{"id":"e9d8b598.9830e8","type":"firebase modify","z":"a4a9f7b4.cf0168","name":"9_eng","firebaseconfig":"","childpath":"9/energy/total","method":"set","value":"msg.payload","priority":"msg.priority","x":1138.0761156082153,"y":851.6216421127319,"wires":[["4953dec0.1378e"]]},{"id":"ad8c8cc5.e5d3","type":"firebase modify","z":"a4a9f7b4.cf0168","name":"9_tp0","firebaseconfig":"","childpath":"9/energy/tp0","method":"set","value":"msg.payload","priority":"msg.priority","x":970,"y":960,"wires":[["fb6b38e.d837fc8","bb713916.1a7698"]]},{"id":"9edc5b92.39be78","type":"firebase modify","z":"a4a9f7b4.cf0168","name":"9_tp1","firebaseconfig":"","childpath":"9/energy/tp1","method":"set","value":"msg.payload","priority":"msg.priority","x":971.6836185455322,"y":1029.6320447921753,"wires":[["f16357.e24f1ca8","aaee303d.a63a5"]]},{"id":"788012f4.c6de8c","type":"firebase modify","z":"a4a9f7b4.cf0168","name":"9_tp2","firebaseconfig":"","childpath":"9/energy/tp2","method":"set","value":"msg.payload","priority":"msg.priority","x":970.6836595535278,"y":1083.6320390701294,"wires":[["b56ddda9.85d3a","a56e2ebd.df014"]]},{"id":"f6f2ef48.fa14a","type":"firebase.once","z":"a4a9f7b4.cf0168","name":"engt","firebaseconfig":"","childpath":"9/energy","repeatifnull":false,"eventType":"value","queries":[],"x":609.0170068740845,"y":875.3334045410156,"wires":[["bd21699d.8f3168","94a41b9c.93f288","66575c0c.3f9a04","e25316e6.53c8f8"]]},{"id":"847c0008.c6cf7","type":"firebase.once","z":"a4a9f7b4.cf0168","name":"powt","firebaseconfig":"","childpath":"9/power","repeatifnull":false,"eventType":"value","queries":[],"x":602.0173015594482,"y":1489.3334822654724,"wires":[["9b37fa23.ce26f8","81757136.3e6cb","d46a87dd.5dc078"]]},{"id":"8f7f81f1.3152e","type":"ui_gauge","z":"a4a9f7b4.cf0168","name":"P0_gag","group":"b1cdac30.246be","order":1,"width":"5","height":"4","gtype":"gage","title":"PA","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":420,"wires":[]},{"id":"9ac0971b.19ea28","type":"ui_gauge","z":"a4a9f7b4.cf0168","name":"P1_gag","group":"b1cdac30.246be","order":2,"width":"5","height":"4","gtype":"gage","title":"PB","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":660,"wires":[]},{"id":"43a2d58a.e9fa9c","type":"ui_gauge","z":"a4a9f7b4.cf0168","name":"P2_gag","group":"b1cdac30.246be","order":3,"width":"5","height":"4","gtype":"gage","title":"PC","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":720,"wires":[]},{"id":"d19b8854.12b278","type":"ui_gauge","z":"a4a9f7b4.cf0168","name":"","group":"884ba7b9.7bc718","order":0,"width":"8","height":"4","gtype":"gage","title":"Energy (kWh)","label":"kWh","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1520,"y":840,"wires":[]},{"id":"83b0b5ed.935588","type":"ui_chart","z":"a4a9f7b4.cf0168","name":"3PGraph","group":"b1cdac30.246be","order":6,"width":"19","height":"8","label":"3 Phase graph","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":700,"y":160,"wires":[[],[]]},{"id":"ea63ac70.8e3c9","type":"ui_chart","z":"a4a9f7b4.cf0168","name":"","group":"884ba7b9.7bc718","order":0,"width":"10","height":"4","label":"Energy Histrory","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1304.9993982315063,"y":878.6216068267822,"wires":[[],[]]},{"id":"ccffe4d3.4a4d28","type":"ui_toast","z":"a4a9f7b4.cf0168","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Alarm","name":"Show alarm","x":703,"y":834,"wires":[]},{"id":"d7305df8.468fe","type":"rest publish","z":"a4a9f7b4.cf0168","name":"energy3Phase","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":1318,"y":760,"wires":[]},{"id":"bdae17a0.91d6b8","type":"inject","z":"a4a9f7b4.cf0168","name":"","topic":"reset meter","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":593.6840209960938,"y":1021.454833984375,"wires":[["e9d8b598.9830e8","ad8c8cc5.e5d3","9edc5b92.39be78","788012f4.c6de8c"]]},{"id":"cd8b3e2c.ca425","type":"mqtt out","z":"a4a9f7b4.cf0168","name":"","topic":"9_p0","qos":"0","retain":"","broker":"faa41933.fa74e8","x":918,"y":1201,"wires":[]},{"id":"516d97ad.0873a8","type":"mqtt out","z":"a4a9f7b4.cf0168","name":"","topic":"9_p1","qos":"0","retain":"","broker":"faa41933.fa74e8","x":916,"y":1259,"wires":[]},{"id":"a066cd3d.5e13c","type":"mqtt out","z":"a4a9f7b4.cf0168","name":"","topic":"9_p2","qos":"0","retain":"","broker":"faa41933.fa74e8","x":919,"y":1314,"wires":[]},{"id":"75d79a49.e138f4","type":"inject","z":"a4a9f7b4.cf0168","name":"force_restart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":570,"y":1200,"wires":[["abe844.d6d957c","997f50c2.1b626"]]},{"id":"eb6c9ba6.692558","type":"ui_gauge","z":"a4a9f7b4.cf0168","name":"","group":"95b501bb.43c6e","order":0,"width":"4","height":"4","gtype":"gage","title":"Energy (Node9)","label":"kWhr.","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1306,"y":801,"wires":[]},{"id":"c5388f96.4f60d","type":"rest publish","z":"a4a9f7b4.cf0168","name":"power","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":670,"y":480,"wires":[]},{"id":"47dacb17.f79d44","type":"function","z":"a4a9f7b4.cf0168","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nmsg.topic = \"/\" +msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":480,"wires":[["c5388f96.4f60d"]]},{"id":"a782d8b8.474298","type":"inject","z":"a4a9f7b4.cf0168","name":"write_to_db","topic":"write_to_db","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":145,"y":492,"wires":[["1ee292e4.84f1ad","6233110a.7c75f","34a0d561.9b086a"]]},{"id":"34a0d561.9b086a","type":"function","z":"a4a9f7b4.cf0168","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":450,"y":360,"wires":[["73ec3c78.b47a34"]]},{"id":"f201aebb.617c9","type":"firebase modify","z":"a4a9f7b4.cf0168","name":"peak0","firebaseconfig":"","childpath":"/Peak/9_PA","method":"set","value":"msg.payload","priority":"msg.priority","x":770,"y":360,"wires":[["60a71fce.99949"]]},{"id":"1ee292e4.84f1ad","type":"function","z":"a4a9f7b4.cf0168","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":450,"y":540,"wires":[["b6c855d6.062b98"]]},{"id":"febce69b.b9c448","type":"firebase modify","z":"a4a9f7b4.cf0168","name":"peak1","firebaseconfig":"","childpath":"Peak/9_PB","method":"set","value":"msg.payload","priority":"msg.priority","x":770,"y":540,"wires":[["332cced1.513652"]]},{"id":"6233110a.7c75f","type":"function","z":"a4a9f7b4.cf0168","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":450,"y":600,"wires":[["9ee6fb3c.a31d28"]]},{"id":"44f32ec6.41248","type":"firebase modify","z":"a4a9f7b4.cf0168","name":"peak2","firebaseconfig":"","childpath":"Peak/9_PC","method":"set","value":"msg.payload","priority":"msg.priority","x":770,"y":600,"wires":[["cdde0622.924968"]]},{"id":"2c74ea77.cb2c36","type":"function","z":"a4a9f7b4.cf0168","name":"PA","func":"msg.topic = \"PA\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":80,"wires":[["83b0b5ed.935588","513e5487.dc795c"]]},{"id":"3edaee9f.9194d2","type":"function","z":"a4a9f7b4.cf0168","name":"PB","func":"msg.topic = \"PB\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":120,"wires":[["83b0b5ed.935588","513e5487.dc795c"]]},{"id":"c846eb66.e35f28","type":"function","z":"a4a9f7b4.cf0168","name":"PC","func":"msg.topic = \"PC\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":160,"wires":[["83b0b5ed.935588","513e5487.dc795c"]]},{"id":"513e5487.dc795c","type":"ui_chart","z":"a4a9f7b4.cf0168","name":"min","group":"b323ac27.fbffc","order":0,"width":"19","height":"6","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":80,"wires":[[],[]]},{"id":"ef1eafd.370905","type":"function","z":"a4a9f7b4.cf0168","name":"avg_PA","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PA\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["c8c1cc19.cbaab"]]},{"id":"da47a9bd.c927f8","type":"function","z":"a4a9f7b4.cf0168","name":"avg_PB","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PB\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":460,"y":260,"wires":[["c8c1cc19.cbaab"]]},{"id":"942f5397.aa867","type":"function","z":"a4a9f7b4.cf0168","name":"avg_PC","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PC\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["c8c1cc19.cbaab"]]},{"id":"c8c1cc19.cbaab","type":"ui_chart","z":"a4a9f7b4.cf0168","name":"hour","group":"192efd0b.e7c3d3","order":0,"width":"19","height":"6","label":"Average power per min. (W)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":670,"y":260,"wires":[[],[]]},{"id":"73ec3c78.b47a34","type":"delay","z":"a4a9f7b4.cf0168","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":360,"wires":[["f201aebb.617c9"]]},{"id":"b6c855d6.062b98","type":"delay","z":"a4a9f7b4.cf0168","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":540,"wires":[["febce69b.b9c448"]]},{"id":"9ee6fb3c.a31d28","type":"delay","z":"a4a9f7b4.cf0168","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":600,"wires":[["44f32ec6.41248"]]},{"id":"9698dba0.791d28","type":"inject","z":"a4a9f7b4.cf0168","name":"test value","topic":"test","payload":"10000","payloadType":"str","repeat":"5","crontab":"","once":false,"x":590,"y":1280,"wires":[["5a8aecc3.0debc4","c19ba408.189768","5763dd.46eedc24"]]},{"id":"5a8aecc3.0debc4","type":"random","z":"a4a9f7b4.cf0168","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":741,"y":1235,"wires":[["cd8b3e2c.ca425"]]},{"id":"c19ba408.189768","type":"random","z":"a4a9f7b4.cf0168","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":743,"y":1279,"wires":[["516d97ad.0873a8"]]},{"id":"5763dd.46eedc24","type":"random","z":"a4a9f7b4.cf0168","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":743,"y":1327,"wires":[["a066cd3d.5e13c"]]},{"id":"60a71fce.99949","type":"ui_text","z":"a4a9f7b4.cf0168","group":"37993c80.e2d804","order":0,"width":"3","height":"1","name":"","label":"PeakA","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":360,"wires":[]},{"id":"332cced1.513652","type":"ui_text","z":"a4a9f7b4.cf0168","group":"37993c80.e2d804","order":0,"width":"3","height":"1","name":"","label":"PeakB","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":540,"wires":[]},{"id":"cdde0622.924968","type":"ui_text","z":"a4a9f7b4.cf0168","group":"37993c80.e2d804","order":0,"width":"3","height":"1","name":"","label":"PeakC","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":600,"wires":[]},{"id":"13ea890e.fb01e7","type":"ui_text","z":"a4a9f7b4.cf0168","group":"884ba7b9.7bc718","order":0,"width":"3","height":"1","name":"EA","label":"EA","format":"{{msg.payload}}","layout":"row-spread","x":1470,"y":1000,"wires":[]},{"id":"bb713916.1a7698","type":"function","z":"a4a9f7b4.cf0168","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1301,"y":1000,"wires":[["13ea890e.fb01e7"]]},{"id":"7d1cdd78.beea24","type":"ui_text","z":"a4a9f7b4.cf0168","group":"884ba7b9.7bc718","order":0,"width":"3","height":"1","name":"EB","label":"EB","format":"{{msg.payload}}","layout":"row-spread","x":1470,"y":1060,"wires":[]},{"id":"aaee303d.a63a5","type":"function","z":"a4a9f7b4.cf0168","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1301,"y":1060,"wires":[["7d1cdd78.beea24"]]},{"id":"b2b8ad38.81054","type":"ui_text","z":"a4a9f7b4.cf0168","group":"884ba7b9.7bc718","order":0,"width":"3","height":"1","name":"","label":"EC","format":"{{msg.payload}}","layout":"row-spread","x":1470,"y":1120,"wires":[]},{"id":"a56e2ebd.df014","type":"function","z":"a4a9f7b4.cf0168","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1301,"y":1120,"wires":[["b2b8ad38.81054"]]},{"id":"482efeac.8a6b2","type":"mqtt out","z":"a4a9f7b4.cf0168","name":"m9","topic":"m9","qos":"0","retain":"false","broker":"faa41933.fa74e8","x":470,"y":1680,"wires":[]},{"id":"29198519.b371ea","type":"mqtt out","z":"a4a9f7b4.cf0168","name":"C9","topic":"C9","qos":"0","retain":"false","broker":"faa41933.fa74e8","x":470,"y":1740,"wires":[]},{"id":"228fc4c.883653c","type":"mqtt in","z":"a4a9f7b4.cf0168","name":"NID","topic":"9","qos":"0","broker":"faa41933.fa74e8","x":110,"y":1680,"wires":[["63fb88f4.2cf168","7761d9e5.7dbc78"]]},{"id":"63fb88f4.2cf168","type":"function","z":"a4a9f7b4.cf0168","name":"m","func":"msg.payload = \"60\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1678.9236145019531,"wires":[["482efeac.8a6b2"]]},{"id":"7761d9e5.7dbc78","type":"function","z":"a4a9f7b4.cf0168","name":"C","func":"msg.payload = \"-2\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1740,"wires":[["29198519.b371ea"]]},{"id":"fc96802.d6c968","type":"function","z":"a4a9f7b4.cf0168","name":"P_total","func":"var p_total = msg.payload[\"p0\"] + msg.payload[\"p1\"] + msg.payload[\"p2\"];\nmsg.topic = \"Ptotal\";\nmsg.payload = p_total.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":412,"y":1821,"wires":[["3808d0c6.4c0fd","97623645.1d3178","66681958.179568","aa664038.08e7e"]]},{"id":"3808d0c6.4c0fd","type":"function","z":"a4a9f7b4.cf0168","name":"P_avg","func":"var pavg = msg.payload/3;\nmsg.payload =pavg.toFixed(2)\nmsg.topic = \"Pavg\";\nreturn msg;","outputs":1,"noerr":0,"x":592,"y":1901,"wires":[["6d089018.737c8","66681958.179568"]]},{"id":"97623645.1d3178","type":"ui_gauge","z":"a4a9f7b4.cf0168","name":"Ptotal","group":"b1cdac30.246be","order":4,"width":"5","height":"4","gtype":"gage","title":"Ptotal","label":"W","format":"{{value}}","min":0,"max":"300000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":1760,"wires":[]},{"id":"6d089018.737c8","type":"ui_gauge","z":"a4a9f7b4.cf0168","name":"Pavg","group":"b1cdac30.246be","order":5,"width":"5","height":"4","gtype":"gage","title":"Pavg","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":1960,"wires":[]},{"id":"66681958.179568","type":"ui_chart","z":"a4a9f7b4.cf0168","name":"P_grp","group":"b1cdac30.246be","order":7,"width":"19","height":"8","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300000","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":1820,"wires":[[],[]]},{"id":"4f84d8d8.306ca8","type":"firebase.once","z":"a4a9f7b4.cf0168","name":"power","firebaseconfig":"","childpath":"9/power","repeatifnull":false,"eventType":"value","queries":[],"x":248,"y":1822,"wires":[["fc96802.d6c968"]]},{"id":"fe3c6220.69856","type":"inject","z":"a4a9f7b4.cf0168","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":86,"y":1822,"wires":[["4f84d8d8.306ca8"]]},{"id":"4953dec0.1378e","type":"function","z":"a4a9f7b4.cf0168","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":840,"wires":[["d19b8854.12b278"]]},{"id":"aa664038.08e7e","type":"firebase modify","z":"a4a9f7b4.cf0168","name":"PT","firebaseconfig":"","childpath":"Peak/9_PT","method":"set","value":"msg.payload","priority":"msg.priority","x":590,"y":1980,"wires":[[]]},{"id":"faa41933.fa74e8","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2460a20d.93c08e","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b1cdac30.246be","type":"ui_group","z":"","name":"Monitor","tab":"d40855ec.474678","order":1,"disp":true,"width":"19"},{"id":"884ba7b9.7bc718","type":"ui_group","z":"","name":"Energy","tab":"d40855ec.474678","order":3,"disp":true,"width":"19"},{"id":"95b501bb.43c6e","type":"ui_group","z":"","name":"Energy","tab":"698253f2.fc01ec","order":2,"disp":true,"width":"19"},{"id":"b323ac27.fbffc","type":"ui_group","z":"","name":"Node9","tab":"81df91f1.47772","disp":true,"width":"19"},{"id":"192efd0b.e7c3d3","type":"ui_group","z":"","name":"Node9","tab":"fe70155f.d73d98","order":8,"disp":true,"width":"19"},{"id":"37993c80.e2d804","type":"ui_group","z":"","name":"Parameter","tab":"d40855ec.474678","order":2,"disp":true,"width":"19"},{"id":"d40855ec.474678","type":"ui_tab","z":"","name":"Node9","icon":"dashboard","order":9},{"id":"698253f2.fc01ec","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":11},{"id":"81df91f1.47772","type":"ui_tab","z":"","name":"Minute resolution","icon":"dashboard","order":12},{"id":"fe70155f.d73d98","type":"ui_tab","z":"","name":"Hour resolution","icon":"dashboard","order":13}]