Node-Red/node-red_clipboard/old/node10.txt
[{"id":"bae6c1ac.9b5bd","type":"mqtt in","z":"7d4f26c2.a59248","name":"","topic":"10_p0","qos":"0","broker":"faa41933.fa74e8","x":210,"y":380,"wires":[["ee47016c.cdbca","7a81399.c9b94c8","6d79011c.997c4","c940daea.a198f8","82ba2fb1.692aa"]]},{"id":"918335f3.1b3038","type":"mqtt out","z":"7d4f26c2.a59248","name":"","topic":"10_p0_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1220,"y":960,"wires":[]},{"id":"bf95bda4.fbe6c","type":"mqtt in","z":"7d4f26c2.a59248","name":"","topic":"10_p1","qos":"0","broker":"faa41933.fa74e8","x":210,"y":560,"wires":[["7b825080.9936d","7a81399.c9b94c8","a5d38ed0.c650b","92810266.6ce7c","7d4ebb3f.f7b0b4"]]},{"id":"523890ba.61749","type":"mqtt in","z":"7d4f26c2.a59248","name":"","topic":"10_p2","qos":"0","broker":"faa41933.fa74e8","x":210,"y":660,"wires":[["8905560b.358528","d54b7602.31db58","7a81399.c9b94c8","cae06f22.5ac6e","c12bedcc.8d366","d59b5051.b20c"]]},{"id":"be3370a.b3d1f9","type":"mqtt out","z":"7d4f26c2.a59248","name":"","topic":"10_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1218.9339036941528,"y":911.4862728118896,"wires":[]},{"id":"ba4f37ff.92daf8","type":"function","z":"7d4f26c2.a59248","name":"e0","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":1075.0731010437012,"y":1378.3369145393372,"wires":[["1f24fbe3.b2c674"]]},{"id":"1ed226e.c0d97d9","type":"function","z":"7d4f26c2.a59248","name":"e1","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":1066.0902214050293,"y":1488.7815012931824,"wires":[["c4412a2e.176ce8"]]},{"id":"c270591a.0f6188","type":"function","z":"7d4f26c2.a59248","name":"e2","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":1077.0902099609375,"y":1592.3368668556213,"wires":[["8dbf9a35.ae93b8"]]},{"id":"d209fcdf.0dbf9","type":"function","z":"7d4f26c2.a59248","name":"et","func":"var e0 = parseFloat(msg.payload.tp0);\nvar e1 = parseFloat(msg.payload.tp1);\nvar e2 = parseFloat(msg.payload.tp2);\nmsg.payload = e0 + e1 + e2;\nreturn msg;","outputs":1,"noerr":0,"x":1044.069146156311,"y":877.1286725997925,"wires":[["75a15e96.34005","be3370a.b3d1f9","38b1e589.a07dda","32d33de7.aca142"]]},{"id":"a8bd5913.5ac888","type":"function","z":"7d4f26c2.a59248","name":"p0","func":"var p = parseFloat(msg.payload.p0);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":864.0000219345093,"y":1418.9999947547913,"wires":[["ba4f37ff.92daf8"]]},{"id":"cf53e7f2.c3a6f8","type":"function","z":"7d4f26c2.a59248","name":"p1","func":"var p = parseFloat(msg.payload.p1);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":861.0172958374023,"y":1487.3335137367249,"wires":[["1ed226e.c0d97d9"]]},{"id":"4b0268ac.6226d8","type":"function","z":"7d4f26c2.a59248","name":"p2","func":"var p = parseFloat(msg.payload.p2);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":868.0173072814941,"y":1556.3336205482483,"wires":[["c270591a.0f6188"]]},{"id":"df132d45.6e963","type":"function","z":"7d4f26c2.a59248","name":"tp0","func":"var tmp = parseFloat(msg.payload.p0);\nvar tp = parseFloat(msg.payload.tp0);\nmsg.payload = tp + tmp;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":960,"wires":[["a6a6a2d3.24643"]]},{"id":"785ff4bd.d5bbcc","type":"function","z":"7d4f26c2.a59248","name":"tp1","func":"var tmp = parseFloat(msg.payload.p1);\nvar tp = parseFloat(msg.payload.tp1);\nmsg.payload = tp + tmp;\nreturn msg;","outputs":1,"noerr":0,"x":867.6835985183716,"y":1028.632040977478,"wires":[["6bca9d95.156314"]]},{"id":"311c88f9.fa3da8","type":"mqtt out","z":"7d4f26c2.a59248","name":"","topic":"10_p1_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1230.6835451126099,"y":1030.6320486068726,"wires":[]},{"id":"eb9d8764.684318","type":"function","z":"7d4f26c2.a59248","name":"tp2","func":"var tmp = parseFloat(msg.payload.p2);\nvar tp = parseFloat(msg.payload.tp2);\nmsg.payload = tp + tmp;\nreturn msg;","outputs":1,"noerr":0,"x":869.6835985183716,"y":1082.632040977478,"wires":[["c005f1f2.39ccc"]]},{"id":"9e06a590.17eea8","type":"mqtt out","z":"7d4f26c2.a59248","name":"","topic":"10_p2_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1234.6834869384766,"y":1084.6320400238037,"wires":[]},{"id":"cbfc67d2.e9db58","type":"delay","z":"7d4f26c2.a59248","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":875.5239534378052,"y":876.8021955490112,"wires":[["d209fcdf.0dbf9"]]},{"id":"5768b5b1.955e6c","type":"e-mail","z":"7d4f26c2.a59248","server":"smtp.gmail.com","port":"465","secure":true,"name":"kchatpeth@gmail.com","dname":"","x":813,"y":774,"wires":[]},{"id":"50a92f8e.52301","type":"mqtt in","z":"7d4f26c2.a59248","name":"Alarm","topic":"Alarm10","qos":"0","broker":"2460a20d.93c08e","x":530,"y":820,"wires":[["906335e.843cbc8","5768b5b1.955e6c"]]},{"id":"c74ea0b.caba06","type":"mqtt out","z":"7d4f26c2.a59248","name":"Alarm","topic":"Alarm10","qos":"0","retain":"false","broker":"2460a20d.93c08e","x":310,"y":820,"wires":[]},{"id":"ddb8c1b6.6a9db","type":"inject","z":"7d4f26c2.a59248","name":"test alarm","topic":"Alarm","payload":"Alarm from node 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":820,"wires":[["c74ea0b.caba06"]]},{"id":"b9ed55b0.1b3598","type":"inject","z":"7d4f26c2.a59248","name":"tsmp","topic":"tsmp","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":317,"y":1046,"wires":[["7f4dcbb5.c52ff4","1fd7c74f.8620b9","d54b7602.31db58"]]},{"id":"d54b7602.31db58","type":"function","z":"7d4f26c2.a59248","name":"checkerr","func":"var count = context.get('count') || 0;\nif(msg.topic == \"tsmp\")\n{\n    count = count + 1;\n}\nelse\n{\n    count = 0;\n}\ncontext.set('count',count);\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"x":487,"y":1046,"wires":[["882be017.52ec5"]]},{"id":"7897c9b0.09dcf8","type":"debug","z":"7d4f26c2.a59248","name":"restart","active":false,"console":"false","complete":"payload","x":801,"y":1125,"wires":[]},{"id":"882be017.52ec5","type":"switch","z":"7d4f26c2.a59248","name":"err_no","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"12","vt":"str"}],"checkall":"true","outputs":1,"x":637,"y":1146,"wires":[["4e987fb9.3ea99","7897c9b0.09dcf8"]]},{"id":"b51c2852.cbdd58","type":"mqtt out","z":"7d4f26c2.a59248","name":"reset","topic":"sw10","qos":"0","retain":"","broker":"faa41933.fa74e8","x":997,"y":1146,"wires":[]},{"id":"4e987fb9.3ea99","type":"function","z":"7d4f26c2.a59248","name":"ESP.restart()","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":823,"y":1170,"wires":[["b51c2852.cbdd58","2dd2f007.50025","48bee06b.2bf01","fdac2511.744c88"]]},{"id":"32d33de7.aca142","type":"function","z":"7d4f26c2.a59248","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nreturn msg;","outputs":1,"noerr":0,"x":1217,"y":760,"wires":[["67c8eb2d.ace1e4","2bbb665f.8b396a"]]},{"id":"ee47016c.cdbca","type":"firebase modify","z":"7d4f26c2.a59248","name":"10_p0","firebaseconfig":"","childpath":"10/power/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":530,"y":420,"wires":[["4ab10e31.12a0d"]]},{"id":"7b825080.9936d","type":"firebase modify","z":"7d4f26c2.a59248","name":"10_p1","firebaseconfig":"","childpath":"10/power/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":530,"y":660,"wires":[["1ead322.e07a6ce"]]},{"id":"8905560b.358528","type":"firebase modify","z":"7d4f26c2.a59248","name":"10_p2","firebaseconfig":"","childpath":"10/power/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":530,"y":720,"wires":[["e07577a2.9aa898"]]},{"id":"1f24fbe3.b2c674","type":"firebase modify","z":"7d4f26c2.a59248","name":"eng0","firebaseconfig":"","childpath":"10/energy/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":1250,"y":1380,"wires":[[]]},{"id":"c4412a2e.176ce8","type":"firebase modify","z":"7d4f26c2.a59248","name":"eng1","firebaseconfig":"","childpath":"10/energy/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":1250,"y":1500,"wires":[[]]},{"id":"8dbf9a35.ae93b8","type":"firebase modify","z":"7d4f26c2.a59248","name":"eng2","firebaseconfig":"","childpath":"10/energy/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":1250,"y":1600,"wires":[[]]},{"id":"75a15e96.34005","type":"firebase modify","z":"7d4f26c2.a59248","name":"10_eng","firebaseconfig":"","childpath":"10/energy/total","method":"set","value":"msg.payload","priority":"msg.priority","x":1228.0761156082153,"y":851.6216421127319,"wires":[["c879001b.18e9c"]]},{"id":"a6a6a2d3.24643","type":"firebase modify","z":"7d4f26c2.a59248","name":"10_tp0","firebaseconfig":"","childpath":"10/energy/tp0","method":"set","value":"msg.payload","priority":"msg.priority","x":1050,"y":960,"wires":[["918335f3.1b3038","d7264546.23e028"]]},{"id":"6bca9d95.156314","type":"firebase modify","z":"7d4f26c2.a59248","name":"10_tp1","firebaseconfig":"","childpath":"10/energy/tp1","method":"set","value":"msg.payload","priority":"msg.priority","x":1051.6836185455322,"y":1029.6320447921753,"wires":[["311c88f9.fa3da8","abfb0b2c.f50608"]]},{"id":"c005f1f2.39ccc","type":"firebase modify","z":"7d4f26c2.a59248","name":"10_tp2","firebaseconfig":"","childpath":"10/energy/tp2","method":"set","value":"msg.payload","priority":"msg.priority","x":1050.6836595535278,"y":1083.6320390701294,"wires":[["9e06a590.17eea8","9dc536.c7074ac8"]]},{"id":"7f4dcbb5.c52ff4","type":"firebase.once","z":"7d4f26c2.a59248","name":"engt","firebaseconfig":"","childpath":"10/energy","repeatifnull":false,"eventType":"value","queries":[],"x":689.0170068740845,"y":875.3334045410156,"wires":[["df132d45.6e963","785ff4bd.d5bbcc","eb9d8764.684318","cbfc67d2.e9db58"]]},{"id":"1fd7c74f.8620b9","type":"firebase.once","z":"7d4f26c2.a59248","name":"powt","firebaseconfig":"","childpath":"10/power","repeatifnull":false,"eventType":"value","queries":[],"x":682.0173015594482,"y":1489.3334822654724,"wires":[["a8bd5913.5ac888","cf53e7f2.c3a6f8","4b0268ac.6226d8"]]},{"id":"4ab10e31.12a0d","type":"ui_gauge","z":"7d4f26c2.a59248","name":"P0_gag","group":"3e9b594f.48d026","order":1,"width":"5","height":"4","gtype":"gage","title":"PA","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":420,"wires":[]},{"id":"1ead322.e07a6ce","type":"ui_gauge","z":"7d4f26c2.a59248","name":"P1_gag","group":"3e9b594f.48d026","order":2,"width":"5","height":"4","gtype":"gage","title":"PB","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":660,"wires":[]},{"id":"e07577a2.9aa898","type":"ui_gauge","z":"7d4f26c2.a59248","name":"P2_gag","group":"3e9b594f.48d026","order":3,"width":"5","height":"4","gtype":"gage","title":"PC","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":720,"wires":[]},{"id":"7d58613d.41e92","type":"ui_gauge","z":"7d4f26c2.a59248","name":"","group":"58314077.0796e","order":0,"width":"8","height":"4","gtype":"gage","title":"Energy (kWh)","label":"kWh","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1600,"y":840,"wires":[]},{"id":"7f8ee63c.f81878","type":"ui_chart","z":"7d4f26c2.a59248","name":"3PGraph","group":"3e9b594f.48d026","order":6,"width":"19","height":"8","label":"3 Phase graph","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":780,"y":160,"wires":[[],[]]},{"id":"38b1e589.a07dda","type":"ui_chart","z":"7d4f26c2.a59248","name":"","group":"58314077.0796e","order":0,"width":"10","height":"4","label":"Energy Histrory","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1384.9993982315063,"y":878.6216068267822,"wires":[[],[]]},{"id":"906335e.843cbc8","type":"ui_toast","z":"7d4f26c2.a59248","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Alarm","name":"Show alarm","x":783,"y":834,"wires":[]},{"id":"67c8eb2d.ace1e4","type":"rest publish","z":"7d4f26c2.a59248","name":"energy3Phase","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":1398,"y":760,"wires":[]},{"id":"9123ff73.afac9","type":"inject","z":"7d4f26c2.a59248","name":"","topic":"reset meter","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":673.6840209960938,"y":1021.454833984375,"wires":[["75a15e96.34005","a6a6a2d3.24643","6bca9d95.156314","c005f1f2.39ccc"]]},{"id":"2dd2f007.50025","type":"mqtt out","z":"7d4f26c2.a59248","name":"","topic":"10_p0","qos":"0","retain":"","broker":"faa41933.fa74e8","x":998,"y":1201,"wires":[]},{"id":"48bee06b.2bf01","type":"mqtt out","z":"7d4f26c2.a59248","name":"","topic":"10_p1","qos":"0","retain":"","broker":"faa41933.fa74e8","x":996,"y":1259,"wires":[]},{"id":"fdac2511.744c88","type":"mqtt out","z":"7d4f26c2.a59248","name":"","topic":"10_p2","qos":"0","retain":"","broker":"faa41933.fa74e8","x":999,"y":1314,"wires":[]},{"id":"423b00e1.dfa76","type":"inject","z":"7d4f26c2.a59248","name":"force_restart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":650,"y":1200,"wires":[["4e987fb9.3ea99","7897c9b0.09dcf8"]]},{"id":"2bbb665f.8b396a","type":"ui_gauge","z":"7d4f26c2.a59248","name":"","group":"95b501bb.43c6e","order":0,"width":"4","height":"4","gtype":"gage","title":"Energy (Node10)","label":"kWhr.","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1396,"y":801,"wires":[]},{"id":"9bf5247.4284dd8","type":"rest publish","z":"7d4f26c2.a59248","name":"power","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":750,"y":480,"wires":[]},{"id":"7a81399.c9b94c8","type":"function","z":"7d4f26c2.a59248","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nmsg.topic = \"/\" +msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":480,"wires":[["9bf5247.4284dd8"]]},{"id":"293580d.393a28","type":"inject","z":"7d4f26c2.a59248","name":"write_to_db","topic":"write_to_db","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":225,"y":492,"wires":[["a5d38ed0.c650b","cae06f22.5ac6e","6d79011c.997c4"]]},{"id":"6d79011c.997c4","type":"function","z":"7d4f26c2.a59248","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":530,"y":360,"wires":[["12930bc1.944664"]]},{"id":"6a6567fe.44dce8","type":"firebase modify","z":"7d4f26c2.a59248","name":"peak0","firebaseconfig":"","childpath":"/Peak/10_PA","method":"set","value":"msg.payload","priority":"msg.priority","x":850,"y":360,"wires":[["d872db41.f3a558"]]},{"id":"a5d38ed0.c650b","type":"function","z":"7d4f26c2.a59248","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":530,"y":540,"wires":[["e305dab8.9cc7c8"]]},{"id":"144a3ed.33973c1","type":"firebase modify","z":"7d4f26c2.a59248","name":"peak1","firebaseconfig":"","childpath":"Peak/10_PB","method":"set","value":"msg.payload","priority":"msg.priority","x":850,"y":540,"wires":[["9f45d774.1c46a8"]]},{"id":"cae06f22.5ac6e","type":"function","z":"7d4f26c2.a59248","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":530,"y":600,"wires":[["21f62472.240c3c"]]},{"id":"495c256.0cc17dc","type":"firebase modify","z":"7d4f26c2.a59248","name":"peak2","firebaseconfig":"","childpath":"Peak/10_PC","method":"set","value":"msg.payload","priority":"msg.priority","x":850,"y":600,"wires":[["69c70542.62faec"]]},{"id":"c940daea.a198f8","type":"function","z":"7d4f26c2.a59248","name":"PA","func":"msg.topic = \"PA\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":80,"wires":[["7f8ee63c.f81878","625a0897.86dfa8"]]},{"id":"92810266.6ce7c","type":"function","z":"7d4f26c2.a59248","name":"PB","func":"msg.topic = \"PB\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":120,"wires":[["7f8ee63c.f81878","625a0897.86dfa8"]]},{"id":"c12bedcc.8d366","type":"function","z":"7d4f26c2.a59248","name":"PC","func":"msg.topic = \"PC\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":160,"wires":[["7f8ee63c.f81878","625a0897.86dfa8"]]},{"id":"625a0897.86dfa8","type":"ui_chart","z":"7d4f26c2.a59248","name":"min","group":"ba260367.dc7db","order":0,"width":"19","height":"6","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":770,"y":80,"wires":[[],[]]},{"id":"82ba2fb1.692aa","type":"function","z":"7d4f26c2.a59248","name":"avg_PA","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PA\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":540,"y":220,"wires":[["cd18a2b2.2bb48"]]},{"id":"7d4ebb3f.f7b0b4","type":"function","z":"7d4f26c2.a59248","name":"avg_PB","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PB\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":540,"y":260,"wires":[["cd18a2b2.2bb48"]]},{"id":"d59b5051.b20c","type":"function","z":"7d4f26c2.a59248","name":"avg_PC","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PC\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":540,"y":300,"wires":[["cd18a2b2.2bb48"]]},{"id":"cd18a2b2.2bb48","type":"ui_chart","z":"7d4f26c2.a59248","name":"hour","group":"db650097.9bdda","order":0,"width":"19","height":"6","label":"Average power per min. (W)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":750,"y":260,"wires":[[],[]]},{"id":"12930bc1.944664","type":"delay","z":"7d4f26c2.a59248","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":360,"wires":[["6a6567fe.44dce8"]]},{"id":"e305dab8.9cc7c8","type":"delay","z":"7d4f26c2.a59248","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":540,"wires":[["144a3ed.33973c1"]]},{"id":"21f62472.240c3c","type":"delay","z":"7d4f26c2.a59248","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":600,"wires":[["495c256.0cc17dc"]]},{"id":"37ccf6b3.35cc7a","type":"inject","z":"7d4f26c2.a59248","name":"test value","topic":"test","payload":"10000","payloadType":"str","repeat":"5","crontab":"","once":false,"x":670,"y":1280,"wires":[["98459d0c.24fa","12419cf0.406a83","8f3ede28.034f4"]]},{"id":"98459d0c.24fa","type":"random","z":"7d4f26c2.a59248","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":821,"y":1235,"wires":[["2dd2f007.50025"]]},{"id":"12419cf0.406a83","type":"random","z":"7d4f26c2.a59248","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":823,"y":1279,"wires":[["48bee06b.2bf01"]]},{"id":"8f3ede28.034f4","type":"random","z":"7d4f26c2.a59248","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":823,"y":1327,"wires":[["fdac2511.744c88"]]},{"id":"d872db41.f3a558","type":"ui_text","z":"7d4f26c2.a59248","group":"6d2bf19c.019a4","order":0,"width":"3","height":"1","name":"","label":"PeakA","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":360,"wires":[]},{"id":"9f45d774.1c46a8","type":"ui_text","z":"7d4f26c2.a59248","group":"6d2bf19c.019a4","order":0,"width":"3","height":"1","name":"","label":"PeakB","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":540,"wires":[]},{"id":"69c70542.62faec","type":"ui_text","z":"7d4f26c2.a59248","group":"6d2bf19c.019a4","order":0,"width":"3","height":"1","name":"","label":"PeakC","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":600,"wires":[]},{"id":"966579d6.8b8c18","type":"ui_text","z":"7d4f26c2.a59248","group":"58314077.0796e","order":0,"width":"3","height":"1","name":"EA","label":"EA","format":"{{msg.payload}}","layout":"row-spread","x":1550,"y":1000,"wires":[]},{"id":"d7264546.23e028","type":"function","z":"7d4f26c2.a59248","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1381,"y":1000,"wires":[["966579d6.8b8c18"]]},{"id":"5efbfd37.3cfac4","type":"ui_text","z":"7d4f26c2.a59248","group":"58314077.0796e","order":0,"width":"3","height":"1","name":"EB","label":"EB","format":"{{msg.payload}}","layout":"row-spread","x":1550,"y":1060,"wires":[]},{"id":"abfb0b2c.f50608","type":"function","z":"7d4f26c2.a59248","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1381,"y":1060,"wires":[["5efbfd37.3cfac4"]]},{"id":"54f7fbf9.7a0ce4","type":"ui_text","z":"7d4f26c2.a59248","group":"58314077.0796e","order":0,"width":"3","height":"1","name":"","label":"EC","format":"{{msg.payload}}","layout":"row-spread","x":1550,"y":1120,"wires":[]},{"id":"9dc536.c7074ac8","type":"function","z":"7d4f26c2.a59248","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1381,"y":1120,"wires":[["54f7fbf9.7a0ce4"]]},{"id":"2acbd106.0af88e","type":"mqtt out","z":"7d4f26c2.a59248","name":"m10","topic":"m10","qos":"0","retain":"false","broker":"faa41933.fa74e8","x":550,"y":1680,"wires":[]},{"id":"74a7b296.62d58c","type":"mqtt out","z":"7d4f26c2.a59248","name":"C10","topic":"C10","qos":"0","retain":"false","broker":"faa41933.fa74e8","x":550,"y":1740,"wires":[]},{"id":"c656b34a.91b26","type":"mqtt in","z":"7d4f26c2.a59248","name":"NID","topic":"10","qos":"0","broker":"faa41933.fa74e8","x":190,"y":1680,"wires":[["ec3f3662.5e1e18","c4491b42.beb848"]]},{"id":"ec3f3662.5e1e18","type":"function","z":"7d4f26c2.a59248","name":"m","func":"msg.payload = \"60\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1678.9236145019531,"wires":[["2acbd106.0af88e"]]},{"id":"c4491b42.beb848","type":"function","z":"7d4f26c2.a59248","name":"C","func":"msg.payload = \"-2\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1740,"wires":[["74a7b296.62d58c"]]},{"id":"fefc32c4.b5ab1","type":"function","z":"7d4f26c2.a59248","name":"P_total","func":"var p_total = msg.payload[\"p0\"] + msg.payload[\"p1\"] + msg.payload[\"p2\"];\nmsg.topic = \"Ptotal\";\nmsg.payload = p_total.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":492,"y":1821,"wires":[["e9ee5e99.1f3ea","c7fba8be.2dff48","891d4a2e.0ea218","60aeed25.0383c4"]]},{"id":"e9ee5e99.1f3ea","type":"function","z":"7d4f26c2.a59248","name":"P_avg","func":"var pavg = msg.payload/3;\nmsg.payload =pavg.toFixed(2)\nmsg.topic = \"Pavg\";\nreturn msg;","outputs":1,"noerr":0,"x":672,"y":1901,"wires":[["34f99767.dc8098","891d4a2e.0ea218"]]},{"id":"c7fba8be.2dff48","type":"ui_gauge","z":"7d4f26c2.a59248","name":"Ptotal","group":"3e9b594f.48d026","order":4,"width":"5","height":"4","gtype":"gage","title":"Ptotal","label":"W","format":"{{value}}","min":0,"max":"300000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":1760,"wires":[]},{"id":"34f99767.dc8098","type":"ui_gauge","z":"7d4f26c2.a59248","name":"Pavg","group":"3e9b594f.48d026","order":5,"width":"5","height":"4","gtype":"gage","title":"Pavg","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":1960,"wires":[]},{"id":"891d4a2e.0ea218","type":"ui_chart","z":"7d4f26c2.a59248","name":"P_grp","group":"3e9b594f.48d026","order":7,"width":"19","height":"8","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300000","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":890,"y":1820,"wires":[[],[]]},{"id":"1d5c688e.5ecd27","type":"firebase.once","z":"7d4f26c2.a59248","name":"power","firebaseconfig":"","childpath":"10/power","repeatifnull":false,"eventType":"value","queries":[],"x":328,"y":1822,"wires":[["fefc32c4.b5ab1"]]},{"id":"da532d8c.fe9e5","type":"inject","z":"7d4f26c2.a59248","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":166,"y":1822,"wires":[["1d5c688e.5ecd27"]]},{"id":"c879001b.18e9c","type":"function","z":"7d4f26c2.a59248","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":840,"wires":[["7d58613d.41e92"]]},{"id":"60aeed25.0383c4","type":"firebase modify","z":"7d4f26c2.a59248","name":"PT","firebaseconfig":"","childpath":"Peak/10_PT","method":"set","value":"msg.payload","priority":"msg.priority","x":670,"y":1980,"wires":[[]]},{"id":"faa41933.fa74e8","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2460a20d.93c08e","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3e9b594f.48d026","type":"ui_group","z":"","name":"Monotor","tab":"7675d697.76d4e8","order":1,"disp":true,"width":"19"},{"id":"58314077.0796e","type":"ui_group","z":"","name":"Energy","tab":"7675d697.76d4e8","order":3,"disp":true,"width":"19"},{"id":"95b501bb.43c6e","type":"ui_group","z":"","name":"Energy","tab":"698253f2.fc01ec","order":2,"disp":true,"width":"19"},{"id":"ba260367.dc7db","type":"ui_group","z":"","name":"Node10","tab":"81df91f1.47772","disp":true,"width":"19"},{"id":"db650097.9bdda","type":"ui_group","z":"","name":"Node10","tab":"fe70155f.d73d98","disp":true,"width":"19"},{"id":"6d2bf19c.019a4","type":"ui_group","z":"","name":"Parameter","tab":"7675d697.76d4e8","order":2,"disp":true,"width":"19"},{"id":"7675d697.76d4e8","type":"ui_tab","z":"","name":"Node10","icon":"dashboard","order":10},{"id":"698253f2.fc01ec","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":11},{"id":"81df91f1.47772","type":"ui_tab","z":"","name":"Minute resolution","icon":"dashboard","order":12},{"id":"fe70155f.d73d98","type":"ui_tab","z":"","name":"Hour resolution","icon":"dashboard","order":13}]