Node-Red/node-red_clipboard/old/node5.txt
[{"id":"cbd05c1d.572af","type":"mqtt in","z":"6596b98.b253548","name":"","topic":"5_p0","qos":"0","broker":"faa41933.fa74e8","x":170,"y":340,"wires":[["80b75159.5d531","d932b6ba.2cbf08","8a6ca6a9.8891c8","9bf7042c.81ba28","fb36db15.68db78"]]},{"id":"64b78189.17b5a","type":"mqtt out","z":"6596b98.b253548","name":"","topic":"5_p0_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1160,"y":900,"wires":[]},{"id":"58fc51d9.c1188","type":"mqtt in","z":"6596b98.b253548","name":"","topic":"5_p1","qos":"0","broker":"faa41933.fa74e8","x":170,"y":500,"wires":[["4268eb8d.1748d4","d932b6ba.2cbf08","d25a0a68.d67888","246a6461.23bd5c","ea2ba27.472566"]]},{"id":"2e50fd0b.86d522","type":"mqtt in","z":"6596b98.b253548","name":"","topic":"5_p2","qos":"0","broker":"faa41933.fa74e8","x":170,"y":620,"wires":[["452456f3.35cae8","445f045a.2c4dcc","d932b6ba.2cbf08","d95faf26.d7d75","c78b937d.26e42","657edd81.91b3f4"]]},{"id":"27de813c.02f75e","type":"mqtt out","z":"6596b98.b253548","name":"","topic":"5_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1151.9339036941528,"y":845.4862728118896,"wires":[]},{"id":"541b8ffe.43832","type":"debug","z":"6596b98.b253548","name":"","active":false,"console":"false","complete":"false","x":1201.0140571594238,"y":1329.7744135856628,"wires":[]},{"id":"b17302fd.71884","type":"function","z":"6596b98.b253548","name":"e0","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":995.0731201171875,"y":1354.3369140625,"wires":[["541b8ffe.43832","856a790b.3d17a8"]]},{"id":"a840eb9e.3d8178","type":"debug","z":"6596b98.b253548","name":"","active":false,"console":"false","complete":"false","x":1163.03120803833,"y":1437.2189674377441,"wires":[]},{"id":"b63b407b.44752","type":"function","z":"6596b98.b253548","name":"e1","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":986.0902404785156,"y":1464.7815008163452,"wires":[["a840eb9e.3d8178","a559035a.4de8e"]]},{"id":"5df9a09d.495ab","type":"debug","z":"6596b98.b253548","name":"","active":false,"console":"false","complete":"false","x":1174.0311965942383,"y":1540.774333000183,"wires":[]},{"id":"35e1515f.d84bae","type":"function","z":"6596b98.b253548","name":"e2","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":997.0902290344238,"y":1568.3368663787842,"wires":[["5df9a09d.495ab","42dd7f55.4816"]]},{"id":"63e659e3.275bd8","type":"function","z":"6596b98.b253548","name":"et","func":"var e0 = parseFloat(msg.payload.tp0);\nvar e1 = parseFloat(msg.payload.tp1);\nvar e2 = parseFloat(msg.payload.tp2);\nmsg.payload = e0 + e1 + e2;\nmsg.topic = \"/5/3e\";\nreturn msg;","outputs":1,"noerr":0,"x":977.069146156311,"y":811.1286725997925,"wires":[["ce9eb7df.4b2728","27de813c.02f75e","3c6c7ce0.131374","74e5e488.5e945c"]]},{"id":"32ae1c08.aaf4f4","type":"function","z":"6596b98.b253548","name":"p0","func":"var p = parseFloat(msg.payload.p0);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":784.0000410079956,"y":1394.999994277954,"wires":[["b17302fd.71884"]]},{"id":"6a4eeaaa.630cd4","type":"function","z":"6596b98.b253548","name":"p1","func":"var p = parseFloat(msg.payload.p1);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":781.0173149108887,"y":1463.3335132598877,"wires":[["b63b407b.44752"]]},{"id":"e3dd1aa.5e695e8","type":"function","z":"6596b98.b253548","name":"p2","func":"var p = parseFloat(msg.payload.p2);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":788.0173263549805,"y":1532.3336200714111,"wires":[["35e1515f.d84bae"]]},{"id":"ba1ff45.43dea08","type":"function","z":"6596b98.b253548","name":"tp0","func":"var tmp = parseFloat(msg.payload.p0);\nvar tp = parseFloat(msg.payload.tp0);\nmsg.payload = tp + tmp;\nmsg.topic = \"/5/e0\";\nreturn msg;","outputs":1,"noerr":0,"x":801.0230722427368,"y":901.6607246398926,"wires":[["222862cf.4d7afe"]]},{"id":"45848f8f.c5b91","type":"function","z":"6596b98.b253548","name":"tp1","func":"var tmp = parseFloat(msg.payload.p1);\nvar tp = parseFloat(msg.payload.tp1);\nmsg.payload = tp + tmp;\nmsg.topic = \"/5/e1\";\nreturn msg;","outputs":1,"noerr":0,"x":800.6835985183716,"y":962.632040977478,"wires":[["b626c0ae.8ccab"]]},{"id":"d705a5ac.efee78","type":"mqtt out","z":"6596b98.b253548","name":"","topic":"5_p1_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1163.6835451126099,"y":964.6320486068726,"wires":[]},{"id":"ca28df63.b2211","type":"function","z":"6596b98.b253548","name":"tp2","func":"var tmp = parseFloat(msg.payload.p2);\nvar tp = parseFloat(msg.payload.tp2);\nmsg.payload = tp + tmp;\nmsg.topic = \"/5/e2\";\nreturn msg;","outputs":1,"noerr":0,"x":802.6835985183716,"y":1016.632040977478,"wires":[["10bd802e.c7fbb"]]},{"id":"c0eeb4a1.75a238","type":"mqtt out","z":"6596b98.b253548","name":"","topic":"5_p2_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1167.6834869384766,"y":1018.6320400238037,"wires":[]},{"id":"6dc75317.fb3adc","type":"delay","z":"6596b98.b253548","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":808.5239534378052,"y":810.8021955490112,"wires":[["63e659e3.275bd8"]]},{"id":"af2369bf.05ac98","type":"e-mail","z":"6596b98.b253548","server":"smtp.gmail.com","port":"465","secure":true,"name":"kchatpeth@gmail.com","dname":"","x":620,"y":700,"wires":[]},{"id":"3f054f0a.fcadd","type":"mqtt in","z":"6596b98.b253548","name":"Alarm","topic":"Alarm5","qos":"0","broker":"2460a20d.93c08e","x":390,"y":740,"wires":[["1d4d5950.905a37","af2369bf.05ac98"]]},{"id":"1ca81cde.19d9e3","type":"mqtt out","z":"6596b98.b253548","name":"Alarm","topic":"Alarm5","qos":"0","retain":"","broker":"2460a20d.93c08e","x":390,"y":840,"wires":[]},{"id":"3198545c.b6ff5c","type":"inject","z":"6596b98.b253548","name":"test alarm","topic":"Alarm","payload":"Alarm from node 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":840,"wires":[["1ca81cde.19d9e3"]]},{"id":"254b1418.52c43c","type":"inject","z":"6596b98.b253548","name":"tsmp","topic":"tsmp","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":250,"y":980,"wires":[["c313062.ae1d9f8","f00453f7.26696","445f045a.2c4dcc"]]},{"id":"445f045a.2c4dcc","type":"function","z":"6596b98.b253548","name":"checkerr","func":"var count = context.get('count') || 0;\nif(msg.topic == \"tsmp\")\n{\n    count = count + 1;\n}\nelse\n{\n    count = 0;\n}\ncontext.set('count',count);\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":980,"wires":[["c59af846.d840e8"]]},{"id":"e27c9181.900f3","type":"debug","z":"6596b98.b253548","name":"reset","active":false,"console":"false","complete":"payload","x":727,"y":1080,"wires":[]},{"id":"c59af846.d840e8","type":"switch","z":"6596b98.b253548","name":"err_no","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"12","vt":"str"}],"checkall":"true","outputs":1,"x":570,"y":1080,"wires":[["490ea518.c7cc0c","e27c9181.900f3"]]},{"id":"9e3c8f8b.0460d","type":"mqtt out","z":"6596b98.b253548","name":"reset","topic":"sw5","qos":"0","retain":"","broker":"faa41933.fa74e8","x":930,"y":1080,"wires":[]},{"id":"490ea518.c7cc0c","type":"function","z":"6596b98.b253548","name":"ESP.restart()","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1119,"wires":[["9e3c8f8b.0460d","edddf89c.4f0918","2a814ec0.9c8f52","84392b32.6813d8"]]},{"id":"74e5e488.5e945c","type":"function","z":"6596b98.b253548","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":694,"wires":[["d19b7a25.f09138","9dba97e4.064d08"]]},{"id":"80b75159.5d531","type":"firebase modify","z":"6596b98.b253548","name":"5_p0","firebaseconfig":"","childpath":"/5/power/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":390,"y":340,"wires":[["7a856d2a.1f36e4"]]},{"id":"4268eb8d.1748d4","type":"firebase modify","z":"6596b98.b253548","name":"5_p1","firebaseconfig":"","childpath":"/5/power/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":397.1006889343262,"y":521.5655426979065,"wires":[["9e5951ea.9ffa5"]]},{"id":"452456f3.35cae8","type":"firebase modify","z":"6596b98.b253548","name":"5_p2","firebaseconfig":"","childpath":"/5/power/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":392.1007194519043,"y":641.2257423400879,"wires":[["d7740d6e.cb1f6"]]},{"id":"856a790b.3d17a8","type":"firebase modify","z":"6596b98.b253548","name":"eng0","firebaseconfig":"","childpath":"/5/energy/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":1184.0175857543945,"y":1379.4446210861206,"wires":[[]]},{"id":"a559035a.4de8e","type":"firebase modify","z":"6596b98.b253548","name":"eng1","firebaseconfig":"","childpath":"/5/energy/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":1146.0346412658691,"y":1485.8891620635986,"wires":[[]]},{"id":"42dd7f55.4816","type":"firebase modify","z":"6596b98.b253548","name":"eng2","firebaseconfig":"","childpath":"/5/energy/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":1158.0346183776855,"y":1584.4445114135742,"wires":[[]]},{"id":"ce9eb7df.4b2728","type":"firebase modify","z":"6596b98.b253548","name":"5_eng","firebaseconfig":"","childpath":"/5/energy/total","method":"set","value":"msg.payload","priority":"msg.priority","x":1151.0761156082153,"y":785.6216421127319,"wires":[["e86e4827.b85a38"]]},{"id":"222862cf.4d7afe","type":"firebase modify","z":"6596b98.b253548","name":"5_tp0","firebaseconfig":"","childpath":"/5/energy/tp0","method":"set","value":"msg.payload","priority":"msg.priority","x":982.0169801712036,"y":901.632077217102,"wires":[["64b78189.17b5a","44a3e26.9eb591c"]]},{"id":"b626c0ae.8ccab","type":"firebase modify","z":"6596b98.b253548","name":"5_tp1","firebaseconfig":"","childpath":"/5/energy/tp1","method":"set","value":"msg.payload","priority":"msg.priority","x":984.6836185455322,"y":963.6320447921753,"wires":[["d705a5ac.efee78","b850dc87.9eefc"]]},{"id":"10bd802e.c7fbb","type":"firebase modify","z":"6596b98.b253548","name":"5_tp2","firebaseconfig":"","childpath":"/5/energy/tp2","method":"set","value":"msg.payload","priority":"msg.priority","x":983.6836595535278,"y":1017.6320390701294,"wires":[["c0eeb4a1.75a238","873a0b03.fcfde8"]]},{"id":"c313062.ae1d9f8","type":"firebase.once","z":"6596b98.b253548","name":"engt","firebaseconfig":"","childpath":"/5/energy","repeatifnull":false,"eventType":"value","queries":[],"x":622.0170068740845,"y":809.3334045410156,"wires":[["ba1ff45.43dea08","45848f8f.c5b91","ca28df63.b2211","6dc75317.fb3adc"]]},{"id":"f00453f7.26696","type":"firebase.once","z":"6596b98.b253548","name":"powt","firebaseconfig":"","childpath":"/5/power","repeatifnull":false,"eventType":"value","queries":[],"x":602.0173206329346,"y":1465.3334817886353,"wires":[["32ae1c08.aaf4f4","6a4eeaaa.630cd4","e3dd1aa.5e695e8"]]},{"id":"7a856d2a.1f36e4","type":"ui_gauge","z":"6596b98.b253548","name":"P0_gag","group":"51afed8b.138c94","order":3,"width":"5","height":"4","gtype":"gage","title":"PA","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":340,"wires":[]},{"id":"9e5951ea.9ffa5","type":"ui_gauge","z":"6596b98.b253548","name":"P1_gag","group":"51afed8b.138c94","order":3,"width":"5","height":"4","gtype":"gage","title":"PB","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":520,"wires":[]},{"id":"d7740d6e.cb1f6","type":"ui_gauge","z":"6596b98.b253548","name":"P2_gag","group":"51afed8b.138c94","order":3,"width":"5","height":"4","gtype":"gage","title":"PC","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":640,"wires":[]},{"id":"ee7ea001.4516f","type":"ui_gauge","z":"6596b98.b253548","name":"","group":"e37f0186.6550d","order":0,"width":"8","height":"4","gtype":"gage","title":"Energy (kWh)","label":"kWh","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1520,"y":780,"wires":[]},{"id":"3c6c7ce0.131374","type":"ui_chart","z":"6596b98.b253548","name":"","group":"e37f0186.6550d","order":0,"width":"10","height":"4","label":"Energy Histrory","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1320,"y":820,"wires":[[],[]]},{"id":"1d4d5950.905a37","type":"ui_toast","z":"6596b98.b253548","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Alarm","name":"Show alarm","x":590,"y":760,"wires":[]},{"id":"d19b7a25.f09138","type":"rest publish","z":"6596b98.b253548","name":"energy3Phase","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":1331,"y":694,"wires":[]},{"id":"742e3f7c.c035b","type":"inject","z":"6596b98.b253548","name":"","topic":"reset meter","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":597.0798492431641,"y":949.069504737854,"wires":[["222862cf.4d7afe","b626c0ae.8ccab","10bd802e.c7fbb","ce9eb7df.4b2728"]]},{"id":"edddf89c.4f0918","type":"mqtt out","z":"6596b98.b253548","name":"","topic":"5_p0","qos":"0","retain":"","broker":"faa41933.fa74e8","x":931,"y":1137,"wires":[]},{"id":"2a814ec0.9c8f52","type":"mqtt out","z":"6596b98.b253548","name":"","topic":"5_p1","qos":"0","retain":"","broker":"faa41933.fa74e8","x":929,"y":1195,"wires":[]},{"id":"84392b32.6813d8","type":"mqtt out","z":"6596b98.b253548","name":"","topic":"5_p2","qos":"0","retain":"","broker":"faa41933.fa74e8","x":932,"y":1250,"wires":[]},{"id":"a480cbba.636908","type":"inject","z":"6596b98.b253548","name":"force_restart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":553,"y":1120,"wires":[["e27c9181.900f3","490ea518.c7cc0c"]]},{"id":"9dba97e4.064d08","type":"ui_gauge","z":"6596b98.b253548","name":"","group":"95b501bb.43c6e","order":0,"width":"4","height":"4","gtype":"gage","title":"Energy (Node5)","label":"kWhr.","format":"{{value}}","min":0,"max":"10000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1320,"y":734,"wires":[]},{"id":"1764e7a9.3ba1a8","type":"rest publish","z":"6596b98.b253548","name":"power","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":650,"y":420,"wires":[]},{"id":"d932b6ba.2cbf08","type":"function","z":"6596b98.b253548","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nmsg.topic = \"/\" +msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":420,"wires":[["1764e7a9.3ba1a8"]]},{"id":"d01c3ea0.4e6af","type":"inject","z":"6596b98.b253548","name":"test value","topic":"test","payload":"10000","payloadType":"str","repeat":"5","crontab":"","once":false,"x":550,"y":1200,"wires":[["70c71dc4.e6ff94","e682c4.2515bd4","37015eb0.661a52"]]},{"id":"70c71dc4.e6ff94","type":"random","z":"6596b98.b253548","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":741,"y":1155,"wires":[["edddf89c.4f0918"]]},{"id":"e682c4.2515bd4","type":"random","z":"6596b98.b253548","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":743,"y":1199,"wires":[["2a814ec0.9c8f52"]]},{"id":"37015eb0.661a52","type":"random","z":"6596b98.b253548","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":743,"y":1247,"wires":[["84392b32.6813d8"]]},{"id":"b0a77b4d.370558","type":"ui_chart","z":"6596b98.b253548","name":"3PGraph","group":"51afed8b.138c94","order":6,"width":"19","height":"8","label":"3 Phase graph","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":660,"y":120,"wires":[[],[]]},{"id":"8a6ca6a9.8891c8","type":"function","z":"6596b98.b253548","name":"PA","func":"msg.topic = \"PA\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":40,"wires":[["b0a77b4d.370558","20678cbe.ca98d4"]]},{"id":"d25a0a68.d67888","type":"function","z":"6596b98.b253548","name":"PB","func":"msg.topic = \"PB\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":80,"wires":[["b0a77b4d.370558","20678cbe.ca98d4"]]},{"id":"d95faf26.d7d75","type":"function","z":"6596b98.b253548","name":"PC","func":"msg.topic = \"PC\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["b0a77b4d.370558","20678cbe.ca98d4"]]},{"id":"20678cbe.ca98d4","type":"ui_chart","z":"6596b98.b253548","name":"min","group":"48aabc2e.8cb7f4","order":0,"width":"19","height":"6","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":650,"y":40,"wires":[[],[]]},{"id":"9bf7042c.81ba28","type":"function","z":"6596b98.b253548","name":"avg_PA","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PA\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":420,"y":160,"wires":[["1d07a4ec.09a03b"]]},{"id":"246a6461.23bd5c","type":"function","z":"6596b98.b253548","name":"avg_PB","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PB\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["1d07a4ec.09a03b"]]},{"id":"c78b937d.26e42","type":"function","z":"6596b98.b253548","name":"avg_PC","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PC\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["1d07a4ec.09a03b"]]},{"id":"1d07a4ec.09a03b","type":"ui_chart","z":"6596b98.b253548","name":"hour","group":"22350f07.58ba1","order":0,"width":"19","height":"6","label":"Average power per min. (W)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":650,"y":200,"wires":[[],[]]},{"id":"fb36db15.68db78","type":"function","z":"6596b98.b253548","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["6c573aae.caef54"]]},{"id":"419eddd9.b194b4","type":"firebase modify","z":"6596b98.b253548","name":"peak0","firebaseconfig":"","childpath":"/Peak/5_PA","method":"set","value":"msg.payload","priority":"msg.priority","x":730,"y":300,"wires":[["24b2ea0b.a84ae6"]]},{"id":"6c573aae.caef54","type":"delay","z":"6596b98.b253548","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":300,"wires":[["419eddd9.b194b4"]]},{"id":"24b2ea0b.a84ae6","type":"ui_text","z":"6596b98.b253548","group":"fe89cfa3.3132","order":0,"width":"3","height":"1","name":"","label":"PeakA","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":300,"wires":[]},{"id":"ea2ba27.472566","type":"function","z":"6596b98.b253548","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["fce6d9a4.4b3ae8"]]},{"id":"4e8f849c.06e79c","type":"firebase modify","z":"6596b98.b253548","name":"peak1","firebaseconfig":"","childpath":"/Peak/5_PB","method":"set","value":"msg.payload","priority":"msg.priority","x":730,"y":380,"wires":[["dbc687c7.6674d8"]]},{"id":"fce6d9a4.4b3ae8","type":"delay","z":"6596b98.b253548","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":380,"wires":[["4e8f849c.06e79c"]]},{"id":"dbc687c7.6674d8","type":"ui_text","z":"6596b98.b253548","group":"fe89cfa3.3132","order":0,"width":"3","height":"1","name":"","label":"PeakA","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":380,"wires":[]},{"id":"657edd81.91b3f4","type":"function","z":"6596b98.b253548","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":410,"y":480,"wires":[["f7560c10.15126"]]},{"id":"573a550b.0f5cdc","type":"firebase modify","z":"6596b98.b253548","name":"peak2","firebaseconfig":"","childpath":"/Peak/5_PC","method":"set","value":"msg.payload","priority":"msg.priority","x":730,"y":480,"wires":[["d62c0673.0be168"]]},{"id":"f7560c10.15126","type":"delay","z":"6596b98.b253548","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":480,"wires":[["573a550b.0f5cdc"]]},{"id":"d62c0673.0be168","type":"ui_text","z":"6596b98.b253548","group":"fe89cfa3.3132","order":0,"width":"3","height":"1","name":"","label":"PeakA","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":480,"wires":[]},{"id":"88b1225c.00006","type":"mqtt out","z":"6596b98.b253548","name":"m5","topic":"m5","qos":"0","retain":"false","broker":"faa41933.fa74e8","x":530,"y":1580,"wires":[]},{"id":"da03fb14.705708","type":"mqtt out","z":"6596b98.b253548","name":"C5","topic":"C5","qos":"0","retain":"false","broker":"faa41933.fa74e8","x":530,"y":1640,"wires":[]},{"id":"4c1815f0.9cb75c","type":"mqtt in","z":"6596b98.b253548","name":"NID","topic":"5","qos":"0","broker":"faa41933.fa74e8","x":170,"y":1580,"wires":[["bd224515.901388","fa38c2d8.025eb"]]},{"id":"bd224515.901388","type":"function","z":"6596b98.b253548","name":"m","func":"msg.payload = \"60\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1578.9236145019531,"wires":[["88b1225c.00006"]]},{"id":"fa38c2d8.025eb","type":"function","z":"6596b98.b253548","name":"C","func":"msg.payload = \"-2\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1640,"wires":[["da03fb14.705708"]]},{"id":"89182756.ca02e8","type":"function","z":"6596b98.b253548","name":"P_total","func":"var p_total = msg.payload[\"p0\"] + msg.payload[\"p1\"] + msg.payload[\"p2\"];\nmsg.topic = \"Ptotal\";\nmsg.payload = p_total.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":472,"y":1721,"wires":[["dd5e2125.23096","b91e4baf.7f7458","5a0a7f44.09d1e"]]},{"id":"dd5e2125.23096","type":"function","z":"6596b98.b253548","name":"P_avg","func":"var pavg = msg.payload/3;\nmsg.payload =pavg.toFixed(2)\nmsg.topic = \"Pavg\";\nreturn msg;","outputs":1,"noerr":0,"x":652,"y":1801,"wires":[["b4210c51.a78f9","5a0a7f44.09d1e"]]},{"id":"b91e4baf.7f7458","type":"ui_gauge","z":"6596b98.b253548","name":"Ptotal","group":"51afed8b.138c94","order":4,"width":"5","height":"4","gtype":"gage","title":"Ptotal","label":"W","format":"{{value}}","min":0,"max":"300000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":1660,"wires":[]},{"id":"b4210c51.a78f9","type":"ui_gauge","z":"6596b98.b253548","name":"Pavg","group":"51afed8b.138c94","order":5,"width":"5","height":"4","gtype":"gage","title":"Pavg","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":1860,"wires":[]},{"id":"5a0a7f44.09d1e","type":"ui_chart","z":"6596b98.b253548","name":"P_grp","group":"51afed8b.138c94","order":7,"width":"19","height":"8","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300000","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":870,"y":1720,"wires":[[],[]]},{"id":"2e477c5.ec9a284","type":"firebase.once","z":"6596b98.b253548","name":"power","firebaseconfig":"","childpath":"5/power","repeatifnull":false,"eventType":"value","queries":[],"x":308,"y":1722,"wires":[["e33a2668.1260b8","89182756.ca02e8"]]},{"id":"f5a5f16f.94564","type":"inject","z":"6596b98.b253548","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":146,"y":1722,"wires":[["2e477c5.ec9a284"]]},{"id":"e33a2668.1260b8","type":"debug","z":"6596b98.b253548","name":"","active":false,"console":"false","complete":"false","x":472,"y":1841,"wires":[]},{"id":"9e4a380b.585aa8","type":"ui_text","z":"6596b98.b253548","group":"e37f0186.6550d","order":0,"width":"3","height":"1","name":"EA","label":"EA","format":"{{msg.payload}}","layout":"row-spread","x":1510,"y":940,"wires":[]},{"id":"44a3e26.9eb591c","type":"function","z":"6596b98.b253548","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1341,"y":940,"wires":[["9e4a380b.585aa8"]]},{"id":"fd4784ca.4fcc08","type":"ui_text","z":"6596b98.b253548","group":"e37f0186.6550d","order":0,"width":"3","height":"1","name":"EB","label":"EB","format":"{{msg.payload}}","layout":"row-spread","x":1510,"y":1000,"wires":[]},{"id":"b850dc87.9eefc","type":"function","z":"6596b98.b253548","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1341,"y":1000,"wires":[["fd4784ca.4fcc08"]]},{"id":"bf0c3206.aae12","type":"ui_text","z":"6596b98.b253548","group":"e37f0186.6550d","order":0,"width":"3","height":"1","name":"","label":"EC","format":"{{msg.payload}}","layout":"row-spread","x":1510,"y":1060,"wires":[]},{"id":"873a0b03.fcfde8","type":"function","z":"6596b98.b253548","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1341,"y":1060,"wires":[["bf0c3206.aae12"]]},{"id":"e86e4827.b85a38","type":"function","z":"6596b98.b253548","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":780,"wires":[["ee7ea001.4516f"]]},{"id":"faa41933.fa74e8","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2460a20d.93c08e","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"51afed8b.138c94","type":"ui_group","z":"6596b98.b253548","name":"Monitor","tab":"ab571ff9.03f0d","order":1,"disp":true,"width":"19"},{"id":"e37f0186.6550d","type":"ui_group","z":"6596b98.b253548","name":"Energy","tab":"ab571ff9.03f0d","order":3,"disp":true,"width":"19"},{"id":"95b501bb.43c6e","type":"ui_group","z":"","name":"Energy","tab":"698253f2.fc01ec","order":2,"disp":true,"width":"19"},{"id":"48aabc2e.8cb7f4","type":"ui_group","z":"","name":"Node5","tab":"81df91f1.47772","disp":true,"width":"19"},{"id":"22350f07.58ba1","type":"ui_group","z":"","name":"Node5","tab":"fe70155f.d73d98","order":4,"disp":true,"width":"19"},{"id":"fe89cfa3.3132","type":"ui_group","z":"","name":"Parameter","tab":"ab571ff9.03f0d","order":2,"disp":true,"width":"19"},{"id":"ab571ff9.03f0d","type":"ui_tab","z":"","name":"Node5","icon":"dashboard","order":5},{"id":"698253f2.fc01ec","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":11},{"id":"81df91f1.47772","type":"ui_tab","z":"","name":"Minute resolution","icon":"dashboard","order":12},{"id":"fe70155f.d73d98","type":"ui_tab","z":"","name":"Hour resolution","icon":"dashboard","order":13}]