Node-Red/node-red_clipboard/old/node7.txt
[{"id":"86993927.001968","type":"mqtt in","z":"dfef8f7e.e2dd7","name":"","topic":"7_p0","qos":"0","broker":"faa41933.fa74e8","x":130,"y":340,"wires":[["b1347baf.94fae8","2cf64dd.8bdb3b2","5fdfa420.d6b32c","ea991986.2d9b78","a1b1c262.04b63"]]},{"id":"fe0ff6e9.ed09e8","type":"mqtt out","z":"dfef8f7e.e2dd7","name":"","topic":"7_p0_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1147,"y":926,"wires":[]},{"id":"1721c0ca.54b03f","type":"mqtt in","z":"dfef8f7e.e2dd7","name":"","topic":"7_p1","qos":"0","broker":"faa41933.fa74e8","x":130,"y":520,"wires":[["2744d71a.d4a048","2cf64dd.8bdb3b2","4014ed13.8fc994","9d7d84c.901bc78","1ed9ed0c.6ec1d3"]]},{"id":"59bdc98c.0d9b58","type":"mqtt in","z":"dfef8f7e.e2dd7","name":"","topic":"7_p2","qos":"0","broker":"faa41933.fa74e8","x":130,"y":620,"wires":[["d00e8ea9.66368","10bb0499.99a63b","2cf64dd.8bdb3b2","5b6c8380.3b558c","c531b0d2.8e405","24dec735.a2cb98"]]},{"id":"80d63c80.3da3a","type":"mqtt out","z":"dfef8f7e.e2dd7","name":"","topic":"7_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1138.9339036941528,"y":871.4862728118896,"wires":[]},{"id":"e1c17889.8e5838","type":"function","z":"dfef8f7e.e2dd7","name":"e0","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":995.0731010437012,"y":1338.3369145393372,"wires":[["8e29e3c2.a1d38"]]},{"id":"b51b5358.a084d","type":"function","z":"dfef8f7e.e2dd7","name":"e1","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":986.0902214050293,"y":1448.7815012931824,"wires":[["94f411b5.a4bcf"]]},{"id":"e6dc1e28.13983","type":"function","z":"dfef8f7e.e2dd7","name":"e2","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":997.0902099609375,"y":1552.3368668556213,"wires":[["92e5ef2c.c3d63"]]},{"id":"b5b4a508.16fa48","type":"function","z":"dfef8f7e.e2dd7","name":"et","func":"var e0 = parseFloat(msg.payload.tp0);\nvar e1 = parseFloat(msg.payload.tp1);\nvar e2 = parseFloat(msg.payload.tp2);\nmsg.payload = e0 + e1 + e2;\nmsg.topic = \"/2/3e\";\nreturn msg;","outputs":1,"noerr":0,"x":964.069146156311,"y":837.1286725997925,"wires":[["aecae760.e2cdf8","80d63c80.3da3a","572de7cb.f933f8","19378b80.e87e04"]]},{"id":"de7c3a25.a90888","type":"function","z":"dfef8f7e.e2dd7","name":"p0","func":"var p = parseFloat(msg.payload.p0);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":784.0000219345093,"y":1378.9999947547913,"wires":[["e1c17889.8e5838"]]},{"id":"800c28f0.1e99e8","type":"function","z":"dfef8f7e.e2dd7","name":"p1","func":"var p = parseFloat(msg.payload.p1);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":781.0172958374023,"y":1447.3335137367249,"wires":[["b51b5358.a084d"]]},{"id":"8f619232.0cf89","type":"function","z":"dfef8f7e.e2dd7","name":"p2","func":"var p = parseFloat(msg.payload.p2);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":788.0173072814941,"y":1516.3336205482483,"wires":[["e6dc1e28.13983"]]},{"id":"4a9a628e.d1394c","type":"function","z":"dfef8f7e.e2dd7","name":"tp0","func":"var tmp = parseFloat(msg.payload.p0);\nvar tp = parseFloat(msg.payload.tp0);\nmsg.payload = tp + tmp;\nmsg.topic = \"/7/e0\";\nreturn msg;","outputs":1,"noerr":0,"x":788.0230722427368,"y":927.6607246398926,"wires":[["67bf3a70.dac784"]]},{"id":"51373830.7dacd8","type":"function","z":"dfef8f7e.e2dd7","name":"tp1","func":"var tmp = parseFloat(msg.payload.p1);\nvar tp = parseFloat(msg.payload.tp1);\nmsg.payload = tp + tmp;\nmsg.topic = \"/7/e1\";\nreturn msg;","outputs":1,"noerr":0,"x":787.6835985183716,"y":988.632040977478,"wires":[["522fbf30.efd02"]]},{"id":"e2dc15d8.794cc8","type":"mqtt out","z":"dfef8f7e.e2dd7","name":"","topic":"7_p1_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1150.6835451126099,"y":990.6320486068726,"wires":[]},{"id":"fe2cd92b.3b1568","type":"function","z":"dfef8f7e.e2dd7","name":"tp2","func":"var tmp = parseFloat(msg.payload.p2);\nvar tp = parseFloat(msg.payload.tp2);\nmsg.payload = tp + tmp;\nmsg.topic = \"/7/e2\";\nreturn msg;","outputs":1,"noerr":0,"x":789.6835985183716,"y":1042.632040977478,"wires":[["bb6cdd1f.b9b1f"]]},{"id":"b8c496c0.d716b8","type":"mqtt out","z":"dfef8f7e.e2dd7","name":"","topic":"7_p2_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1154.6834869384766,"y":1044.6320400238037,"wires":[]},{"id":"4f0876da.e7a428","type":"delay","z":"dfef8f7e.e2dd7","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":795.5239534378052,"y":836.8021955490112,"wires":[["b5b4a508.16fa48"]]},{"id":"c40c8d0.595837","type":"e-mail","z":"dfef8f7e.e2dd7","server":"smtp.gmail.com","port":"465","secure":true,"name":"kchatpeth@gmail.com","dname":"","x":733,"y":734,"wires":[]},{"id":"9f9cb817.b18de8","type":"mqtt in","z":"dfef8f7e.e2dd7","name":"Alarm","topic":"Alarm7","qos":"0","broker":"2460a20d.93c08e","x":450,"y":780,"wires":[["e4e9bcaa.2b90a","c40c8d0.595837"]]},{"id":"f3126ec1.f8b29","type":"mqtt out","z":"dfef8f7e.e2dd7","name":"Alarm","topic":"Alarm7","qos":"0","retain":"","broker":"2460a20d.93c08e","x":230,"y":780,"wires":[]},{"id":"d4ae0cf6.2aad4","type":"inject","z":"dfef8f7e.e2dd7","name":"test alarm","topic":"Alarm","payload":"Alarm from node 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":80,"y":780,"wires":[["f3126ec1.f8b29"]]},{"id":"8205b737.6c7c88","type":"inject","z":"dfef8f7e.e2dd7","name":"tsmp","topic":"tsmp","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":237,"y":1006,"wires":[["42206b6b.b4d074","d001e876.e945a8","10bb0499.99a63b"]]},{"id":"10bb0499.99a63b","type":"function","z":"dfef8f7e.e2dd7","name":"checkerr","func":"var count = context.get('count') || 0;\nif(msg.topic == \"tsmp\")\n{\n    count = count + 1;\n}\nelse\n{\n    count = 0;\n}\ncontext.set('count',count);\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"x":407,"y":1006,"wires":[["6424117c.d4d2b"]]},{"id":"331e1f3b.1dcfd","type":"debug","z":"dfef8f7e.e2dd7","name":"restart","active":false,"console":"false","complete":"payload","x":721,"y":1085,"wires":[]},{"id":"6424117c.d4d2b","type":"switch","z":"dfef8f7e.e2dd7","name":"err_no","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"12","vt":"str"}],"checkall":"true","outputs":1,"x":557,"y":1106,"wires":[["5f5a5572.c0a1bc","331e1f3b.1dcfd"]]},{"id":"89961055.e0247","type":"mqtt out","z":"dfef8f7e.e2dd7","name":"reset","topic":"sw7","qos":"0","retain":"","broker":"faa41933.fa74e8","x":917,"y":1106,"wires":[]},{"id":"5f5a5572.c0a1bc","type":"function","z":"dfef8f7e.e2dd7","name":"ESP.restart()","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":743,"y":1130,"wires":[["89961055.e0247","2815ce75.2e0c22","ab950a15.4c2f58","c175437b.2a185"]]},{"id":"19378b80.e87e04","type":"function","z":"dfef8f7e.e2dd7","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nreturn msg;","outputs":1,"noerr":0,"x":1137,"y":720,"wires":[["1b9532df.7271fd","e2d698dd.1ee168"]]},{"id":"b1347baf.94fae8","type":"firebase modify","z":"dfef8f7e.e2dd7","name":"7_p0","firebaseconfig":"","childpath":"7/power/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":450,"y":380,"wires":[["62bd3321.3a54ec"]]},{"id":"2744d71a.d4a048","type":"firebase modify","z":"dfef8f7e.e2dd7","name":"7_p1","firebaseconfig":"","childpath":"7/power/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":450,"y":620,"wires":[["d3fb407c.51abd"]]},{"id":"d00e8ea9.66368","type":"firebase modify","z":"dfef8f7e.e2dd7","name":"7_p2","firebaseconfig":"","childpath":"7/power/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":450,"y":680,"wires":[["36938380.545ccc"]]},{"id":"8e29e3c2.a1d38","type":"firebase modify","z":"dfef8f7e.e2dd7","name":"eng0","firebaseconfig":"","childpath":"7/energy/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":1170,"y":1340,"wires":[[]]},{"id":"94f411b5.a4bcf","type":"firebase modify","z":"dfef8f7e.e2dd7","name":"eng1","firebaseconfig":"","childpath":"7/energy/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":1170,"y":1460,"wires":[[]]},{"id":"92e5ef2c.c3d63","type":"firebase modify","z":"dfef8f7e.e2dd7","name":"eng2","firebaseconfig":"","childpath":"7/energy/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":1170,"y":1560,"wires":[[]]},{"id":"aecae760.e2cdf8","type":"firebase modify","z":"dfef8f7e.e2dd7","name":"7_eng","firebaseconfig":"","childpath":"7/energy/total","method":"set","value":"msg.payload","priority":"msg.priority","x":1138.0761156082153,"y":811.6216421127319,"wires":[["27c7dbcd.f3de74"]]},{"id":"67bf3a70.dac784","type":"firebase modify","z":"dfef8f7e.e2dd7","name":"7_tp0","firebaseconfig":"","childpath":"7/energy/tp0","method":"set","value":"msg.payload","priority":"msg.priority","x":969.0169801712036,"y":927.632077217102,"wires":[["fe0ff6e9.ed09e8","ec6412a0.9f5b6"]]},{"id":"522fbf30.efd02","type":"firebase modify","z":"dfef8f7e.e2dd7","name":"7_tp1","firebaseconfig":"","childpath":"7/energy/tp1","method":"set","value":"msg.payload","priority":"msg.priority","x":971.6836185455322,"y":989.6320447921753,"wires":[["e2dc15d8.794cc8","a7540475.54e618"]]},{"id":"bb6cdd1f.b9b1f","type":"firebase modify","z":"dfef8f7e.e2dd7","name":"7_tp2","firebaseconfig":"","childpath":"7/energy/tp2","method":"set","value":"msg.payload","priority":"msg.priority","x":970.6836595535278,"y":1043.6320390701294,"wires":[["b8c496c0.d716b8","794f779f.0cafc8"]]},{"id":"42206b6b.b4d074","type":"firebase.once","z":"dfef8f7e.e2dd7","name":"engt","firebaseconfig":"","childpath":"7/energy","repeatifnull":false,"eventType":"value","queries":[],"x":609.0170068740845,"y":835.3334045410156,"wires":[["4a9a628e.d1394c","51373830.7dacd8","fe2cd92b.3b1568","4f0876da.e7a428"]]},{"id":"d001e876.e945a8","type":"firebase.once","z":"dfef8f7e.e2dd7","name":"powt","firebaseconfig":"","childpath":"7/power","repeatifnull":false,"eventType":"value","queries":[],"x":602.0173015594482,"y":1449.3334822654724,"wires":[["de7c3a25.a90888","800c28f0.1e99e8","8f619232.0cf89"]]},{"id":"62bd3321.3a54ec","type":"ui_gauge","z":"dfef8f7e.e2dd7","name":"P0_gag","group":"b5390d20.a9f2f","order":1,"width":"5","height":"4","gtype":"gage","title":"PA","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":380,"wires":[]},{"id":"d3fb407c.51abd","type":"ui_gauge","z":"dfef8f7e.e2dd7","name":"P1_gag","group":"b5390d20.a9f2f","order":2,"width":"5","height":"4","gtype":"gage","title":"PB","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":620,"wires":[]},{"id":"36938380.545ccc","type":"ui_gauge","z":"dfef8f7e.e2dd7","name":"P2_gag","group":"b5390d20.a9f2f","order":3,"width":"5","height":"4","gtype":"gage","title":"PC","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":680,"wires":[]},{"id":"5c52a5d1.3022bc","type":"ui_gauge","z":"dfef8f7e.e2dd7","name":"","group":"c94ae72c.1a86e8","order":0,"width":"8","height":"4","gtype":"gage","title":"Energy (kWh)","label":"kWh","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1520,"y":800,"wires":[]},{"id":"89886dc4.800d4","type":"ui_chart","z":"dfef8f7e.e2dd7","name":"3PGraph","group":"b5390d20.a9f2f","order":6,"width":"19","height":"8","label":"3 Phase graph","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":700,"y":120,"wires":[[],[]]},{"id":"572de7cb.f933f8","type":"ui_chart","z":"dfef8f7e.e2dd7","name":"","group":"c94ae72c.1a86e8","order":0,"width":"10","height":"4","label":"Energy Histrory","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1304.9993982315063,"y":838.6216068267822,"wires":[[],[]]},{"id":"e4e9bcaa.2b90a","type":"ui_toast","z":"dfef8f7e.e2dd7","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Alarm","name":"Show alarm","x":703,"y":794,"wires":[]},{"id":"1b9532df.7271fd","type":"rest publish","z":"dfef8f7e.e2dd7","name":"energy3Phase","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":1318,"y":720,"wires":[]},{"id":"85c5b255.773e","type":"inject","z":"dfef8f7e.e2dd7","name":"","topic":"reset meter","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":593.6840209960938,"y":981.454833984375,"wires":[["aecae760.e2cdf8","67bf3a70.dac784","522fbf30.efd02","bb6cdd1f.b9b1f"]]},{"id":"2815ce75.2e0c22","type":"mqtt out","z":"dfef8f7e.e2dd7","name":"","topic":"7_p0","qos":"0","retain":"","broker":"faa41933.fa74e8","x":918,"y":1161,"wires":[]},{"id":"ab950a15.4c2f58","type":"mqtt out","z":"dfef8f7e.e2dd7","name":"","topic":"7_p1","qos":"0","retain":"","broker":"faa41933.fa74e8","x":916,"y":1219,"wires":[]},{"id":"c175437b.2a185","type":"mqtt out","z":"dfef8f7e.e2dd7","name":"","topic":"7_p2","qos":"0","retain":"","broker":"faa41933.fa74e8","x":919,"y":1274,"wires":[]},{"id":"ec47fb37.f975e8","type":"inject","z":"dfef8f7e.e2dd7","name":"force_restart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":570,"y":1160,"wires":[["5f5a5572.c0a1bc","331e1f3b.1dcfd"]]},{"id":"e2d698dd.1ee168","type":"ui_gauge","z":"dfef8f7e.e2dd7","name":"","group":"95b501bb.43c6e","order":0,"width":"4","height":"4","gtype":"gage","title":"Energy (Node7)","label":"kWhr.","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1306,"y":761,"wires":[]},{"id":"777ead00.f60604","type":"rest publish","z":"dfef8f7e.e2dd7","name":"power","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":670,"y":440,"wires":[]},{"id":"2cf64dd.8bdb3b2","type":"function","z":"dfef8f7e.e2dd7","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nmsg.topic = \"/\" +msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":440,"wires":[["777ead00.f60604"]]},{"id":"4c05d681.e8f5d8","type":"inject","z":"dfef8f7e.e2dd7","name":"write_to_db","topic":"write_to_db","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":145,"y":452,"wires":[["4014ed13.8fc994","5b6c8380.3b558c","5fdfa420.d6b32c"]]},{"id":"5fdfa420.d6b32c","type":"function","z":"dfef8f7e.e2dd7","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":450,"y":320,"wires":[["292bd223.c14d2e"]]},{"id":"555bcb7c.8972a4","type":"firebase modify","z":"dfef8f7e.e2dd7","name":"peak0","firebaseconfig":"","childpath":"/Peak/7_PA","method":"set","value":"msg.payload","priority":"msg.priority","x":770,"y":320,"wires":[["b050f9c.2d72108"]]},{"id":"4014ed13.8fc994","type":"function","z":"dfef8f7e.e2dd7","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":450,"y":500,"wires":[["21359597.b7fa9a"]]},{"id":"ad894981.88ea08","type":"firebase modify","z":"dfef8f7e.e2dd7","name":"peak1","firebaseconfig":"","childpath":"Peak/7_PB","method":"set","value":"msg.payload","priority":"msg.priority","x":770,"y":500,"wires":[["d521570b.8a18c8"]]},{"id":"5b6c8380.3b558c","type":"function","z":"dfef8f7e.e2dd7","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":450,"y":560,"wires":[["a26e3a96.a2b0f8"]]},{"id":"57816f7.65ad69","type":"firebase modify","z":"dfef8f7e.e2dd7","name":"peak2","firebaseconfig":"","childpath":"Peak/7_PC","method":"set","value":"msg.payload","priority":"msg.priority","x":770,"y":560,"wires":[["19e84ae6.d4df25"]]},{"id":"ea991986.2d9b78","type":"function","z":"dfef8f7e.e2dd7","name":"PA","func":"msg.topic = \"PA\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":40,"wires":[["89886dc4.800d4","3320c132.513b0e"]]},{"id":"9d7d84c.901bc78","type":"function","z":"dfef8f7e.e2dd7","name":"PB","func":"msg.topic = \"PB\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":80,"wires":[["89886dc4.800d4","3320c132.513b0e"]]},{"id":"c531b0d2.8e405","type":"function","z":"dfef8f7e.e2dd7","name":"PC","func":"msg.topic = \"PC\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":120,"wires":[["89886dc4.800d4","3320c132.513b0e"]]},{"id":"3320c132.513b0e","type":"ui_chart","z":"dfef8f7e.e2dd7","name":"min","group":"a2846134.413e2","order":0,"width":"19","height":"6","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":40,"wires":[[],[]]},{"id":"a1b1c262.04b63","type":"function","z":"dfef8f7e.e2dd7","name":"avg_PA","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PA\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":460,"y":180,"wires":[["366bb0a2.2783d"]]},{"id":"1ed9ed0c.6ec1d3","type":"function","z":"dfef8f7e.e2dd7","name":"avg_PB","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PB\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["366bb0a2.2783d"]]},{"id":"24dec735.a2cb98","type":"function","z":"dfef8f7e.e2dd7","name":"avg_PC","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PC\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":460,"y":260,"wires":[["366bb0a2.2783d"]]},{"id":"366bb0a2.2783d","type":"ui_chart","z":"dfef8f7e.e2dd7","name":"hour","group":"251f827f.9e584e","order":0,"width":"19","height":"6","label":"Average power per min. (W)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":670,"y":220,"wires":[[],[]]},{"id":"292bd223.c14d2e","type":"delay","z":"dfef8f7e.e2dd7","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":320,"wires":[["555bcb7c.8972a4"]]},{"id":"21359597.b7fa9a","type":"delay","z":"dfef8f7e.e2dd7","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":500,"wires":[["ad894981.88ea08"]]},{"id":"a26e3a96.a2b0f8","type":"delay","z":"dfef8f7e.e2dd7","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":560,"wires":[["57816f7.65ad69"]]},{"id":"ee0d910.fb5647","type":"inject","z":"dfef8f7e.e2dd7","name":"test value","topic":"test","payload":"10000","payloadType":"str","repeat":"5","crontab":"","once":false,"x":590,"y":1240,"wires":[["1d7d4f61.a2cde1","30be4044.ba557","ac327b8c.055208"]]},{"id":"1d7d4f61.a2cde1","type":"random","z":"dfef8f7e.e2dd7","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":741,"y":1195,"wires":[["2815ce75.2e0c22"]]},{"id":"30be4044.ba557","type":"random","z":"dfef8f7e.e2dd7","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":743,"y":1239,"wires":[["ab950a15.4c2f58"]]},{"id":"ac327b8c.055208","type":"random","z":"dfef8f7e.e2dd7","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":743,"y":1287,"wires":[["c175437b.2a185"]]},{"id":"b050f9c.2d72108","type":"ui_text","z":"dfef8f7e.e2dd7","group":"c5a1e2b8.be98d","order":0,"width":"3","height":"1","name":"","label":"PeakA","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":320,"wires":[]},{"id":"d521570b.8a18c8","type":"ui_text","z":"dfef8f7e.e2dd7","group":"c5a1e2b8.be98d","order":0,"width":"3","height":"1","name":"","label":"PeakB","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":500,"wires":[]},{"id":"19e84ae6.d4df25","type":"ui_text","z":"dfef8f7e.e2dd7","group":"c5a1e2b8.be98d","order":0,"width":"3","height":"1","name":"","label":"PeakC","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":560,"wires":[]},{"id":"96dd48ae.939d48","type":"ui_text","z":"dfef8f7e.e2dd7","group":"c94ae72c.1a86e8","order":0,"width":"3","height":"1","name":"EA","label":"EA","format":"{{msg.payload}}","layout":"row-spread","x":1470,"y":960,"wires":[]},{"id":"ec6412a0.9f5b6","type":"function","z":"dfef8f7e.e2dd7","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1301,"y":960,"wires":[["96dd48ae.939d48"]]},{"id":"f66d69c.e87a698","type":"ui_text","z":"dfef8f7e.e2dd7","group":"c94ae72c.1a86e8","order":0,"width":"3","height":"1","name":"EB","label":"EB","format":"{{msg.payload}}","layout":"row-spread","x":1470,"y":1020,"wires":[]},{"id":"a7540475.54e618","type":"function","z":"dfef8f7e.e2dd7","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1301,"y":1020,"wires":[["f66d69c.e87a698"]]},{"id":"d27922d8.924df","type":"ui_text","z":"dfef8f7e.e2dd7","group":"c94ae72c.1a86e8","order":0,"width":"3","height":"1","name":"","label":"EC","format":"{{msg.payload}}","layout":"row-spread","x":1470,"y":1080,"wires":[]},{"id":"794f779f.0cafc8","type":"function","z":"dfef8f7e.e2dd7","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1301,"y":1080,"wires":[["d27922d8.924df"]]},{"id":"1f308729.ea6fa9","type":"mqtt out","z":"dfef8f7e.e2dd7","name":"m7","topic":"m7","qos":"0","retain":"false","broker":"faa41933.fa74e8","x":470,"y":1640,"wires":[]},{"id":"63c1a47d.6014ec","type":"mqtt out","z":"dfef8f7e.e2dd7","name":"C7","topic":"C7","qos":"0","retain":"false","broker":"faa41933.fa74e8","x":470,"y":1700,"wires":[]},{"id":"88fd7286.5d70c","type":"mqtt in","z":"dfef8f7e.e2dd7","name":"NID","topic":"7","qos":"0","broker":"faa41933.fa74e8","x":110,"y":1640,"wires":[["d9d55cb4.b523","eb8d4d3c.819c1"]]},{"id":"d9d55cb4.b523","type":"function","z":"dfef8f7e.e2dd7","name":"m","func":"msg.payload = \"60\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1638.9236145019531,"wires":[["1f308729.ea6fa9"]]},{"id":"eb8d4d3c.819c1","type":"function","z":"dfef8f7e.e2dd7","name":"C","func":"msg.payload = \"-2\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1700,"wires":[["63c1a47d.6014ec"]]},{"id":"98210d01.79968","type":"function","z":"dfef8f7e.e2dd7","name":"P_total","func":"var p_total = msg.payload[\"p0\"] + msg.payload[\"p1\"] + msg.payload[\"p2\"];\nmsg.topic = \"Ptotal\";\nmsg.payload = p_total.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":412,"y":1781,"wires":[["998a4022.ba14b","16f10035.4d217","52486dfa.1f2db4","3adf3abd.debaf6"]]},{"id":"998a4022.ba14b","type":"function","z":"dfef8f7e.e2dd7","name":"P_avg","func":"var pavg = msg.payload/3;\nmsg.payload =pavg.toFixed(2)\nmsg.topic = \"Pavg\";\nreturn msg;","outputs":1,"noerr":0,"x":592,"y":1861,"wires":[["20c37146.e0f35e","52486dfa.1f2db4"]]},{"id":"16f10035.4d217","type":"ui_gauge","z":"dfef8f7e.e2dd7","name":"Ptotal","group":"b5390d20.a9f2f","order":4,"width":"5","height":"4","gtype":"gage","title":"Ptotal","label":"W","format":"{{value}}","min":0,"max":"300000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":1720,"wires":[]},{"id":"20c37146.e0f35e","type":"ui_gauge","z":"dfef8f7e.e2dd7","name":"Pavg","group":"b5390d20.a9f2f","order":5,"width":"5","height":"4","gtype":"gage","title":"Pavg","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":1920,"wires":[]},{"id":"52486dfa.1f2db4","type":"ui_chart","z":"dfef8f7e.e2dd7","name":"P_grp","group":"b5390d20.a9f2f","order":7,"width":"19","height":"8","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300000","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":1780,"wires":[[],[]]},{"id":"48fac65d.3eff38","type":"firebase.once","z":"dfef8f7e.e2dd7","name":"power","firebaseconfig":"","childpath":"7/power","repeatifnull":false,"eventType":"value","queries":[],"x":248,"y":1782,"wires":[["98210d01.79968"]]},{"id":"88c02b20.733288","type":"inject","z":"dfef8f7e.e2dd7","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":86,"y":1782,"wires":[["48fac65d.3eff38"]]},{"id":"27c7dbcd.f3de74","type":"function","z":"dfef8f7e.e2dd7","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":800,"wires":[["5c52a5d1.3022bc"]]},{"id":"3adf3abd.debaf6","type":"firebase modify","z":"dfef8f7e.e2dd7","name":"PT","firebaseconfig":"","childpath":"Peak/7_PT","method":"set","value":"msg.payload","priority":"msg.priority","x":590,"y":1940,"wires":[[]]},{"id":"faa41933.fa74e8","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2460a20d.93c08e","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b5390d20.a9f2f","type":"ui_group","z":"","name":"Monitor","tab":"71685f44.cde82","order":1,"disp":true,"width":"19"},{"id":"c94ae72c.1a86e8","type":"ui_group","z":"","name":"Energy","tab":"71685f44.cde82","order":3,"disp":true,"width":"19"},{"id":"95b501bb.43c6e","type":"ui_group","z":"","name":"Energy","tab":"698253f2.fc01ec","order":2,"disp":true,"width":"19"},{"id":"a2846134.413e2","type":"ui_group","z":"","name":"Node7","tab":"81df91f1.47772","disp":true,"width":"19"},{"id":"251f827f.9e584e","type":"ui_group","z":"","name":"Node7","tab":"fe70155f.d73d98","order":6,"disp":true,"width":"19"},{"id":"c5a1e2b8.be98d","type":"ui_group","z":"","name":"Parameter","tab":"71685f44.cde82","order":2,"disp":true,"width":"19"},{"id":"71685f44.cde82","type":"ui_tab","z":"","name":"Node7","icon":"dashboard","order":7},{"id":"698253f2.fc01ec","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":11},{"id":"81df91f1.47772","type":"ui_tab","z":"","name":"Minute resolution","icon":"dashboard","order":12},{"id":"fe70155f.d73d98","type":"ui_tab","z":"","name":"Hour resolution","icon":"dashboard","order":13}]