node-red.txt
[{"id":"1de6be05.9e9e72","type":"mqtt in","z":"700eb341.6000fc","name":"","topic":"1_p0","qos":"0","broker":"faa41933.fa74e8","x":139,"y":173,"wires":[["9bcc95a2.118118","d337e5e2.588758","7c0c2d4c.e8a3f4","6f7642eb.3b810c","c363b38c.3179a","65f4105b.a59dd"]]},{"id":"9bcc95a2.118118","type":"debug","z":"700eb341.6000fc","name":"Phase0 Power","active":false,"console":"false","complete":"payload","x":351.00689697265625,"y":208.77781677246094,"wires":[]},{"id":"75172293.5c7b2c","type":"mqtt out","z":"700eb341.6000fc","name":"","topic":"1_p0_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1094,"y":823,"wires":[]},{"id":"ae1d5bb3.c950a8","type":"mqtt in","z":"700eb341.6000fc","name":"","topic":"1_p1","qos":"0","broker":"faa41933.fa74e8","x":164,"y":423,"wires":[["3883c1fd.04374e","6c14054.3af30fc","7c0c2d4c.e8a3f4","532b6b3c.a0e844"]]},{"id":"3883c1fd.04374e","type":"debug","z":"700eb341.6000fc","name":"Phase1 Power","active":false,"console":"false","complete":"payload","x":352.0069007873535,"y":394.7778172492981,"wires":[]},{"id":"a24e0fe4.74938","type":"mqtt in","z":"700eb341.6000fc","name":"","topic":"1_p2","qos":"0","broker":"faa41933.fa74e8","x":164,"y":543,"wires":[["202c4b90.f1ec34","63b209a4.1d2db8","af04de55.e8aea","7c0c2d4c.e8a3f4","31dcf0c.72c231"]]},{"id":"202c4b90.f1ec34","type":"debug","z":"700eb341.6000fc","name":"Phase2 Power","active":false,"console":"false","complete":"payload","x":359.00689697265625,"y":542.77783203125,"wires":[]},{"id":"ae4614aa.8ca738","type":"mqtt out","z":"700eb341.6000fc","name":"","topic":"1_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1085.9339036941528,"y":768.4862728118896,"wires":[]},{"id":"d7433673.992b78","type":"debug","z":"700eb341.6000fc","name":"","active":false,"console":"false","complete":"false","x":1181.0140380859375,"y":1214.7744140625,"wires":[]},{"id":"de60ad76.4b4e8","type":"function","z":"700eb341.6000fc","name":"e0","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":975.0731010437012,"y":1239.3369145393372,"wires":[["d7433673.992b78","9f8faa6e.fecbe8","75e8380.f2023c8"]]},{"id":"5cc50cd1.35dcb4","type":"debug","z":"700eb341.6000fc","name":"","active":false,"console":"false","complete":"false","x":1143.0311889648438,"y":1322.2189679145813,"wires":[]},{"id":"60b38db3.0d15c4","type":"function","z":"700eb341.6000fc","name":"e1","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":966.0902214050293,"y":1349.7815012931824,"wires":[["5cc50cd1.35dcb4","4df58463.7ac0ac"]]},{"id":"58b41f9.6bfeae","type":"debug","z":"700eb341.6000fc","name":"","active":false,"console":"false","complete":"false","x":1154.031177520752,"y":1425.7743334770203,"wires":[]},{"id":"236b20fa.34914","type":"function","z":"700eb341.6000fc","name":"e2","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":977.0902099609375,"y":1453.3368668556213,"wires":[["58b41f9.6bfeae","ce620646.d99878"]]},{"id":"754c5b0.ea1dba4","type":"function","z":"700eb341.6000fc","name":"et","func":"var e0 = parseFloat(msg.payload.tp0);\nvar e1 = parseFloat(msg.payload.tp1);\nvar e2 = parseFloat(msg.payload.tp2);\nmsg.payload = e0 + e1 + e2;\nmsg.topic = \"/1/3e\";\nreturn msg;","outputs":1,"noerr":0,"x":911.069146156311,"y":734.1286725997925,"wires":[["99df0c4b.d53c1","ae4614aa.8ca738","fe3397cb.918838","37d28fdf.0bae9"]]},{"id":"42aa593b.e609e8","type":"function","z":"700eb341.6000fc","name":"p0","func":"var p = parseFloat(msg.payload.p0);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":764.0000219345093,"y":1279.9999947547913,"wires":[["de60ad76.4b4e8"]]},{"id":"30f79d6.3d42062","type":"function","z":"700eb341.6000fc","name":"p1","func":"var p = parseFloat(msg.payload.p1);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":761.0172958374023,"y":1348.3335137367249,"wires":[["60b38db3.0d15c4"]]},{"id":"cb2c0954.d223a8","type":"function","z":"700eb341.6000fc","name":"p2","func":"var p = parseFloat(msg.payload.p2);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":768.0173072814941,"y":1417.3336205482483,"wires":[["236b20fa.34914"]]},{"id":"1582a654.96a05a","type":"function","z":"700eb341.6000fc","name":"tp0","func":"var tmp = parseFloat(msg.payload.p0);\nvar tp = parseFloat(msg.payload.tp0);\nmsg.payload = tp + tmp;\nmsg.topic = \"/1/e0\";\nreturn msg;","outputs":1,"noerr":0,"x":735.0230722427368,"y":824.6607246398926,"wires":[["54d14d77.b36ed4"]]},{"id":"96ea032a.9d3e2","type":"function","z":"700eb341.6000fc","name":"tp1","func":"var tmp = parseFloat(msg.payload.p1);\nvar tp = parseFloat(msg.payload.tp1);\nmsg.payload = tp + tmp;\nmsg.topic = \"/1/e1\";\nreturn msg;","outputs":1,"noerr":0,"x":734.6835985183716,"y":885.632040977478,"wires":[["1065f8ec.cf8067"]]},{"id":"a7a0b445.5993f8","type":"mqtt out","z":"700eb341.6000fc","name":"","topic":"1_p1_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1097.6835451126099,"y":887.6320486068726,"wires":[]},{"id":"ccdacd67.4433e","type":"function","z":"700eb341.6000fc","name":"tp2","func":"var tmp = parseFloat(msg.payload.p2);\nvar tp = parseFloat(msg.payload.tp2);\nmsg.payload = tp + tmp;\nmsg.topic = \"/1/e2\";\nreturn msg;","outputs":1,"noerr":0,"x":736.6835985183716,"y":939.632040977478,"wires":[["70c72c89.0d1084"]]},{"id":"f3103796.1143c8","type":"mqtt out","z":"700eb341.6000fc","name":"","topic":"1_p2_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1101.6834869384766,"y":941.6320400238037,"wires":[]},{"id":"f1c0b434.e0c788","type":"delay","z":"700eb341.6000fc","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":742.5239534378052,"y":733.8021955490112,"wires":[["754c5b0.ea1dba4"]]},{"id":"e55a49f4.0ae198","type":"e-mail","z":"700eb341.6000fc","server":"smtp.gmail.com","port":"465","secure":true,"name":"kchatpeth@gmail.com","dname":"","x":394,"y":643,"wires":[]},{"id":"5e2de148.547dd","type":"mqtt in","z":"700eb341.6000fc","name":"Alarm","topic":"Alarm1","qos":"0","broker":"2460a20d.93c08e","x":164,"y":683,"wires":[["d686263e.5039c8","e55a49f4.0ae198"]]},{"id":"ac8f859b.07ef68","type":"mqtt out","z":"700eb341.6000fc","name":"Alarm","topic":"Alarm1","qos":"0","retain":"","broker":"2460a20d.93c08e","x":324,"y":763,"wires":[]},{"id":"f2f2d793.573408","type":"inject","z":"700eb341.6000fc","name":"test alarm","topic":"Alarm","payload":"Alarm from node 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":174,"y":763,"wires":[["ac8f859b.07ef68"]]},{"id":"ed0920b0.3577a","type":"inject","z":"700eb341.6000fc","name":"tsmp","topic":"tsmp","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":184,"y":903,"wires":[["a8a5c130.d2911","20044350.87347c","af04de55.e8aea"]]},{"id":"af04de55.e8aea","type":"function","z":"700eb341.6000fc","name":"checkerr","func":"var count = context.get('count') || 0;\nif(msg.topic == \"tsmp\")\n{\n    count = count + 1;\n}\nelse\n{\n    count = 0;\n}\ncontext.set('count',count);\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"x":354,"y":903,"wires":[["3db0effa.df5ec"]]},{"id":"e517cfc0.f5b5e","type":"debug","z":"700eb341.6000fc","name":"restart","active":false,"console":"false","complete":"payload","x":684,"y":1043,"wires":[]},{"id":"3db0effa.df5ec","type":"switch","z":"700eb341.6000fc","name":"err_no","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"12","vt":"str"}],"checkall":"true","outputs":1,"x":504,"y":1003,"wires":[["533613d5.d8e4ec","e517cfc0.f5b5e"]]},{"id":"52005ff0.7995b","type":"mqtt out","z":"700eb341.6000fc","name":"reset","topic":"sw1","qos":"0","retain":"","broker":"faa41933.fa74e8","x":864,"y":1003,"wires":[]},{"id":"533613d5.d8e4ec","type":"function","z":"700eb341.6000fc","name":"ESP.restart()","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":704,"y":1003,"wires":[["52005ff0.7995b","6f53cc9a.16b554","38514c.ecc1deb4","28ea6239.65df4e"]]},{"id":"37d28fdf.0bae9","type":"function","z":"700eb341.6000fc","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nreturn msg;","outputs":1,"noerr":0,"x":1084,"y":617,"wires":[["b77d6b4b.03a1c8","f6ea88b8.ce38e8"]]},{"id":"d337e5e2.588758","type":"firebase modify","z":"700eb341.6000fc","name":"1_p0","firebaseconfig":"","childpath":"/1/power/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":326.07623291015625,"y":248.65969848632812,"wires":[["3a1db084.3ad87","3abdc00a.3b70a","2b398e2a.073192"]]},{"id":"6c14054.3af30fc","type":"firebase modify","z":"700eb341.6000fc","name":"1_p1","firebaseconfig":"","childpath":"/1/power/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":331.1006889343262,"y":444.5655426979065,"wires":[["b822d349.20956","3abdc00a.3b70a","f2ab7823.987118"]]},{"id":"63b209a4.1d2db8","type":"firebase modify","z":"700eb341.6000fc","name":"1_p2","firebaseconfig":"","childpath":"/1/power/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":328,"y":580,"wires":[["b98af988.3a7d98","3abdc00a.3b70a","86efd7d.b6c8628"]]},{"id":"9f8faa6e.fecbe8","type":"firebase modify","z":"700eb341.6000fc","name":"eng0","firebaseconfig":"","childpath":"/1/energy/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":1164.0175666809082,"y":1264.4446215629578,"wires":[[]]},{"id":"4df58463.7ac0ac","type":"firebase modify","z":"700eb341.6000fc","name":"eng1","firebaseconfig":"","childpath":"/1/energy/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":1126.0346221923828,"y":1370.8891625404358,"wires":[[]]},{"id":"ce620646.d99878","type":"firebase modify","z":"700eb341.6000fc","name":"eng2","firebaseconfig":"","childpath":"/1/energy/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":1138.0345993041992,"y":1469.4445118904114,"wires":[[]]},{"id":"99df0c4b.d53c1","type":"firebase modify","z":"700eb341.6000fc","name":"1_eng","firebaseconfig":"","childpath":"/1/energy/total","method":"set","value":"msg.payload","priority":"msg.priority","x":1085.0761156082153,"y":708.6216421127319,"wires":[["7105addc.52fa54"]]},{"id":"54d14d77.b36ed4","type":"firebase modify","z":"700eb341.6000fc","name":"1_tp0","firebaseconfig":"","childpath":"/1/energy/tp0","method":"set","value":"msg.payload","priority":"msg.priority","x":916.0169801712036,"y":824.632077217102,"wires":[["75172293.5c7b2c","566a2e1d.63b98"]]},{"id":"1065f8ec.cf8067","type":"firebase modify","z":"700eb341.6000fc","name":"1_tp1","firebaseconfig":"","childpath":"/1/energy/tp1","method":"set","value":"msg.payload","priority":"msg.priority","x":918.6836185455322,"y":886.6320447921753,"wires":[["a7a0b445.5993f8","f016e6bb.fbc178"]]},{"id":"70c72c89.0d1084","type":"firebase modify","z":"700eb341.6000fc","name":"1_tp2","firebaseconfig":"","childpath":"/1/energy/tp2","method":"set","value":"msg.payload","priority":"msg.priority","x":917.6836595535278,"y":940.6320390701294,"wires":[["f3103796.1143c8","2633d9dc.568256"]]},{"id":"a8a5c130.d2911","type":"firebase.once","z":"700eb341.6000fc","name":"engt","firebaseconfig":"","childpath":"/1/energy","repeatifnull":false,"eventType":"value","queries":[],"x":556.0170068740845,"y":732.3334045410156,"wires":[["1582a654.96a05a","96ea032a.9d3e2","ccdacd67.4433e","f1c0b434.e0c788"]]},{"id":"20044350.87347c","type":"firebase.once","z":"700eb341.6000fc","name":"powt","firebaseconfig":"","childpath":"/1/power","repeatifnull":false,"eventType":"value","queries":[],"x":582.0173015594482,"y":1350.3334822654724,"wires":[["42aa593b.e609e8","30f79d6.3d42062","cb2c0954.d223a8"]]},{"id":"3a1db084.3ad87","type":"ui_gauge","z":"700eb341.6000fc","name":"P0_gag","group":"f148ef2c.acca9","order":3,"width":"5","height":"4","gtype":"gage","title":"PA","label":"Watt","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":905,"y":335,"wires":[]},{"id":"b822d349.20956","type":"ui_gauge","z":"700eb341.6000fc","name":"P1_gag","group":"f148ef2c.acca9","order":3,"width":"5","height":"4","gtype":"gage","title":"PB","label":"Watt","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":905,"y":535,"wires":[]},{"id":"b98af988.3a7d98","type":"ui_gauge","z":"700eb341.6000fc","name":"P2_gag","group":"f148ef2c.acca9","order":3,"width":"5","height":"4","gtype":"gage","title":"PC","label":"Watt","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":905,"y":575,"wires":[]},{"id":"f17b2658.a4d388","type":"ui_gauge","z":"700eb341.6000fc","name":"","group":"e21f64e2.019128","order":0,"width":"7","height":"4","gtype":"gage","title":"Energy (kW.hr)","label":"","format":"{{value}}","min":0,"max":"10000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1427.9993896484375,"y":693.62158203125,"wires":[]},{"id":"3abdc00a.3b70a","type":"ui_chart","z":"700eb341.6000fc","name":"3PGraph","group":"f148ef2c.acca9","order":0,"width":"15","height":"4","label":"3 Phase graph","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":905,"y":495,"wires":[[],[]]},{"id":"2b398e2a.073192","type":"ui_chart","z":"700eb341.6000fc","name":"P0_grp","group":"f148ef2c.acca9","order":0,"width":"15","height":"4","label":"PA Graph","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":905,"y":375,"wires":[[],[]]},{"id":"f2ab7823.987118","type":"ui_chart","z":"700eb341.6000fc","name":"P1_grp","group":"f148ef2c.acca9","order":0,"width":"15","height":"4","label":"PB Graph","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":905,"y":415,"wires":[[],[]]},{"id":"86efd7d.b6c8628","type":"ui_chart","z":"700eb341.6000fc","name":"P2_grp","group":"f148ef2c.acca9","order":0,"width":"15","height":"4","label":"PC Graph","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":905,"y":455,"wires":[[],[]]},{"id":"fe3397cb.918838","type":"ui_chart","z":"700eb341.6000fc","name":"","group":"e21f64e2.019128","order":0,"width":"9","height":"4","label":"Energy Histrory","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1251.9993982315063,"y":735.6216068267822,"wires":[[],[]]},{"id":"d686263e.5039c8","type":"ui_toast","z":"700eb341.6000fc","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Alarm","name":"Show alarm","x":377.0000228881836,"y":698.0000009536743,"wires":[]},{"id":"b77d6b4b.03a1c8","type":"rest publish","z":"700eb341.6000fc","name":"energy3Phase","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":1265,"y":617,"wires":[]},{"id":"af6b8694.544ea8","type":"inject","z":"700eb341.6000fc","name":"","topic":"reset meter","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":531.0798492431641,"y":872.069504737854,"wires":[["54d14d77.b36ed4","1065f8ec.cf8067","70c72c89.0d1084","99df0c4b.d53c1"]]},{"id":"6f53cc9a.16b554","type":"mqtt out","z":"700eb341.6000fc","name":"","topic":"1_p0","qos":"0","retain":"","broker":"faa41933.fa74e8","x":868,"y":1060,"wires":[]},{"id":"38514c.ecc1deb4","type":"mqtt out","z":"700eb341.6000fc","name":"","topic":"1_p1","qos":"0","retain":"","broker":"faa41933.fa74e8","x":866,"y":1118,"wires":[]},{"id":"28ea6239.65df4e","type":"mqtt out","z":"700eb341.6000fc","name":"","topic":"1_p2","qos":"0","retain":"","broker":"faa41933.fa74e8","x":869,"y":1173,"wires":[]},{"id":"d38edb46.7720f8","type":"inject","z":"700eb341.6000fc","name":"test value","topic":"test","payload":"10000","payloadType":"str","repeat":"5","crontab":"","once":false,"x":522,"y":1125,"wires":[["cce5bbf9.00bd88","89a6f3cf.9afd7","bbb81c44.0d101"]]},{"id":"75e8380.f2023c8","type":"debug","z":"700eb341.6000fc","name":"","active":false,"console":"false","complete":"payload","x":1184,"y":1163,"wires":[]},{"id":"9d60fd32.de0c3","type":"inject","z":"700eb341.6000fc","name":"force_restart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":489,"y":1048,"wires":[["533613d5.d8e4ec","e517cfc0.f5b5e"]]},{"id":"f6ea88b8.ce38e8","type":"ui_gauge","z":"700eb341.6000fc","name":"","group":"95b501bb.43c6e","order":0,"width":"4","height":"4","gtype":"gage","title":"Energy (Node1)","label":"kWhr.","format":"{{value}}","min":0,"max":"10000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1256,"y":658,"wires":[]},{"id":"7c0c2d4c.e8a3f4","type":"function","z":"700eb341.6000fc","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nmsg.topic = \"/\" +msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":333,"y":298,"wires":[["df260d9.f5422f","65b280ac.896b2"]]},{"id":"df260d9.f5422f","type":"debug","z":"700eb341.6000fc","name":"","active":false,"console":"false","complete":"false","x":922,"y":250,"wires":[]},{"id":"65b280ac.896b2","type":"rest publish","z":"700eb341.6000fc","name":"power","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":898,"y":296,"wires":[]},{"id":"6f7642eb.3b810c","type":"function","z":"700eb341.6000fc","name":"Peak","func":"var ncount = context.get('ncount') || 0;\nvar max = context.get('max')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n    }\n}\nelse\n{\n    ncount = 0;\n    max = parseFloat(msg.payload);\n}\ncontext.set('ncount',ncount);\ncontext.set('max', max);\nmsg.payload = max;\nreturn msg;\n","outputs":1,"noerr":0,"x":328,"y":150,"wires":[["70fe5fc7.e2bea","425ff5a8.ba95dc"]]},{"id":"c363b38c.3179a","type":"function","z":"700eb341.6000fc","name":"avg","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":322,"y":78,"wires":[["c53f0815.7eab18","c40a284e.35df68"]]},{"id":"8bc7e66b.d6e2a8","type":"writefeed","z":"700eb341.6000fc","name":"1_PA","feedid":"wpm2018Database","apikey":"FtzABVCEyUPppAZKAmGsle2RYQBfiA6u","data":"payload","dataType":"msg","x":628,"y":118,"wires":[]},{"id":"70fe5fc7.e2bea","type":"function","z":"700eb341.6000fc","name":"feed","func":"msg.payload = \"1_PA:\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":469,"y":118,"wires":[["8bc7e66b.d6e2a8"]]},{"id":"6ba5cbb0.33e954","type":"ui_button","z":"700eb341.6000fc","name":"min resolution","group":"f148ef2c.acca9","order":0,"width":"3","height":"1","passthru":false,"label":"minute","color":"","bgcolor":"","icon":"","payload":"Minute resolution","payloadType":"str","topic":"minute_res","x":837,"y":193,"wires":[["e7a21dc2.bae0a"]]},{"id":"e7a21dc2.bae0a","type":"ui_ui_control","z":"700eb341.6000fc","name":"","x":1056,"y":185,"wires":[[]]},{"id":"65f4105b.a59dd","type":"ui_chart","z":"700eb341.6000fc","name":"","group":"f3414c6f.61626","order":0,"width":"0","height":"0","label":"min","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":320,"y":36,"wires":[[],[]]},{"id":"cce5bbf9.00bd88","type":"random","z":"700eb341.6000fc","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":673,"y":1080,"wires":[["6f53cc9a.16b554"]]},{"id":"c53f0815.7eab18","type":"ui_chart","z":"700eb341.6000fc","name":"","group":"f6cdb7bb.be7438","order":0,"width":0,"height":0,"label":"hour","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":483,"y":77,"wires":[[],[]]},{"id":"d51e8b3d.af05e8","type":"ui_button","z":"700eb341.6000fc","name":"hour resolution","group":"f148ef2c.acca9","order":0,"width":"3","height":"1","passthru":false,"label":"hour","color":"","bgcolor":"","icon":"","payload":"Hour resolution","payloadType":"str","topic":"minute_res","x":838,"y":151,"wires":[["e7a21dc2.bae0a"]]},{"id":"99bf6365.4a98d","type":"ui_button","z":"700eb341.6000fc","name":"day resolution","group":"f148ef2c.acca9","order":0,"width":"3","height":"1","passthru":false,"label":"day","color":"","bgcolor":"","icon":"","payload":"Day resolution","payloadType":"str","topic":"day_res","x":837,"y":112,"wires":[["e7a21dc2.bae0a"]]},{"id":"c40a284e.35df68","type":"function","z":"700eb341.6000fc","name":"avg","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 60)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/60;\n    ncount = 0;\n    sum = 0;\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":487,"y":27,"wires":[["de44ad01.eaa73"]]},{"id":"de44ad01.eaa73","type":"ui_chart","z":"700eb341.6000fc","name":"","group":"ff7198e.c46c868","order":0,"width":"0","height":"0","label":"Day","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":632,"y":26,"wires":[[],[]]},{"id":"a0acdf1a.5edb6","type":"ui_text","z":"700eb341.6000fc","group":"e21f64e2.019128","order":0,"width":"5","height":"2","name":"","label":"EA (kWh)","format":"{{msg.payload}}","layout":"row-spread","x":1414,"y":846,"wires":[]},{"id":"ec130805.738ec8","type":"ui_text","z":"700eb341.6000fc","group":"e21f64e2.019128","order":0,"width":"5","height":"2","name":"","label":"EB (kWh)","format":"{{msg.payload}}","layout":"row-spread","x":1411,"y":910,"wires":[]},{"id":"7ec2de80.59e81","type":"ui_text","z":"700eb341.6000fc","group":"e21f64e2.019128","order":0,"width":"5","height":"2","name":"","label":"EC (kWh)","format":"{{msg.payload}}","layout":"row-spread","x":1413,"y":972,"wires":[]},{"id":"89a6f3cf.9afd7","type":"random","z":"700eb341.6000fc","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":675,"y":1124,"wires":[["38514c.ecc1deb4"]]},{"id":"bbb81c44.0d101","type":"random","z":"700eb341.6000fc","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":675,"y":1172,"wires":[["28ea6239.65df4e"]]},{"id":"a67fc244.0ec8c","type":"ui_button","z":"700eb341.6000fc","name":"mon resolution","group":"f148ef2c.acca9","order":0,"width":"3","height":"1","passthru":false,"label":"month","color":"","bgcolor":"","icon":"","payload":"Month resolution","payloadType":"str","topic":"month_res","x":837,"y":75,"wires":[["e7a21dc2.bae0a"]]},{"id":"566a2e1d.63b98","type":"function","z":"700eb341.6000fc","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1235,"y":846,"wires":[["a0acdf1a.5edb6"]]},{"id":"f016e6bb.fbc178","type":"function","z":"700eb341.6000fc","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1233,"y":911,"wires":[["ec130805.738ec8"]]},{"id":"2633d9dc.568256","type":"function","z":"700eb341.6000fc","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1231,"y":973,"wires":[["7ec2de80.59e81"]]},{"id":"7105addc.52fa54","type":"function","z":"700eb341.6000fc","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1246,"y":695,"wires":[["f17b2658.a4d388"]]},{"id":"425ff5a8.ba95dc","type":"ui_text","z":"700eb341.6000fc","group":"f148ef2c.acca9","order":0,"width":"3","height":"1","name":"PA peak","label":"Peak A (W)","format":"{{msg.payload}}","layout":"row-spread","x":473,"y":161,"wires":[]},{"id":"532b6b3c.a0e844","type":"function","z":"700eb341.6000fc","name":"Peak","func":"var ncount = context.get('ncount') || 0;\nvar max = context.get('max')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n    }\n}\nelse\n{\n    ncount = 0;\n    max = parseFloat(msg.payload);\n}\ncontext.set('ncount',ncount);\ncontext.set('max', max);\nmsg.payload = max;\nreturn msg;\n","outputs":1,"noerr":0,"x":328,"y":357,"wires":[["fc6f354b.01bbb8"]]},{"id":"fc6f354b.01bbb8","type":"function","z":"700eb341.6000fc","name":"feed","func":"msg.payload = \"1_PB:\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":456,"y":356,"wires":[[]]},{"id":"31dcf0c.72c231","type":"function","z":"700eb341.6000fc","name":"Peak","func":"var ncount = context.get('ncount') || 0;\nvar max = context.get('max')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n    }\n}\nelse\n{\n    ncount = 0;\n    max = parseFloat(msg.payload);\n}\ncontext.set('ncount',ncount);\ncontext.set('max', max);\nmsg.payload = max;\nreturn msg;\n","outputs":1,"noerr":0,"x":329,"y":498,"wires":[["4992a4e7.46a00c"]]},{"id":"4992a4e7.46a00c","type":"function","z":"700eb341.6000fc","name":"feed","func":"msg.payload = \"1_PC:\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":457,"y":497,"wires":[[]]},{"id":"faa41933.fa74e8","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2460a20d.93c08e","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f148ef2c.acca9","type":"ui_group","z":"700eb341.6000fc","name":"Node1","tab":"5a9e5e.e82ce1a4","order":1,"disp":true,"width":"19"},{"id":"e21f64e2.019128","type":"ui_group","z":"700eb341.6000fc","name":"Energy","tab":"5a9e5e.e82ce1a4","order":2,"disp":true,"width":"19"},{"id":"95b501bb.43c6e","type":"ui_group","z":"","name":"Energy","tab":"698253f2.fc01ec","order":2,"disp":true,"width":"19"},{"id":"f3414c6f.61626","type":"ui_group","z":"","name":"Node1","tab":"81df91f1.47772","disp":true,"width":"10"},{"id":"f6cdb7bb.be7438","type":"ui_group","z":"","name":"Node1","tab":"fe70155f.d73d98","disp":true,"width":"6"},{"id":"ff7198e.c46c868","type":"ui_group","z":"","name":"Node1","tab":"4ae23398.a4ce4c","disp":false,"width":"6"},{"id":"5a9e5e.e82ce1a4","type":"ui_tab","z":"700eb341.6000fc","name":"Node1","icon":"dashboard","order":1},{"id":"698253f2.fc01ec","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":7},{"id":"81df91f1.47772","type":"ui_tab","z":"","name":"Minute resolution","icon":"dashboard","order":8},{"id":"fe70155f.d73d98","type":"ui_tab","z":"","name":"Hour resolution","icon":"dashboard","order":9},{"id":"4ae23398.a4ce4c","type":"ui_tab","z":"","name":"Day resolution","icon":"dashboard","order":10}]