node-red_main.txt
[{"id":"1de6be05.9e9e72","type":"mqtt in","z":"700eb341.6000fc","name":"","topic":"1_p0","qos":"0","broker":"faa41933.fa74e8","x":113,"y":353,"wires":[["9bcc95a2.118118","d337e5e2.588758","7c0c2d4c.e8a3f4","6f7642eb.3b810c","482deae0.f5a284","a7c8127f.70c18"]]},{"id":"9bcc95a2.118118","type":"debug","z":"700eb341.6000fc","name":"Phase0 Power","active":false,"console":"false","complete":"payload","x":325.00689697265625,"y":388.77781677246094,"wires":[]},{"id":"75172293.5c7b2c","type":"mqtt out","z":"700eb341.6000fc","name":"","topic":"1_p0_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1068,"y":1003,"wires":[]},{"id":"ae1d5bb3.c950a8","type":"mqtt in","z":"700eb341.6000fc","name":"","topic":"1_p1","qos":"0","broker":"faa41933.fa74e8","x":138,"y":603,"wires":[["3883c1fd.04374e","6c14054.3af30fc","7c0c2d4c.e8a3f4","532b6b3c.a0e844","f63f34c9.fd0338","5f43e985.6073a8"]]},{"id":"3883c1fd.04374e","type":"debug","z":"700eb341.6000fc","name":"Phase1 Power","active":false,"console":"false","complete":"payload","x":326.0069007873535,"y":574.7778172492981,"wires":[]},{"id":"a24e0fe4.74938","type":"mqtt in","z":"700eb341.6000fc","name":"","topic":"1_p2","qos":"0","broker":"faa41933.fa74e8","x":138,"y":723,"wires":[["202c4b90.f1ec34","63b209a4.1d2db8","af04de55.e8aea","7c0c2d4c.e8a3f4","31dcf0c.72c231","bbe14155.6c28e","6422e1d0.a4ce1"]]},{"id":"202c4b90.f1ec34","type":"debug","z":"700eb341.6000fc","name":"Phase2 Power","active":false,"console":"false","complete":"payload","x":333.00689697265625,"y":722.77783203125,"wires":[]},{"id":"ae4614aa.8ca738","type":"mqtt out","z":"700eb341.6000fc","name":"","topic":"1_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1059.9339036941528,"y":948.4862728118896,"wires":[]},{"id":"d7433673.992b78","type":"debug","z":"700eb341.6000fc","name":"","active":false,"console":"false","complete":"false","x":1155.0140380859375,"y":1394.7744140625,"wires":[]},{"id":"de60ad76.4b4e8","type":"function","z":"700eb341.6000fc","name":"e0","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":949.0731010437012,"y":1419.3369145393372,"wires":[["d7433673.992b78","9f8faa6e.fecbe8","75e8380.f2023c8"]]},{"id":"5cc50cd1.35dcb4","type":"debug","z":"700eb341.6000fc","name":"","active":false,"console":"false","complete":"false","x":1117.0311889648438,"y":1502.2189679145813,"wires":[]},{"id":"60b38db3.0d15c4","type":"function","z":"700eb341.6000fc","name":"e1","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":940.0902214050293,"y":1529.7815012931824,"wires":[["5cc50cd1.35dcb4","4df58463.7ac0ac"]]},{"id":"58b41f9.6bfeae","type":"debug","z":"700eb341.6000fc","name":"","active":false,"console":"false","complete":"false","x":1128.031177520752,"y":1605.7743334770203,"wires":[]},{"id":"236b20fa.34914","type":"function","z":"700eb341.6000fc","name":"e2","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":951.0902099609375,"y":1633.3368668556213,"wires":[["58b41f9.6bfeae","ce620646.d99878"]]},{"id":"754c5b0.ea1dba4","type":"function","z":"700eb341.6000fc","name":"et","func":"var e0 = parseFloat(msg.payload.tp0);\nvar e1 = parseFloat(msg.payload.tp1);\nvar e2 = parseFloat(msg.payload.tp2);\nmsg.payload = e0 + e1 + e2;\nmsg.topic = \"/1/3e\";\nreturn msg;","outputs":1,"noerr":0,"x":885.069146156311,"y":914.1286725997925,"wires":[["99df0c4b.d53c1","ae4614aa.8ca738","fe3397cb.918838","37d28fdf.0bae9"]]},{"id":"42aa593b.e609e8","type":"function","z":"700eb341.6000fc","name":"p0","func":"var p = parseFloat(msg.payload.p0);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":738.0000219345093,"y":1459.9999947547913,"wires":[["de60ad76.4b4e8"]]},{"id":"30f79d6.3d42062","type":"function","z":"700eb341.6000fc","name":"p1","func":"var p = parseFloat(msg.payload.p1);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":735.0172958374023,"y":1528.3335137367249,"wires":[["60b38db3.0d15c4"]]},{"id":"cb2c0954.d223a8","type":"function","z":"700eb341.6000fc","name":"p2","func":"var p = parseFloat(msg.payload.p2);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":742.0173072814941,"y":1597.3336205482483,"wires":[["236b20fa.34914"]]},{"id":"1582a654.96a05a","type":"function","z":"700eb341.6000fc","name":"tp0","func":"var tmp = parseFloat(msg.payload.p0);\nvar tp = parseFloat(msg.payload.tp0);\nmsg.payload = tp + tmp;\nmsg.topic = \"/1/e0\";\nreturn msg;","outputs":1,"noerr":0,"x":709.0230722427368,"y":1004.6607246398926,"wires":[["54d14d77.b36ed4"]]},{"id":"96ea032a.9d3e2","type":"function","z":"700eb341.6000fc","name":"tp1","func":"var tmp = parseFloat(msg.payload.p1);\nvar tp = parseFloat(msg.payload.tp1);\nmsg.payload = tp + tmp;\nmsg.topic = \"/1/e1\";\nreturn msg;","outputs":1,"noerr":0,"x":708.6835985183716,"y":1065.632040977478,"wires":[["1065f8ec.cf8067"]]},{"id":"a7a0b445.5993f8","type":"mqtt out","z":"700eb341.6000fc","name":"","topic":"1_p1_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1071.6835451126099,"y":1067.6320486068726,"wires":[]},{"id":"ccdacd67.4433e","type":"function","z":"700eb341.6000fc","name":"tp2","func":"var tmp = parseFloat(msg.payload.p2);\nvar tp = parseFloat(msg.payload.tp2);\nmsg.payload = tp + tmp;\nmsg.topic = \"/1/e2\";\nreturn msg;","outputs":1,"noerr":0,"x":710.6835985183716,"y":1119.632040977478,"wires":[["70c72c89.0d1084"]]},{"id":"f3103796.1143c8","type":"mqtt out","z":"700eb341.6000fc","name":"","topic":"1_p2_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1075.6834869384766,"y":1121.6320400238037,"wires":[]},{"id":"f1c0b434.e0c788","type":"delay","z":"700eb341.6000fc","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":716.5239534378052,"y":913.8021955490112,"wires":[["754c5b0.ea1dba4"]]},{"id":"e55a49f4.0ae198","type":"e-mail","z":"700eb341.6000fc","server":"smtp.gmail.com","port":"465","secure":true,"name":"kchatpeth@gmail.com","dname":"alm","x":318,"y":823,"wires":[]},{"id":"5e2de148.547dd","type":"mqtt in","z":"700eb341.6000fc","name":"Alarm","topic":"Alarm1","qos":"0","broker":"2460a20d.93c08e","x":138,"y":863,"wires":[["d686263e.5039c8","e55a49f4.0ae198"]]},{"id":"ac8f859b.07ef68","type":"mqtt out","z":"700eb341.6000fc","name":"Alarm","topic":"Alarm1","qos":"0","retain":"","broker":"2460a20d.93c08e","x":298,"y":943,"wires":[]},{"id":"f2f2d793.573408","type":"inject","z":"700eb341.6000fc","name":"test alarm","topic":"Alarm","payload":"Alarm from node 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":148,"y":943,"wires":[["ac8f859b.07ef68"]]},{"id":"ed0920b0.3577a","type":"inject","z":"700eb341.6000fc","name":"tsmp","topic":"tsmp","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":158,"y":1083,"wires":[["a8a5c130.d2911","20044350.87347c","af04de55.e8aea"]]},{"id":"af04de55.e8aea","type":"function","z":"700eb341.6000fc","name":"checkerr","func":"var count = context.get('count') || 0;\nif(msg.topic == \"tsmp\")\n{\n    count = count + 1;\n}\nelse\n{\n    count = 0;\n}\ncontext.set('count',count);\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1100,"wires":[["3db0effa.df5ec"]]},{"id":"e517cfc0.f5b5e","type":"debug","z":"700eb341.6000fc","name":"restart","active":false,"console":"false","complete":"payload","x":658,"y":1223,"wires":[]},{"id":"3db0effa.df5ec","type":"switch","z":"700eb341.6000fc","name":"err_no","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"12","vt":"str"}],"checkall":"true","outputs":1,"x":478,"y":1183,"wires":[["533613d5.d8e4ec","e517cfc0.f5b5e"]]},{"id":"52005ff0.7995b","type":"mqtt out","z":"700eb341.6000fc","name":"restart","topic":"sw1","qos":"0","retain":"","broker":"faa41933.fa74e8","x":870,"y":1180,"wires":[]},{"id":"533613d5.d8e4ec","type":"function","z":"700eb341.6000fc","name":"ESP.restart()","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1180,"wires":[["52005ff0.7995b","6f53cc9a.16b554","38514c.ecc1deb4","28ea6239.65df4e"]]},{"id":"37d28fdf.0bae9","type":"function","z":"700eb341.6000fc","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nreturn msg;","outputs":1,"noerr":0,"x":1058,"y":797,"wires":[["b77d6b4b.03a1c8","f6ea88b8.ce38e8"]]},{"id":"d337e5e2.588758","type":"firebase modify","z":"700eb341.6000fc","name":"1_p0","firebaseconfig":"","childpath":"/1/power/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":300.07623291015625,"y":428.6596984863281,"wires":[["3a1db084.3ad87"]]},{"id":"6c14054.3af30fc","type":"firebase modify","z":"700eb341.6000fc","name":"1_p1","firebaseconfig":"","childpath":"/1/power/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":305.1006889343262,"y":624.5655426979065,"wires":[["b822d349.20956"]]},{"id":"63b209a4.1d2db8","type":"firebase modify","z":"700eb341.6000fc","name":"1_p2","firebaseconfig":"","childpath":"/1/power/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":302,"y":760,"wires":[["b98af988.3a7d98"]]},{"id":"9f8faa6e.fecbe8","type":"firebase modify","z":"700eb341.6000fc","name":"eng0","firebaseconfig":"","childpath":"/1/energy/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":1138.0175666809082,"y":1444.4446215629578,"wires":[[]]},{"id":"4df58463.7ac0ac","type":"firebase modify","z":"700eb341.6000fc","name":"eng1","firebaseconfig":"","childpath":"/1/energy/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":1100.0346221923828,"y":1550.8891625404358,"wires":[[]]},{"id":"ce620646.d99878","type":"firebase modify","z":"700eb341.6000fc","name":"eng2","firebaseconfig":"","childpath":"/1/energy/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":1112.0345993041992,"y":1649.4445118904114,"wires":[[]]},{"id":"99df0c4b.d53c1","type":"firebase modify","z":"700eb341.6000fc","name":"1_eng","firebaseconfig":"","childpath":"/1/energy/total","method":"set","value":"msg.payload","priority":"msg.priority","x":1059.0761156082153,"y":888.6216421127319,"wires":[["7105addc.52fa54"]]},{"id":"54d14d77.b36ed4","type":"firebase modify","z":"700eb341.6000fc","name":"1_tp0","firebaseconfig":"","childpath":"/1/energy/tp0","method":"set","value":"msg.payload","priority":"msg.priority","x":890.0169801712036,"y":1004.632077217102,"wires":[["75172293.5c7b2c","566a2e1d.63b98"]]},{"id":"1065f8ec.cf8067","type":"firebase modify","z":"700eb341.6000fc","name":"1_tp1","firebaseconfig":"","childpath":"/1/energy/tp1","method":"set","value":"msg.payload","priority":"msg.priority","x":892.6836185455322,"y":1066.6320447921753,"wires":[["a7a0b445.5993f8","f016e6bb.fbc178"]]},{"id":"70c72c89.0d1084","type":"firebase modify","z":"700eb341.6000fc","name":"1_tp2","firebaseconfig":"","childpath":"/1/energy/tp2","method":"set","value":"msg.payload","priority":"msg.priority","x":891.6836595535278,"y":1120.6320390701294,"wires":[["f3103796.1143c8","2633d9dc.568256"]]},{"id":"a8a5c130.d2911","type":"firebase.once","z":"700eb341.6000fc","name":"engt","firebaseconfig":"","childpath":"/1/energy","repeatifnull":false,"eventType":"value","queries":[],"x":530.0170068740845,"y":912.3334045410156,"wires":[["1582a654.96a05a","96ea032a.9d3e2","ccdacd67.4433e","f1c0b434.e0c788"]]},{"id":"20044350.87347c","type":"firebase.once","z":"700eb341.6000fc","name":"powt","firebaseconfig":"","childpath":"/1/power","repeatifnull":false,"eventType":"value","queries":[],"x":556.0173015594482,"y":1530.3334822654724,"wires":[["42aa593b.e609e8","30f79d6.3d42062","cb2c0954.d223a8"]]},{"id":"3a1db084.3ad87","type":"ui_gauge","z":"700eb341.6000fc","name":"P0_gag","group":"f148ef2c.acca9","order":9,"width":"5","height":"4","gtype":"gage","title":"PA","label":"Watt","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":879,"y":515,"wires":[]},{"id":"b822d349.20956","type":"ui_gauge","z":"700eb341.6000fc","name":"P1_gag","group":"f148ef2c.acca9","order":10,"width":"5","height":"4","gtype":"gage","title":"PB","label":"Watt","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":879,"y":715,"wires":[]},{"id":"b98af988.3a7d98","type":"ui_gauge","z":"700eb341.6000fc","name":"P2_gag","group":"f148ef2c.acca9","order":11,"width":"5","height":"4","gtype":"gage","title":"PC","label":"Watt","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":879,"y":755,"wires":[]},{"id":"f17b2658.a4d388","type":"ui_gauge","z":"700eb341.6000fc","name":"","group":"e21f64e2.019128","order":0,"width":"7","height":"4","gtype":"gage","title":"Energy (kWh)","label":"","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1401.9993896484375,"y":873.62158203125,"wires":[]},{"id":"3abdc00a.3b70a","type":"ui_chart","z":"700eb341.6000fc","name":"3PGraph","group":"f148ef2c.acca9","order":18,"width":"15","height":"6","label":"3 Phase graph","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":520,"y":100,"wires":[[],[]]},{"id":"fe3397cb.918838","type":"ui_chart","z":"700eb341.6000fc","name":"","group":"e21f64e2.019128","order":0,"width":"10","height":"4","label":"Energy Histrory","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1225.9993982315063,"y":915.6216068267822,"wires":[[],[]]},{"id":"d686263e.5039c8","type":"ui_toast","z":"700eb341.6000fc","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Alarm","name":"Show alarm","x":351.0000228881836,"y":878.0000009536743,"wires":[]},{"id":"b77d6b4b.03a1c8","type":"rest publish","z":"700eb341.6000fc","name":"energy3Phase","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":1239,"y":797,"wires":[]},{"id":"af6b8694.544ea8","type":"inject","z":"700eb341.6000fc","name":"!!! reset all data off meter !!!","topic":"reset meter","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":470,"y":1040,"wires":[["54d14d77.b36ed4","1065f8ec.cf8067","70c72c89.0d1084","99df0c4b.d53c1"]]},{"id":"6f53cc9a.16b554","type":"mqtt out","z":"700eb341.6000fc","name":"","topic":"1_p0","qos":"0","retain":"","broker":"faa41933.fa74e8","x":890,"y":1240,"wires":[]},{"id":"38514c.ecc1deb4","type":"mqtt out","z":"700eb341.6000fc","name":"","topic":"1_p1","qos":"0","retain":"","broker":"faa41933.fa74e8","x":910,"y":1300,"wires":[]},{"id":"28ea6239.65df4e","type":"mqtt out","z":"700eb341.6000fc","name":"","topic":"1_p2","qos":"0","retain":"","broker":"faa41933.fa74e8","x":910,"y":1360,"wires":[]},{"id":"d38edb46.7720f8","type":"inject","z":"700eb341.6000fc","name":"test value","topic":"test","payload":"10000","payloadType":"str","repeat":"","crontab":"","once":false,"x":486,"y":1305,"wires":[["cce5bbf9.00bd88","89a6f3cf.9afd7","bbb81c44.0d101"]]},{"id":"75e8380.f2023c8","type":"debug","z":"700eb341.6000fc","name":"","active":false,"console":"false","complete":"payload","x":1158,"y":1343,"wires":[]},{"id":"9d60fd32.de0c3","type":"inject","z":"700eb341.6000fc","name":"force_restart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":463,"y":1228,"wires":[["533613d5.d8e4ec","e517cfc0.f5b5e"]]},{"id":"f6ea88b8.ce38e8","type":"ui_gauge","z":"700eb341.6000fc","name":"","group":"95b501bb.43c6e","order":0,"width":"4","height":"4","gtype":"gage","title":"Energy (Node1)","label":"kWhr.","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1230,"y":838,"wires":[]},{"id":"7c0c2d4c.e8a3f4","type":"function","z":"700eb341.6000fc","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nmsg.topic = \"/\" +msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":307,"y":478,"wires":[["df260d9.f5422f","65b280ac.896b2"]]},{"id":"df260d9.f5422f","type":"debug","z":"700eb341.6000fc","name":"","active":false,"console":"false","complete":"false","x":896,"y":430,"wires":[]},{"id":"65b280ac.896b2","type":"rest publish","z":"700eb341.6000fc","name":"power","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":872,"y":476,"wires":[]},{"id":"6f7642eb.3b810c","type":"function","z":"700eb341.6000fc","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":302,"y":330,"wires":[["74dbc85b.84a628"]]},{"id":"6ba5cbb0.33e954","type":"ui_button","z":"700eb341.6000fc","name":"min resolution","group":"f148ef2c.acca9","order":12,"width":"3","height":"1","passthru":false,"label":"minute","color":"","bgcolor":"","icon":"","payload":"Minute resolution","payloadType":"str","topic":"minute_res","x":839,"y":231,"wires":[["e7a21dc2.bae0a"]]},{"id":"e7a21dc2.bae0a","type":"ui_ui_control","z":"700eb341.6000fc","name":"","x":1058,"y":223,"wires":[[]]},{"id":"65f4105b.a59dd","type":"ui_chart","z":"700eb341.6000fc","name":"min","group":"f3414c6f.61626","order":2,"width":"18","height":"6","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":510,"y":140,"wires":[[],[]]},{"id":"cce5bbf9.00bd88","type":"random","z":"700eb341.6000fc","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":647,"y":1260,"wires":[["6f53cc9a.16b554"]]},{"id":"c53f0815.7eab18","type":"ui_chart","z":"700eb341.6000fc","name":"hour","group":"f6cdb7bb.be7438","order":2,"width":"18","height":"6","label":"Average power per min. (W)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":670,"y":240,"wires":[[],[]]},{"id":"d51e8b3d.af05e8","type":"ui_button","z":"700eb341.6000fc","name":"hour resolution","group":"f148ef2c.acca9","order":13,"width":"3","height":"1","passthru":false,"label":"hour","color":"","bgcolor":"","icon":"","payload":"Hour resolution","payloadType":"str","topic":"hour resolution","x":840,"y":189,"wires":[["e7a21dc2.bae0a"]]},{"id":"a0acdf1a.5edb6","type":"ui_text","z":"700eb341.6000fc","group":"e21f64e2.019128","order":0,"width":"3","height":"1","name":"","label":"EA","format":"{{msg.payload}}","layout":"row-spread","x":1378,"y":1026,"wires":[]},{"id":"ec130805.738ec8","type":"ui_text","z":"700eb341.6000fc","group":"e21f64e2.019128","order":0,"width":"3","height":"1","name":"","label":"EB","format":"{{msg.payload}}","layout":"row-spread","x":1375,"y":1090,"wires":[]},{"id":"7ec2de80.59e81","type":"ui_text","z":"700eb341.6000fc","group":"e21f64e2.019128","order":0,"width":"3","height":"1","name":"","label":"EC","format":"{{msg.payload}}","layout":"row-spread","x":1377,"y":1152,"wires":[]},{"id":"89a6f3cf.9afd7","type":"random","z":"700eb341.6000fc","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":649,"y":1304,"wires":[["38514c.ecc1deb4"]]},{"id":"bbb81c44.0d101","type":"random","z":"700eb341.6000fc","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":649,"y":1352,"wires":[["28ea6239.65df4e"]]},{"id":"566a2e1d.63b98","type":"function","z":"700eb341.6000fc","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1209,"y":1026,"wires":[["a0acdf1a.5edb6"]]},{"id":"f016e6bb.fbc178","type":"function","z":"700eb341.6000fc","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1207,"y":1091,"wires":[["ec130805.738ec8"]]},{"id":"2633d9dc.568256","type":"function","z":"700eb341.6000fc","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1205,"y":1153,"wires":[["7ec2de80.59e81"]]},{"id":"7105addc.52fa54","type":"function","z":"700eb341.6000fc","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":875,"wires":[["f17b2658.a4d388"]]},{"id":"532b6b3c.a0e844","type":"function","z":"700eb341.6000fc","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"x":302,"y":537,"wires":[["684c0ff7.88ab8"]]},{"id":"31dcf0c.72c231","type":"function","z":"700eb341.6000fc","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"x":303,"y":678,"wires":[["d9d79e67.fb109"]]},{"id":"75727a4c.4a0754","type":"firebase modify","z":"700eb341.6000fc","name":"peak0","firebaseconfig":"","childpath":"/Peak/1_PA","method":"set","value":"msg.payload","priority":"msg.priority","x":590,"y":320,"wires":[["1692eee7.396df1"]]},{"id":"336ece00.67de22","type":"firebase modify","z":"700eb341.6000fc","name":"peak1","firebaseconfig":"","childpath":"/Peak/1_PB","method":"set","value":"msg.payload","priority":"msg.priority","x":590,"y":380,"wires":[["8f12fe93.1a46c"]]},{"id":"3c2f9e8e.b6e7d2","type":"firebase modify","z":"700eb341.6000fc","name":"peak2","firebaseconfig":"","childpath":"/Peak/1_PC","method":"set","value":"msg.payload","priority":"msg.priority","x":570,"y":580,"wires":[["ce508b73.0d5818"]]},{"id":"1692eee7.396df1","type":"ui_text","z":"700eb341.6000fc","group":"41eafa35.4cab14","order":0,"width":"2","height":"1","name":"","label":"PeakA","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":320,"wires":[]},{"id":"8f12fe93.1a46c","type":"ui_text","z":"700eb341.6000fc","group":"41eafa35.4cab14","order":0,"width":"2","height":"1","name":"","label":"PeakB","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":380,"wires":[]},{"id":"ce508b73.0d5818","type":"ui_text","z":"700eb341.6000fc","group":"41eafa35.4cab14","order":0,"width":"2","height":"1","name":"","label":"PeakC","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":560,"wires":[]},{"id":"9f10631.10ba4a","type":"inject","z":"700eb341.6000fc","name":"write_to_db","topic":"write_to_db","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":84,"y":243,"wires":[["6f7642eb.3b810c","4d0cfe6b.ca452","532b6b3c.a0e844","31dcf0c.72c231"]]},{"id":"4d0cfe6b.ca452","type":"firebase.once","z":"700eb341.6000fc","name":"peak","firebaseconfig":"","childpath":"/Peak","repeatifnull":false,"eventType":"value","queries":[],"x":291,"y":101,"wires":[["2e9d4801.ca60d8"]]},{"id":"349a1cf8.ff58a4","type":"writefeed","z":"700eb341.6000fc","name":"peak","feedid":"wpm2018Database","apikey":"FtzABVCEyUPppAZKAmGsle2RYQBfiA6u","data":"payload","dataType":"msg","x":583,"y":39,"wires":[]},{"id":"2e9d4801.ca60d8","type":"function","z":"700eb341.6000fc","name":"feed","func":"msg.payload = \"1_PA: \" + msg.payload[\"1_PA\"] + \", 1_PB: \" + msg.payload[\"1_PB\"] + \", 1_PC: \" + msg.payload[\"1_PC\"] + \", 2_PA: \" + msg.payload[\"2_PA\"] + \" , 2_PB: \" + msg.payload[\"2_PB\"] + \", 2_PC: \" + msg.payload[\"2_PC\"];\nreturn msg;","outputs":1,"noerr":0,"x":418,"y":63,"wires":[["349a1cf8.ff58a4"]]},{"id":"74dbc85b.84a628","type":"delay","z":"700eb341.6000fc","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":320,"wires":[["75727a4c.4a0754"]]},{"id":"684c0ff7.88ab8","type":"delay","z":"700eb341.6000fc","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":540,"wires":[["336ece00.67de22"]]},{"id":"d9d79e67.fb109","type":"delay","z":"700eb341.6000fc","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":680,"wires":[["3c2f9e8e.b6e7d2"]]},{"id":"b2075dcb.33b5","type":"mqtt out","z":"700eb341.6000fc","name":"m1","topic":"m1","qos":"0","retain":"false","broker":"faa41933.fa74e8","x":450,"y":1660,"wires":[]},{"id":"27a46bda.9b64e4","type":"mqtt out","z":"700eb341.6000fc","name":"C1","topic":"C1","qos":"0","retain":"false","broker":"faa41933.fa74e8","x":450,"y":1740,"wires":[]},{"id":"5489682.19e8d98","type":"mqtt in","z":"700eb341.6000fc","name":"NID","topic":"1","qos":"0","broker":"faa41933.fa74e8","x":90,"y":1680,"wires":[["aa5b1362.2d738","ae783bc0.5669d8"]]},{"id":"aa5b1362.2d738","type":"function","z":"700eb341.6000fc","name":"m","func":"msg.payload = \"60\";\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1678.9236145019531,"wires":[["b2075dcb.33b5","e7497d1.27c088"]]},{"id":"ae783bc0.5669d8","type":"function","z":"700eb341.6000fc","name":"C","func":"msg.payload = \"-2\";\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1740,"wires":[["27a46bda.9b64e4","e7497d1.27c088"]]},{"id":"e7497d1.27c088","type":"debug","z":"700eb341.6000fc","name":"","active":false,"console":"false","complete":"false","x":470,"y":1620,"wires":[]},{"id":"4c5e8a3a.11ccf4","type":"ui_button","z":"700eb341.6000fc","name":"","group":"f6cdb7bb.be7438","order":1,"width":"3","height":"1","passthru":false,"label":"min resolution","color":"","bgcolor":"","icon":"","payload":"Minute resolution","payloadType":"str","topic":"minute_res","x":830.0799102783203,"y":97.99652862548828,"wires":[["e7a21dc2.bae0a"]]},{"id":"15a01ffb.d5597","type":"ui_button","z":"700eb341.6000fc","name":"hour resolution","group":"f3414c6f.61626","order":1,"width":"3","height":"1","passthru":false,"label":"hour resolution","color":"","bgcolor":"","icon":"","payload":"Hour resolution","payloadType":"str","topic":"hour resolution","x":833.0833892822266,"y":146.98958587646484,"wires":[["e7a21dc2.bae0a"]]},{"id":"482deae0.f5a284","type":"function","z":"700eb341.6000fc","name":"PA","func":"msg.topic = \"PA\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["65f4105b.a59dd","3abdc00a.3b70a"]]},{"id":"f63f34c9.fd0338","type":"function","z":"700eb341.6000fc","name":"PB","func":"msg.topic = \"PB\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["65f4105b.a59dd","3abdc00a.3b70a"]]},{"id":"bbe14155.6c28e","type":"function","z":"700eb341.6000fc","name":"PC","func":"msg.topic = \"PC\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["65f4105b.a59dd","3abdc00a.3b70a"]]},{"id":"a7c8127f.70c18","type":"function","z":"700eb341.6000fc","name":"avg_PA","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PA\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":500,"y":200,"wires":[["c53f0815.7eab18"]]},{"id":"5f43e985.6073a8","type":"function","z":"700eb341.6000fc","name":"avg_PB","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PB\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":480,"y":240,"wires":[["c53f0815.7eab18"]]},{"id":"6422e1d0.a4ce1","type":"function","z":"700eb341.6000fc","name":"avg_PC","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PC\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":460,"y":280,"wires":[["c53f0815.7eab18"]]},{"id":"59e0e754.5889d8","type":"mqtt in","z":"700eb341.6000fc","name":"Encript data","topic":"fff1","qos":"0","broker":"faa41933.fa74e8","x":107.07638549804688,"y":1832.3888931274414,"wires":[["f43f8f7c.d7d9e"]]},{"id":"f43f8f7c.d7d9e","type":"function","z":"700eb341.6000fc","name":"P_total","func":"var tmp_str = msg.payload.split(\"_\");\nvar p_total = parseFloat(tmp_str[0]) + parseFloat(tmp_str[1]) + parseFloat(tmp_str[2]);\nmsg.topic = \"Ptotal\";\nmsg.payload = p_total.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1840,"wires":[["25db6374.3b1dec","a11f7756.e21668","a6253011.2215d"]]},{"id":"25db6374.3b1dec","type":"function","z":"700eb341.6000fc","name":"P_avg","func":"var pavg = msg.payload/3;\nmsg.payload =pavg.toFixed(2)\nmsg.topic = \"Pavg\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1920,"wires":[["f963bb0f.fd3178","a6253011.2215d"]]},{"id":"a11f7756.e21668","type":"ui_gauge","z":"700eb341.6000fc","name":"Ptotal","group":"f148ef2c.acca9","order":14,"width":"5","height":"4","gtype":"gage","title":"Ptotal","label":"W","format":"{{value}}","min":0,"max":"300000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":455.07984924316406,"y":1812.9792556762695,"wires":[]},{"id":"f963bb0f.fd3178","type":"ui_gauge","z":"700eb341.6000fc","name":"Pavg","group":"f148ef2c.acca9","order":15,"width":"5","height":"4","gtype":"gage","title":"Pavg","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":611.0694732666016,"y":1952.9792556762695,"wires":[]},{"id":"a6253011.2215d","type":"ui_chart","z":"700eb341.6000fc","name":"P_grp","group":"f148ef2c.acca9","order":16,"width":"15","height":"6","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300000","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":630,"y":1860,"wires":[[],[]]},{"id":"4ffa591d.7976f8","type":"mqtt in","z":"700eb341.6000fc","name":"restart_from_hmi","topic":"1_RTS","qos":"0","broker":"faa41933.fa74e8","x":520,"y":1140,"wires":[["52005ff0.7995b"]]},{"id":"faa41933.fa74e8","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2460a20d.93c08e","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f148ef2c.acca9","type":"ui_group","z":"700eb341.6000fc","name":"Node1","tab":"5a9e5e.e82ce1a4","order":1,"disp":true,"width":"19"},{"id":"e21f64e2.019128","type":"ui_group","z":"700eb341.6000fc","name":"Energy","tab":"5a9e5e.e82ce1a4","order":3,"disp":true,"width":"19"},{"id":"95b501bb.43c6e","type":"ui_group","z":"","name":"Energy","tab":"698253f2.fc01ec","order":2,"disp":true,"width":"19"},{"id":"f3414c6f.61626","type":"ui_group","z":"","name":"Node1","tab":"81df91f1.47772","disp":true,"width":"19"},{"id":"f6cdb7bb.be7438","type":"ui_group","z":"","name":"Node1","tab":"fe70155f.d73d98","order":1,"disp":true,"width":"19"},{"id":"41eafa35.4cab14","type":"ui_group","z":"","name":"Parameter","tab":"5a9e5e.e82ce1a4","order":2,"disp":true,"width":"19"},{"id":"5a9e5e.e82ce1a4","type":"ui_tab","z":"700eb341.6000fc","name":"Node1","icon":"dashboard","order":1},{"id":"698253f2.fc01ec","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":7},{"id":"81df91f1.47772","type":"ui_tab","z":"","name":"Minute resolution","icon":"dashboard","order":8},{"id":"fe70155f.d73d98","type":"ui_tab","z":"","name":"Hour resolution","icon":"dashboard","order":9}]