node-red_children.txt
[{"id":"3c5f5624.34db6a","type":"mqtt in","z":"5a3f5c2b.74d5d4","name":"","topic":"2_p0","qos":"0","broker":"faa41933.fa74e8","x":150,"y":360,"wires":[["4ecebec5.e4c7e","506ca70a.6b6728","45fc0617.6ba7c8","9c0a21f.c09b5e","23cb1915.1a8466"]]},{"id":"4e06010c.2b6cb","type":"mqtt out","z":"5a3f5c2b.74d5d4","name":"","topic":"2_p0_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1167,"y":946,"wires":[]},{"id":"e882be34.ec863","type":"mqtt in","z":"5a3f5c2b.74d5d4","name":"","topic":"2_p1","qos":"0","broker":"faa41933.fa74e8","x":170,"y":540,"wires":[["ae51a583.bc74b8","506ca70a.6b6728","4728ffd9.e537a","dfeefdd2.92b98","3e5040e0.e3932"]]},{"id":"b13b3045.8480f","type":"mqtt in","z":"5a3f5c2b.74d5d4","name":"","topic":"2_p2","qos":"0","broker":"faa41933.fa74e8","x":150,"y":640,"wires":[["6efc0d94.264dd4","d0c05de4.44c81","506ca70a.6b6728","88ee73b7.6a7f8","59c0dd61.d559d4","cdc2098e.a98d98"]]},{"id":"ee770f83.582cb","type":"mqtt out","z":"5a3f5c2b.74d5d4","name":"","topic":"2_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1158.9339036941528,"y":891.4862728118896,"wires":[]},{"id":"36cb0230.fd03be","type":"debug","z":"5a3f5c2b.74d5d4","name":"","active":false,"console":"false","complete":"false","x":1221.0140380859375,"y":1333.7744140625,"wires":[]},{"id":"48573203.817b5c","type":"function","z":"5a3f5c2b.74d5d4","name":"e0","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":1015.0731010437012,"y":1358.3369145393372,"wires":[["36cb0230.fd03be","dcb1038a.6ca63"]]},{"id":"8a41c137.1ae78","type":"debug","z":"5a3f5c2b.74d5d4","name":"","active":false,"console":"false","complete":"false","x":1183.0311889648438,"y":1441.2189679145813,"wires":[]},{"id":"93a58f61.74777","type":"function","z":"5a3f5c2b.74d5d4","name":"e1","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":1006.0902214050293,"y":1468.7815012931824,"wires":[["8a41c137.1ae78","f76caf26.41135"]]},{"id":"2d6dbe4f.cf9c82","type":"debug","z":"5a3f5c2b.74d5d4","name":"","active":false,"console":"false","complete":"false","x":1194.031177520752,"y":1544.7743334770203,"wires":[]},{"id":"cbd5eba1.015038","type":"function","z":"5a3f5c2b.74d5d4","name":"e2","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":1017.0902099609375,"y":1572.3368668556213,"wires":[["2d6dbe4f.cf9c82","e29c1c97.dec28"]]},{"id":"58804293.782e5c","type":"function","z":"5a3f5c2b.74d5d4","name":"et","func":"var e0 = parseFloat(msg.payload.tp0);\nvar e1 = parseFloat(msg.payload.tp1);\nvar e2 = parseFloat(msg.payload.tp2);\nmsg.payload = e0 + e1 + e2;\nmsg.topic = \"/2/3e\";\nreturn msg;","outputs":1,"noerr":0,"x":984.069146156311,"y":857.1286725997925,"wires":[["d15a4cc8.a9a2d","ee770f83.582cb","a51b83f6.f7fdc","553237b8.1bc548"]]},{"id":"4cd17682.995018","type":"function","z":"5a3f5c2b.74d5d4","name":"p0","func":"var p = parseFloat(msg.payload.p0);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":804.0000219345093,"y":1398.9999947547913,"wires":[["48573203.817b5c"]]},{"id":"4a6b1326.41677c","type":"function","z":"5a3f5c2b.74d5d4","name":"p1","func":"var p = parseFloat(msg.payload.p1);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":801.0172958374023,"y":1467.3335137367249,"wires":[["93a58f61.74777"]]},{"id":"b516b166.dc177","type":"function","z":"5a3f5c2b.74d5d4","name":"p2","func":"var p = parseFloat(msg.payload.p2);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":808.0173072814941,"y":1536.3336205482483,"wires":[["cbd5eba1.015038"]]},{"id":"1cd822a3.dfdf6d","type":"function","z":"5a3f5c2b.74d5d4","name":"tp0","func":"var tmp = parseFloat(msg.payload.p0);\nvar tp = parseFloat(msg.payload.tp0);\nmsg.payload = tp + tmp;\nmsg.topic = \"/2/e0\";\nreturn msg;","outputs":1,"noerr":0,"x":808.0230722427368,"y":947.6607246398926,"wires":[["1370294.c6973d7"]]},{"id":"b6c1a95f.df0218","type":"function","z":"5a3f5c2b.74d5d4","name":"tp1","func":"var tmp = parseFloat(msg.payload.p1);\nvar tp = parseFloat(msg.payload.tp1);\nmsg.payload = tp + tmp;\nmsg.topic = \"/2/e1\";\nreturn msg;","outputs":1,"noerr":0,"x":807.6835985183716,"y":1008.632040977478,"wires":[["7904776f.1a1d48"]]},{"id":"ccec0f62.c802","type":"mqtt out","z":"5a3f5c2b.74d5d4","name":"","topic":"2_p1_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1170.6835451126099,"y":1010.6320486068726,"wires":[]},{"id":"2da4340a.3005ec","type":"function","z":"5a3f5c2b.74d5d4","name":"tp2","func":"var tmp = parseFloat(msg.payload.p2);\nvar tp = parseFloat(msg.payload.tp2);\nmsg.payload = tp + tmp;\nmsg.topic = \"/2/e2\";\nreturn msg;","outputs":1,"noerr":0,"x":809.6835985183716,"y":1062.632040977478,"wires":[["913bebae.8437a8"]]},{"id":"555509cd.c7c3d8","type":"mqtt out","z":"5a3f5c2b.74d5d4","name":"","topic":"2_p2_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1174.6834869384766,"y":1064.6320400238037,"wires":[]},{"id":"9c9b86e9.55acf8","type":"delay","z":"5a3f5c2b.74d5d4","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":815.5239534378052,"y":856.8021955490112,"wires":[["58804293.782e5c"]]},{"id":"d5192ee1.831c5","type":"e-mail","z":"5a3f5c2b.74d5d4","server":"smtp.gmail.com","port":"465","secure":true,"name":"kchatpeth@gmail.com","dname":"","x":520,"y":760,"wires":[]},{"id":"17f9a5bf.3d1cba","type":"mqtt in","z":"5a3f5c2b.74d5d4","name":"Alarm","topic":"Alarm2","qos":"0","broker":"2460a20d.93c08e","x":237,"y":806,"wires":[["f5500c7a.345be","d5192ee1.831c5"]]},{"id":"62883634.68ccf8","type":"mqtt out","z":"5a3f5c2b.74d5d4","name":"Alarm","topic":"Alarm2","qos":"0","retain":"","broker":"2460a20d.93c08e","x":250,"y":920,"wires":[]},{"id":"39af8994.de4ee6","type":"inject","z":"5a3f5c2b.74d5d4","name":"test alarm","topic":"Alarm","payload":"Alarm from node 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":920,"wires":[["62883634.68ccf8"]]},{"id":"d9aba3f8.d5e07","type":"inject","z":"5a3f5c2b.74d5d4","name":"tsmp","topic":"tsmp","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":257,"y":1026,"wires":[["38d2e33d.dce22c","21410b35.bd1fb4","d0c05de4.44c81"]]},{"id":"d0c05de4.44c81","type":"function","z":"5a3f5c2b.74d5d4","name":"checkerr","func":"var count = context.get('count') || 0;\nif(msg.topic == \"tsmp\")\n{\n    count = count + 1;\n}\nelse\n{\n    count = 0;\n}\ncontext.set('count',count);\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"x":427,"y":1026,"wires":[["b4a7c93a.a80ea8"]]},{"id":"ea333d6b.e9b9c","type":"debug","z":"5a3f5c2b.74d5d4","name":"restart","active":false,"console":"false","complete":"payload","x":741,"y":1105,"wires":[]},{"id":"b4a7c93a.a80ea8","type":"switch","z":"5a3f5c2b.74d5d4","name":"err_no","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"12","vt":"str"}],"checkall":"true","outputs":1,"x":577,"y":1126,"wires":[["6c8b444d.ebdfec","ea333d6b.e9b9c"]]},{"id":"f8a50e65.24477","type":"mqtt out","z":"5a3f5c2b.74d5d4","name":"reset","topic":"sw2","qos":"0","retain":"","broker":"faa41933.fa74e8","x":937,"y":1126,"wires":[]},{"id":"6c8b444d.ebdfec","type":"function","z":"5a3f5c2b.74d5d4","name":"ESP.restart()","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":763,"y":1150,"wires":[["f8a50e65.24477","b77498a9.087108","7c8e1373.69743c","3863daf3.d12e16"]]},{"id":"553237b8.1bc548","type":"function","z":"5a3f5c2b.74d5d4","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nreturn msg;","outputs":1,"noerr":0,"x":1157,"y":740,"wires":[["873ed56a.193c48","6d5f9dc.767b264"]]},{"id":"4ecebec5.e4c7e","type":"firebase modify","z":"5a3f5c2b.74d5d4","name":"2_p0","firebaseconfig":"","childpath":"/2/power/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":470,"y":400,"wires":[["8b76b7b8.570d08"]]},{"id":"ae51a583.bc74b8","type":"firebase modify","z":"5a3f5c2b.74d5d4","name":"2_p1","firebaseconfig":"","childpath":"/2/power/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":470,"y":640,"wires":[["2e724780.f513c8"]]},{"id":"6efc0d94.264dd4","type":"firebase modify","z":"5a3f5c2b.74d5d4","name":"2_p2","firebaseconfig":"","childpath":"/2/power/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":470,"y":700,"wires":[["66de136a.83822c"]]},{"id":"dcb1038a.6ca63","type":"firebase modify","z":"5a3f5c2b.74d5d4","name":"eng0","firebaseconfig":"","childpath":"/2/energy/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":1204.0175666809082,"y":1383.4446215629578,"wires":[[]]},{"id":"f76caf26.41135","type":"firebase modify","z":"5a3f5c2b.74d5d4","name":"eng1","firebaseconfig":"","childpath":"/2/energy/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":1166.0346221923828,"y":1489.8891625404358,"wires":[[]]},{"id":"e29c1c97.dec28","type":"firebase modify","z":"5a3f5c2b.74d5d4","name":"eng2","firebaseconfig":"","childpath":"/2/energy/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":1178.0345993041992,"y":1588.4445118904114,"wires":[[]]},{"id":"d15a4cc8.a9a2d","type":"firebase modify","z":"5a3f5c2b.74d5d4","name":"2_eng","firebaseconfig":"","childpath":"/2/energy/total","method":"set","value":"msg.payload","priority":"msg.priority","x":1158.0761156082153,"y":831.6216421127319,"wires":[["1bb0c84a.ed5f78"]]},{"id":"1370294.c6973d7","type":"firebase modify","z":"5a3f5c2b.74d5d4","name":"2_tp0","firebaseconfig":"","childpath":"/2/energy/tp0","method":"set","value":"msg.payload","priority":"msg.priority","x":989.0169801712036,"y":947.632077217102,"wires":[["4e06010c.2b6cb","f021c16e.14642"]]},{"id":"7904776f.1a1d48","type":"firebase modify","z":"5a3f5c2b.74d5d4","name":"2_tp1","firebaseconfig":"","childpath":"/2/energy/tp1","method":"set","value":"msg.payload","priority":"msg.priority","x":991.6836185455322,"y":1009.6320447921753,"wires":[["ccec0f62.c802","781b0275.e0b60c"]]},{"id":"913bebae.8437a8","type":"firebase modify","z":"5a3f5c2b.74d5d4","name":"2_tp2","firebaseconfig":"","childpath":"/2/energy/tp2","method":"set","value":"msg.payload","priority":"msg.priority","x":990.6836595535278,"y":1063.6320390701294,"wires":[["555509cd.c7c3d8","3ecb34f1.96ee5c"]]},{"id":"38d2e33d.dce22c","type":"firebase.once","z":"5a3f5c2b.74d5d4","name":"engt","firebaseconfig":"","childpath":"/2/energy","repeatifnull":false,"eventType":"value","queries":[],"x":629.0170068740845,"y":855.3334045410156,"wires":[["1cd822a3.dfdf6d","b6c1a95f.df0218","2da4340a.3005ec","9c9b86e9.55acf8"]]},{"id":"21410b35.bd1fb4","type":"firebase.once","z":"5a3f5c2b.74d5d4","name":"powt","firebaseconfig":"","childpath":"/2/power","repeatifnull":false,"eventType":"value","queries":[],"x":622.0173015594482,"y":1469.3334822654724,"wires":[["4cd17682.995018","4a6b1326.41677c","b516b166.dc177"]]},{"id":"8b76b7b8.570d08","type":"ui_gauge","z":"5a3f5c2b.74d5d4","name":"P0_gag","group":"fb57ece8.fedf","order":1,"width":"5","height":"4","gtype":"gage","title":"PA","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":400,"wires":[]},{"id":"2e724780.f513c8","type":"ui_gauge","z":"5a3f5c2b.74d5d4","name":"P1_gag","group":"fb57ece8.fedf","order":2,"width":"5","height":"4","gtype":"gage","title":"PB","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":640,"wires":[]},{"id":"66de136a.83822c","type":"ui_gauge","z":"5a3f5c2b.74d5d4","name":"P2_gag","group":"fb57ece8.fedf","order":3,"width":"5","height":"4","gtype":"gage","title":"PC","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":700,"wires":[]},{"id":"80a67824.423208","type":"ui_gauge","z":"5a3f5c2b.74d5d4","name":"","group":"29bada47.68bf86","order":0,"width":"7","height":"4","gtype":"gage","title":"Energy (kWh)","label":"kWh","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1540,"y":820,"wires":[]},{"id":"8d7953c2.d7348","type":"ui_chart","z":"5a3f5c2b.74d5d4","name":"3PGraph","group":"fb57ece8.fedf","order":6,"width":"15","height":"6","label":"3 Phase graph","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":720,"y":140,"wires":[[],[]]},{"id":"a51b83f6.f7fdc","type":"ui_chart","z":"5a3f5c2b.74d5d4","name":"","group":"29bada47.68bf86","order":0,"width":"10","height":"4","label":"Energy Histrory","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1324.9993982315063,"y":858.6216068267822,"wires":[[],[]]},{"id":"f5500c7a.345be","type":"ui_toast","z":"5a3f5c2b.74d5d4","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Alarm","name":"Show alarm","x":490,"y":820,"wires":[]},{"id":"873ed56a.193c48","type":"rest publish","z":"5a3f5c2b.74d5d4","name":"energy3Phase","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":1338,"y":740,"wires":[]},{"id":"1145daf2.d564a5","type":"inject","z":"5a3f5c2b.74d5d4","name":"","topic":"reset meter","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":613.6840209960938,"y":1001.454833984375,"wires":[["d15a4cc8.a9a2d","1370294.c6973d7","7904776f.1a1d48","913bebae.8437a8"]]},{"id":"b77498a9.087108","type":"mqtt out","z":"5a3f5c2b.74d5d4","name":"","topic":"2_p0","qos":"0","retain":"","broker":"faa41933.fa74e8","x":938,"y":1181,"wires":[]},{"id":"7c8e1373.69743c","type":"mqtt out","z":"5a3f5c2b.74d5d4","name":"","topic":"2_p1","qos":"0","retain":"","broker":"faa41933.fa74e8","x":936,"y":1239,"wires":[]},{"id":"3863daf3.d12e16","type":"mqtt out","z":"5a3f5c2b.74d5d4","name":"","topic":"2_p2","qos":"0","retain":"","broker":"faa41933.fa74e8","x":939,"y":1294,"wires":[]},{"id":"a5ea61b4.a11e9","type":"inject","z":"5a3f5c2b.74d5d4","name":"force_restart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":565,"y":1173,"wires":[["6c8b444d.ebdfec","ea333d6b.e9b9c"]]},{"id":"6d5f9dc.767b264","type":"ui_gauge","z":"5a3f5c2b.74d5d4","name":"","group":"95b501bb.43c6e","order":0,"width":"4","height":"4","gtype":"gage","title":"Energy (Node2)","label":"kWhr.","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1326,"y":781,"wires":[]},{"id":"ef0e833e.3b4ee","type":"rest publish","z":"5a3f5c2b.74d5d4","name":"power","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":690,"y":460,"wires":[]},{"id":"506ca70a.6b6728","type":"function","z":"5a3f5c2b.74d5d4","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nmsg.topic = \"/\" +msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":460,"wires":[["ef0e833e.3b4ee"]]},{"id":"57561498.c34e6c","type":"inject","z":"5a3f5c2b.74d5d4","name":"write_to_db","topic":"write_to_db","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":165,"y":472,"wires":[["4728ffd9.e537a","88ee73b7.6a7f8","45fc0617.6ba7c8"]]},{"id":"45fc0617.6ba7c8","type":"function","z":"5a3f5c2b.74d5d4","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":470,"y":340,"wires":[["118b29d6.bf3ca6"]]},{"id":"43380abe.218fa4","type":"firebase modify","z":"5a3f5c2b.74d5d4","name":"peak0","firebaseconfig":"","childpath":"/Peak/2_PA","method":"set","value":"msg.payload","priority":"msg.priority","x":790,"y":340,"wires":[["2be6dacd.7fb2d6"]]},{"id":"4728ffd9.e537a","type":"function","z":"5a3f5c2b.74d5d4","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":470,"y":520,"wires":[["407f4522.ea206c"]]},{"id":"ece37be0.5dd268","type":"firebase modify","z":"5a3f5c2b.74d5d4","name":"peak1","firebaseconfig":"","childpath":"/Peak/2_PB","method":"set","value":"msg.payload","priority":"msg.priority","x":790,"y":520,"wires":[["25d5fb65.e28024"]]},{"id":"88ee73b7.6a7f8","type":"function","z":"5a3f5c2b.74d5d4","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":470,"y":580,"wires":[["6f1259c4.c52628"]]},{"id":"f919f0bc.f5ff2","type":"firebase modify","z":"5a3f5c2b.74d5d4","name":"peak2","firebaseconfig":"","childpath":"/Peak/2_PC","method":"set","value":"msg.payload","priority":"msg.priority","x":790,"y":580,"wires":[["4cc21f4a.52693"]]},{"id":"9c0a21f.c09b5e","type":"function","z":"5a3f5c2b.74d5d4","name":"PA","func":"msg.topic = \"PA\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":60,"wires":[["8d7953c2.d7348","8a1beede.17d59"]]},{"id":"dfeefdd2.92b98","type":"function","z":"5a3f5c2b.74d5d4","name":"PB","func":"msg.topic = \"PB\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":100,"wires":[["8d7953c2.d7348","8a1beede.17d59"]]},{"id":"59c0dd61.d559d4","type":"function","z":"5a3f5c2b.74d5d4","name":"PC","func":"msg.topic = \"PC\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["8d7953c2.d7348","8a1beede.17d59"]]},{"id":"8a1beede.17d59","type":"ui_chart","z":"5a3f5c2b.74d5d4","name":"min","group":"6db12fd2.1e8b6","order":0,"width":"18","height":"6","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":710,"y":60,"wires":[[],[]]},{"id":"23cb1915.1a8466","type":"function","z":"5a3f5c2b.74d5d4","name":"avg_PA","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PA\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":480,"y":200,"wires":[["4576514c.a070b"]]},{"id":"3e5040e0.e3932","type":"function","z":"5a3f5c2b.74d5d4","name":"avg_PB","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PB\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":480,"y":240,"wires":[["4576514c.a070b"]]},{"id":"cdc2098e.a98d98","type":"function","z":"5a3f5c2b.74d5d4","name":"avg_PC","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PC\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":480,"y":280,"wires":[["4576514c.a070b"]]},{"id":"4576514c.a070b","type":"ui_chart","z":"5a3f5c2b.74d5d4","name":"hour","group":"73a3cb01.288f34","order":0,"width":"18","height":"6","label":"Average power per min. (W)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":240,"wires":[[],[]]},{"id":"118b29d6.bf3ca6","type":"delay","z":"5a3f5c2b.74d5d4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":340,"wires":[["43380abe.218fa4"]]},{"id":"407f4522.ea206c","type":"delay","z":"5a3f5c2b.74d5d4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":520,"wires":[["ece37be0.5dd268"]]},{"id":"6f1259c4.c52628","type":"delay","z":"5a3f5c2b.74d5d4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":580,"wires":[["f919f0bc.f5ff2"]]},{"id":"c199ceb7.29974","type":"inject","z":"5a3f5c2b.74d5d4","name":"test value","topic":"test","payload":"10000","payloadType":"str","repeat":"5","crontab":"","once":false,"x":610,"y":1260,"wires":[["9754a4fe.508e88","de4c9c09.4b823","84dc6d94.f15bb"]]},{"id":"9754a4fe.508e88","type":"random","z":"5a3f5c2b.74d5d4","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":761,"y":1215,"wires":[["b77498a9.087108"]]},{"id":"de4c9c09.4b823","type":"random","z":"5a3f5c2b.74d5d4","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":763,"y":1259,"wires":[["7c8e1373.69743c"]]},{"id":"84dc6d94.f15bb","type":"random","z":"5a3f5c2b.74d5d4","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":763,"y":1307,"wires":[["3863daf3.d12e16"]]},{"id":"2be6dacd.7fb2d6","type":"ui_text","z":"5a3f5c2b.74d5d4","group":"9475bf9.9db454","order":0,"width":"2","height":"1","name":"","label":"PeakA","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":340,"wires":[]},{"id":"25d5fb65.e28024","type":"ui_text","z":"5a3f5c2b.74d5d4","group":"9475bf9.9db454","order":0,"width":"2","height":"1","name":"","label":"PeakB","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":520,"wires":[]},{"id":"4cc21f4a.52693","type":"ui_text","z":"5a3f5c2b.74d5d4","group":"9475bf9.9db454","order":0,"width":"2","height":"1","name":"","label":"PeakC","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":580,"wires":[]},{"id":"63b53e98.2b806","type":"ui_text","z":"5a3f5c2b.74d5d4","group":"29bada47.68bf86","order":0,"width":"3","height":"1","name":"EA","label":"EA","format":"{{msg.payload}}","layout":"row-spread","x":1490,"y":980,"wires":[]},{"id":"f021c16e.14642","type":"function","z":"5a3f5c2b.74d5d4","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1321,"y":980,"wires":[["63b53e98.2b806"]]},{"id":"b9452489.f54868","type":"ui_text","z":"5a3f5c2b.74d5d4","group":"29bada47.68bf86","order":0,"width":"3","height":"1","name":"EB","label":"EB","format":"{{msg.payload}}","layout":"row-spread","x":1490,"y":1040,"wires":[]},{"id":"781b0275.e0b60c","type":"function","z":"5a3f5c2b.74d5d4","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1321,"y":1040,"wires":[["b9452489.f54868"]]},{"id":"6cd94914.561038","type":"ui_text","z":"5a3f5c2b.74d5d4","group":"29bada47.68bf86","order":0,"width":"3","height":"1","name":"","label":"EC","format":"{{msg.payload}}","layout":"row-spread","x":1490,"y":1100,"wires":[]},{"id":"3ecb34f1.96ee5c","type":"function","z":"5a3f5c2b.74d5d4","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1321,"y":1100,"wires":[["6cd94914.561038"]]},{"id":"6f61ef5d.2e72d","type":"mqtt out","z":"5a3f5c2b.74d5d4","name":"m2","topic":"m2","qos":"0","retain":"false","broker":"faa41933.fa74e8","x":490,"y":1660,"wires":[]},{"id":"a257e837.6298a8","type":"mqtt out","z":"5a3f5c2b.74d5d4","name":"C2","topic":"C2","qos":"0","retain":"false","broker":"faa41933.fa74e8","x":490,"y":1720,"wires":[]},{"id":"eeff1113.0b75d","type":"mqtt in","z":"5a3f5c2b.74d5d4","name":"NID","topic":"2","qos":"0","broker":"faa41933.fa74e8","x":130,"y":1660,"wires":[["dca7f8e0.a415e8","ffa0fc3.2cabb"]]},{"id":"dca7f8e0.a415e8","type":"function","z":"5a3f5c2b.74d5d4","name":"m","func":"msg.payload = \"60\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1658.9236145019531,"wires":[["6f61ef5d.2e72d"]]},{"id":"ffa0fc3.2cabb","type":"function","z":"5a3f5c2b.74d5d4","name":"C","func":"msg.payload = \"-2\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1720,"wires":[["a257e837.6298a8"]]},{"id":"9c56023a.a05a5","type":"function","z":"5a3f5c2b.74d5d4","name":"P_total","func":"var p_total = msg.payload[\"p0\"] + msg.payload[\"p1\"] + msg.payload[\"p2\"];\nmsg.topic = \"Ptotal\";\nmsg.payload = p_total.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1800,"wires":[["64935d6.1558fa4","8d14edc7.95cc","8aa61500.bc4fe8"]]},{"id":"64935d6.1558fa4","type":"function","z":"5a3f5c2b.74d5d4","name":"P_avg","func":"var pavg = msg.payload/3;\nmsg.payload =pavg.toFixed(2)\nmsg.topic = \"Pavg\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1880,"wires":[["9613a418.de9588","8aa61500.bc4fe8"]]},{"id":"8d14edc7.95cc","type":"ui_gauge","z":"5a3f5c2b.74d5d4","name":"Ptotal","group":"fb57ece8.fedf","order":4,"width":"5","height":"4","gtype":"gage","title":"Ptotal","label":"W","format":"{{value}}","min":0,"max":"300000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":1760,"wires":[]},{"id":"9613a418.de9588","type":"ui_gauge","z":"5a3f5c2b.74d5d4","name":"Pavg","group":"fb57ece8.fedf","order":5,"width":"5","height":"4","gtype":"gage","title":"Pavg","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":831.0694732666016,"y":1912.9792556762695,"wires":[]},{"id":"8aa61500.bc4fe8","type":"ui_chart","z":"5a3f5c2b.74d5d4","name":"P_grp","group":"fb57ece8.fedf","order":7,"width":"15","height":"6","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300000","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":850,"y":1820,"wires":[[],[]]},{"id":"f301bff4.a0dfa","type":"firebase.once","z":"5a3f5c2b.74d5d4","name":"power","firebaseconfig":"","childpath":"1/power","repeatifnull":false,"eventType":"value","queries":[],"x":290,"y":1800,"wires":[["eec85578.c73df8","9c56023a.a05a5"]]},{"id":"43504cfb.2cf144","type":"inject","z":"5a3f5c2b.74d5d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":110,"y":1800,"wires":[["f301bff4.a0dfa"]]},{"id":"eec85578.c73df8","type":"debug","z":"5a3f5c2b.74d5d4","name":"","active":false,"console":"false","complete":"false","x":490,"y":1920,"wires":[]},{"id":"1bb0c84a.ed5f78","type":"function","z":"5a3f5c2b.74d5d4","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":820,"wires":[["80a67824.423208"]]},{"id":"faa41933.fa74e8","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2460a20d.93c08e","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"fb57ece8.fedf","type":"ui_group","z":"","name":"Monitor","tab":"ebeced9f.00694","order":1,"disp":true,"width":"19"},{"id":"29bada47.68bf86","type":"ui_group","z":"5a3f5c2b.74d5d4","name":"Energy","tab":"ebeced9f.00694","order":3,"disp":true,"width":"19"},{"id":"95b501bb.43c6e","type":"ui_group","z":"","name":"Energy","tab":"698253f2.fc01ec","order":2,"disp":true,"width":"19"},{"id":"6db12fd2.1e8b6","type":"ui_group","z":"","name":"Node2","tab":"81df91f1.47772","disp":true,"width":"19"},{"id":"73a3cb01.288f34","type":"ui_group","z":"","name":"Node2","tab":"fe70155f.d73d98","order":2,"disp":true,"width":"19"},{"id":"9475bf9.9db454","type":"ui_group","z":"","name":"Parameter","tab":"ebeced9f.00694","order":2,"disp":true,"width":"19"},{"id":"ebeced9f.00694","type":"ui_tab","z":"","name":"Node2","icon":"dashboard","order":2},{"id":"698253f2.fc01ec","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":7},{"id":"81df91f1.47772","type":"ui_tab","z":"","name":"Minute resolution","icon":"dashboard","order":8},{"id":"fe70155f.d73d98","type":"ui_tab","z":"","name":"Hour resolution","icon":"dashboard","order":9}]