Node-Red/node-red_clipboard/pavg_peak.txt
[{"id":"d0202749.6e0e68","type":"debug","z":"4bafa325.d03c6c","name":"","active":true,"console":"false","complete":"payload","x":1007.5,"y":381,"wires":[]},{"id":"d4815bcc.10e758","type":"collector","z":"4bafa325.d03c6c","name":"data","onlyIfChanged":false,"x":514,"y":327,"wires":[["3015bd13.2eebf2"]]},{"id":"3015bd13.2eebf2","type":"xml","z":"4bafa325.d03c6c","name":"xml","attr":"","chr":"","x":644.5,"y":327,"wires":[["2cf4e07f.786ef"]]},{"id":"535e03d9.c4c47c","type":"file","z":"4bafa325.d03c6c","name":"log","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":982,"y":326,"wires":[]},{"id":"9d9d60e4.7357a","type":"function","z":"4bafa325.d03c6c","name":"day","func":"msg.payload = {\"DAY\": msg.payload.date, \"POWER\": msg.payload.pavg.day, \"PEAK\": msg.payload.peak.day};\nreturn msg;","outputs":1,"noerr":0,"x":377,"y":329,"wires":[["d4815bcc.10e758"]]},{"id":"2cf4e07f.786ef","type":"function","z":"4bafa325.d03c6c","name":"replace","func":"var date = new Date(Date.now());\nmonth = date.getMonth() + 1;\nyear = date.getYear() + 1900;\nmsg.payload = msg.payload.replace(\"<?xml version=\\\"1.0\\\" encoding=\\\"UTF-8\\\" standalone=\\\"yes\\\"?>\", \"\");\nmsg.filename = \"/jffs2/node-js/wpm/meter/test/\" + year.toString() + \"-\" + month.toString() + \".xml\";\nreturn msg;","outputs":1,"noerr":0,"x":784,"y":327,"wires":[["535e03d9.c4c47c","d0202749.6e0e68"]]},{"id":"3f88b55f.fa31ca","type":"inject","z":"4bafa325.d03c6c","name":"","topic":"head","payload":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><METER>","payloadType":"str","repeat":"","crontab":"","once":false,"x":647,"y":281,"wires":[["1ffd5308.d8d8fd"]]},{"id":"3b923400.02161c","type":"inject","z":"4bafa325.d03c6c","name":"tail","topic":"head","payload":"</METER>","payloadType":"str","repeat":"","crontab":"","once":false,"x":769,"y":234,"wires":[["535e03d9.c4c47c"]]},{"id":"1ffd5308.d8d8fd","type":"function","z":"4bafa325.d03c6c","name":"getdate","func":"var date = new Date(Date.now());\nmonth = date.getMonth() + 1;\nyear = date.getYear() + 1900;\nmsg.filename = \"/jffs2/node-js/wpm/meter/test/\" + year.toString() + \"-\" + month.toString() + \".xml\";\nreturn msg;","outputs":1,"noerr":0,"x":781,"y":279,"wires":[["535e03d9.c4c47c"]]},{"id":"65632d15.de0084","type":"firebase.once","z":"4bafa325.d03c6c","name":"1","firebaseconfig":"","childpath":"wpm/1","repeatifnull":false,"eventType":"value","queries":[],"x":230,"y":320,"wires":[["9d9d60e4.7357a"]]},{"id":"d3f16053.02a45","type":"inject","z":"4bafa325.d03c6c","name":"NID","topic":"DATA","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":92,"y":331,"wires":[["65632d15.de0084"]]},{"id":"cbdd7177.72dc6","type":"firebase.once","z":"4bafa325.d03c6c","name":"1","firebaseconfig":"","childpath":"wpm/1","repeatifnull":false,"eventType":"value","queries":[],"x":250,"y":500,"wires":[["73e01cd9.956344"]]},{"id":"2a981d36.40e542","type":"inject","z":"4bafa325.d03c6c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":500,"wires":[["cbdd7177.72dc6"]]},{"id":"73e01cd9.956344","type":"debug","z":"4bafa325.d03c6c","name":"","active":true,"console":"false","complete":"false","x":430,"y":500,"wires":[]}]