node-red/flow-link-to-sheet.txt
[
    {
        "id": "5991ecac.27e254",
        "type": "inject",
        "z": "e83ecc90.f3c81",
        "name": "",
        "topic": "",
        "payload": "19",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 162,
        "y": 555,
        "wires": [
            [
                "ee87e34c.9ef56"
            ]
        ]
    },
    {
        "id": "ee87e34c.9ef56",
        "type": "function",
        "z": "e83ecc90.f3c81",
        "name": "temp",
        "func": "msg.payload = [11,12,13,14,15,16,17,18,19,10];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 299,
        "y": 483,
        "wires": [
            [
                "aac012cb.5c573",
                "633cae7b.7ff37"
            ]
        ]
    },
    {
        "id": "633cae7b.7ff37",
        "type": "debug",
        "z": "e83ecc90.f3c81",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 500,
        "y": 458,
        "wires": []
    },
    {
        "id": "aac012cb.5c573",
        "type": "http request",
        "z": "e83ecc90.f3c81",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "https://docs.google.com/forms/d/e/1FAIpQLSfIKyYXc56S2TBJjoqwtRms2cNmTlRJoaX01OySvfNzWRyROQ/formResponse?usp=pp_url&entry.1732737962={{payload.0}}&entry.1218485471={{payload.1}}&entry.339382278={{payload.2}}&entry.376692470={{payload.3}}&entry.687312231={{payload.4}}&entry.576090351={{payload.5}}&entry.509871658={{payload.6}}&entry.614956280={{payload.7}}&entry.1513347545={{payload.8}}&entry.1493512792={{payload.9}}",
        "tls": "",
        "x": 484,
        "y": 559,
        "wires": [
            []
        ]
    }
]