node-red/node3.txt
[{"id":"a57a62e.8f45ca","type":"mqtt in","z":"8c9b5b7.9751ca8","name":"","topic":"3_p0","qos":"0","broker":"faa41933.fa74e8","x":193,"y":457,"wires":[["6e5df9d4.8798c8","40010ad0.5986f4","886d1bd8.576e48","cac94af9.6bd668","7e6a1127.2b30d"]]},{"id":"c077e608.d77618","type":"mqtt out","z":"8c9b5b7.9751ca8","name":"","topic":"3_p0_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1139.0000038146973,"y":924.0000047683716,"wires":[]},{"id":"26eada8a.fa8df6","type":"mqtt in","z":"8c9b5b7.9751ca8","name":"","topic":"3_p1","qos":"0","broker":"faa41933.fa74e8","x":189,"y":577,"wires":[["1ff8fa39.e28566","40010ad0.5986f4","f85342e5.30cd3","61a42eec.16bb1","e1508069.f083e"]]},{"id":"192dedf6.8b05f2","type":"mqtt in","z":"8c9b5b7.9751ca8","name":"","topic":"3_p2","qos":"0","broker":"faa41933.fa74e8","x":152,"y":668,"wires":[["82a757d7.098a98","8111eda5.b9f1a","40010ad0.5986f4","98c66985.0429d8","9a90019b.83e2c","aec8735e.e129c"]]},{"id":"21282738.53b398","type":"mqtt out","z":"8c9b5b7.9751ca8","name":"","topic":"3_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1130.93390750885,"y":869.4862775802612,"wires":[]},{"id":"1fd1bf2a.01fda1","type":"debug","z":"8c9b5b7.9751ca8","name":"","active":false,"console":"false","complete":"false","x":1186.014030456543,"y":1356.7744116783142,"wires":[]},{"id":"5ea65db4.c48444","type":"function","z":"8c9b5b7.9751ca8","name":"e0","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":980.0730934143066,"y":1381.3369121551514,"wires":[["1fd1bf2a.01fda1","94b8cfa1.aa76d"]]},{"id":"8afb86de.724768","type":"debug","z":"8c9b5b7.9751ca8","name":"","active":false,"console":"false","complete":"false","x":1148.0311813354492,"y":1464.2189655303955,"wires":[]},{"id":"c1e168b0.fd3008","type":"function","z":"8c9b5b7.9751ca8","name":"e1","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":971.0902137756348,"y":1491.7814989089966,"wires":[["8afb86de.724768","87e1ceea.26864"]]},{"id":"2daecccf.cc7154","type":"debug","z":"8c9b5b7.9751ca8","name":"","active":false,"console":"false","complete":"false","x":1159.0311698913574,"y":1567.7743310928345,"wires":[]},{"id":"94fe972a.ea9098","type":"function","z":"8c9b5b7.9751ca8","name":"e2","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":982.090202331543,"y":1595.3368644714355,"wires":[["2daecccf.cc7154","44db136c.bae7ac"]]},{"id":"49ec882b.207f48","type":"function","z":"8c9b5b7.9751ca8","name":"et","func":"var e0 = parseFloat(msg.payload.tp0);\nvar e1 = parseFloat(msg.payload.tp1);\nvar e2 = parseFloat(msg.payload.tp2);\nmsg.payload = e0 + e1 + e2;\nmsg.topic = \"/3/3e\";\nreturn msg;","outputs":1,"noerr":0,"x":956.0691499710083,"y":835.1286773681641,"wires":[["589b48c5.195b48","21282738.53b398","b53419b6.ed5c88","3087133c.612ffc"]]},{"id":"98584938.5b4698","type":"function","z":"8c9b5b7.9751ca8","name":"p0","func":"var p = parseFloat(msg.payload.p0);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":769.0000143051147,"y":1421.9999923706055,"wires":[["5ea65db4.c48444"]]},{"id":"4ffc37f8.e45f18","type":"function","z":"8c9b5b7.9751ca8","name":"p1","func":"var p = parseFloat(msg.payload.p1);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":766.0172882080078,"y":1490.333511352539,"wires":[["c1e168b0.fd3008"]]},{"id":"ec3bd252.a2e1","type":"function","z":"8c9b5b7.9751ca8","name":"p2","func":"var p = parseFloat(msg.payload.p2);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":773.0172996520996,"y":1559.3336181640625,"wires":[["94fe972a.ea9098"]]},{"id":"6b2cd01e.d1f2d","type":"function","z":"8c9b5b7.9751ca8","name":"tp0","func":"var tmp = parseFloat(msg.payload.p0);\nvar tp = parseFloat(msg.payload.tp0);\nmsg.payload = tp + tmp;\nmsg.topic = \"/3/e0\";\nreturn msg;","outputs":1,"noerr":0,"x":780.0230760574341,"y":925.6607294082642,"wires":[["c94c4d1e.02e13"]]},{"id":"74539409.9644bc","type":"function","z":"8c9b5b7.9751ca8","name":"tp1","func":"var tmp = parseFloat(msg.payload.p1);\nvar tp = parseFloat(msg.payload.tp1);\nmsg.payload = tp + tmp;\nmsg.topic = \"/3/e1\";\nreturn msg;","outputs":1,"noerr":0,"x":779.6836023330688,"y":986.6320457458496,"wires":[["abe5c266.eb4f7"]]},{"id":"cafb409.65135c","type":"mqtt out","z":"8c9b5b7.9751ca8","name":"","topic":"3_p1_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1142.6835489273071,"y":988.6320533752441,"wires":[]},{"id":"f22a5f36.a996b","type":"function","z":"8c9b5b7.9751ca8","name":"tp2","func":"var tmp = parseFloat(msg.payload.p2);\nvar tp = parseFloat(msg.payload.tp2);\nmsg.payload = tp + tmp;\nmsg.topic = \"/3/e2\";\nreturn msg;","outputs":1,"noerr":0,"x":781.6836023330688,"y":1040.6320457458496,"wires":[["efc6381d.424338"]]},{"id":"dcbdf1ed.f07b9","type":"mqtt out","z":"8c9b5b7.9751ca8","name":"","topic":"3_p2_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1146.6834907531738,"y":1042.6320447921753,"wires":[]},{"id":"4e337cb1.3c1f44","type":"delay","z":"8c9b5b7.9751ca8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":787.5239572525024,"y":834.8022003173828,"wires":[["49ec882b.207f48"]]},{"id":"73b0ffec.75198","type":"e-mail","z":"8c9b5b7.9751ca8","server":"smtp.gmail.com","port":"465","secure":true,"name":"kchatpeth@gmail.com","dname":"","x":439.00000381469727,"y":744.0000047683716,"wires":[]},{"id":"427b11be.1b5dd","type":"mqtt in","z":"8c9b5b7.9751ca8","name":"Alarm","topic":"Alarm3","qos":"0","broker":"2460a20d.93c08e","x":209.00000381469727,"y":784.0000047683716,"wires":[["bc6559c1.124408","73b0ffec.75198"]]},{"id":"7b62d398.90de1c","type":"mqtt out","z":"8c9b5b7.9751ca8","name":"Alarm","topic":"Alarm3","qos":"0","retain":"","broker":"2460a20d.93c08e","x":369.00000381469727,"y":864.0000047683716,"wires":[]},{"id":"91847143.3ac3e","type":"inject","z":"8c9b5b7.9751ca8","name":"test alarm","topic":"Alarm","payload":"Alarm from node 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":219.00000381469727,"y":864.0000047683716,"wires":[["7b62d398.90de1c"]]},{"id":"e2a3eba2.41b218","type":"inject","z":"8c9b5b7.9751ca8","name":"tsmp","topic":"tsmp","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":229.00000381469727,"y":1004.0000047683716,"wires":[["8dad084.1487df8","9697a103.75c2a","8111eda5.b9f1a"]]},{"id":"8111eda5.b9f1a","type":"function","z":"8c9b5b7.9751ca8","name":"checkerr","func":"var count = context.get('count') || 0;\nif(msg.topic == \"tsmp\")\n{\n    count = count + 1;\n}\nelse\n{\n    count = 0;\n}\ncontext.set('count',count);\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"x":399.00000381469727,"y":1004.0000047683716,"wires":[["3f0a6fa2.905e4"]]},{"id":"6f295462.5f0f3c","type":"debug","z":"8c9b5b7.9751ca8","name":"restart","active":false,"console":"false","complete":"payload","x":724.0000038146973,"y":1086.0000047683716,"wires":[]},{"id":"3f0a6fa2.905e4","type":"switch","z":"8c9b5b7.9751ca8","name":"err_no","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"12","vt":"str"}],"checkall":"true","outputs":1,"x":549.0000038146973,"y":1104.0000047683716,"wires":[["6138fe12.a4d8e","6f295462.5f0f3c"]]},{"id":"d4669ff7.5aab7","type":"mqtt out","z":"8c9b5b7.9751ca8","name":"reset","topic":"sw3","qos":"0","retain":"","broker":"faa41933.fa74e8","x":909.0000038146973,"y":1104.0000047683716,"wires":[]},{"id":"6138fe12.a4d8e","type":"function","z":"8c9b5b7.9751ca8","name":"ESP.restart()","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":746.0000038146973,"y":1129.0000047683716,"wires":[["d4669ff7.5aab7","febadc0.2a52128","81ab9c8a.03041","31e72c86.a854d4"]]},{"id":"3087133c.612ffc","type":"function","z":"8c9b5b7.9751ca8","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nreturn msg;","outputs":1,"noerr":0,"x":1129.0000038146973,"y":718.0000047683716,"wires":[["86772efb.ff383","28a9a43f.58ff1c"]]},{"id":"6e5df9d4.8798c8","type":"firebase modify","z":"8c9b5b7.9751ca8","name":"3_p0","firebaseconfig":"","childpath":"/3/power/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":384.076229095459,"y":422.65969371795654,"wires":[["87adc9fc.9ff318"]]},{"id":"1ff8fa39.e28566","type":"firebase modify","z":"8c9b5b7.9751ca8","name":"3_p1","firebaseconfig":"","childpath":"/3/power/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":390.1006774902344,"y":576.5655517578125,"wires":[["cdedde7f.0705"]]},{"id":"82a757d7.098a98","type":"firebase modify","z":"8c9b5b7.9751ca8","name":"3_p2","firebaseconfig":"","childpath":"/3/power/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":387.1007080078125,"y":668.2257690429688,"wires":[["96c1946e.3ccfc8"]]},{"id":"94b8cfa1.aa76d","type":"firebase modify","z":"8c9b5b7.9751ca8","name":"eng0","firebaseconfig":"","childpath":"/3/energy/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":1169.0175590515137,"y":1406.444619178772,"wires":[[]]},{"id":"87e1ceea.26864","type":"firebase modify","z":"8c9b5b7.9751ca8","name":"eng1","firebaseconfig":"","childpath":"/3/energy/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":1131.0346145629883,"y":1512.88916015625,"wires":[[]]},{"id":"44db136c.bae7ac","type":"firebase modify","z":"8c9b5b7.9751ca8","name":"eng2","firebaseconfig":"","childpath":"/3/energy/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":1143.0345916748047,"y":1611.4445095062256,"wires":[[]]},{"id":"589b48c5.195b48","type":"firebase modify","z":"8c9b5b7.9751ca8","name":"3_eng","firebaseconfig":"","childpath":"/3/energy/total","method":"set","value":"msg.payload","priority":"msg.priority","x":1130.0761194229126,"y":809.6216468811035,"wires":[["96f6e5eb.dcd058"]]},{"id":"c94c4d1e.02e13","type":"firebase modify","z":"8c9b5b7.9751ca8","name":"3_tp0","firebaseconfig":"","childpath":"/3/energy/tp0","method":"set","value":"msg.payload","priority":"msg.priority","x":961.0169839859009,"y":925.6320819854736,"wires":[["c077e608.d77618","32831425.56093c"]]},{"id":"abe5c266.eb4f7","type":"firebase modify","z":"8c9b5b7.9751ca8","name":"3_tp1","firebaseconfig":"","childpath":"/3/energy/tp1","method":"set","value":"msg.payload","priority":"msg.priority","x":963.6836223602295,"y":987.6320495605469,"wires":[["cafb409.65135c","2b338ec.8a56e72"]]},{"id":"efc6381d.424338","type":"firebase modify","z":"8c9b5b7.9751ca8","name":"3_tp2","firebaseconfig":"","childpath":"/3/energy/tp2","method":"set","value":"msg.payload","priority":"msg.priority","x":962.6836633682251,"y":1041.632043838501,"wires":[["dcbdf1ed.f07b9","5fb81b0f.dd6354"]]},{"id":"8dad084.1487df8","type":"firebase.once","z":"8c9b5b7.9751ca8","name":"engt","firebaseconfig":"","childpath":"/3/energy","repeatifnull":false,"eventType":"value","queries":[],"x":601.0170106887817,"y":833.3334093093872,"wires":[["6b2cd01e.d1f2d","74539409.9644bc","f22a5f36.a996b","4e337cb1.3c1f44"]]},{"id":"9697a103.75c2a","type":"firebase.once","z":"8c9b5b7.9751ca8","name":"powt","firebaseconfig":"","childpath":"/3/power","repeatifnull":false,"eventType":"value","queries":[],"x":587.0172939300537,"y":1492.3334798812866,"wires":[["98584938.5b4698","4ffc37f8.e45f18","ec3bd252.a2e1"]]},{"id":"87adc9fc.9ff318","type":"ui_gauge","z":"8c9b5b7.9751ca8","name":"P0_gag","group":"d1886567.d084e8","order":3,"width":"5","height":"4","gtype":"gage","title":"PA","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":636,"y":421,"wires":[]},{"id":"cdedde7f.0705","type":"ui_gauge","z":"8c9b5b7.9751ca8","name":"P1_gag","group":"d1886567.d084e8","order":3,"width":"5","height":"4","gtype":"gage","title":"PB","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":647,"y":576,"wires":[]},{"id":"96c1946e.3ccfc8","type":"ui_gauge","z":"8c9b5b7.9751ca8","name":"P2_gag","group":"d1886567.d084e8","order":3,"width":"5","height":"4","gtype":"gage","title":"PC","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":637,"y":670,"wires":[]},{"id":"f90e9331.5709e","type":"ui_gauge","z":"8c9b5b7.9751ca8","name":"","group":"3dcad4e8.2fa4ec","order":0,"width":"8","height":"4","gtype":"gage","title":"Energy (kWh)","label":"kWh","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1492.9993896484375,"y":798.62158203125,"wires":[]},{"id":"b53419b6.ed5c88","type":"ui_chart","z":"8c9b5b7.9751ca8","name":"","group":"3dcad4e8.2fa4ec","order":0,"width":"10","height":"4","label":"Energy Histrory","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1296.9994020462036,"y":836.6216115951538,"wires":[[],[]]},{"id":"bc6559c1.124408","type":"ui_toast","z":"8c9b5b7.9751ca8","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Alarm","name":"Show alarm","x":422.00002670288086,"y":799.0000057220459,"wires":[]},{"id":"86772efb.ff383","type":"rest publish","z":"8c9b5b7.9751ca8","name":"energy3Phase","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":1310.0000038146973,"y":718.0000047683716,"wires":[]},{"id":"c6909001.819bc","type":"inject","z":"8c9b5b7.9751ca8","name":"","topic":"reset meter","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":585.684024810791,"y":979.4548387527466,"wires":[["589b48c5.195b48","c94c4d1e.02e13","abe5c266.eb4f7","efc6381d.424338"]]},{"id":"febadc0.2a52128","type":"mqtt out","z":"8c9b5b7.9751ca8","name":"","topic":"3_p0","qos":"0","retain":"","broker":"faa41933.fa74e8","x":909.0000038146973,"y":1166.0000047683716,"wires":[]},{"id":"81ab9c8a.03041","type":"mqtt out","z":"8c9b5b7.9751ca8","name":"","topic":"3_p1","qos":"0","retain":"","broker":"faa41933.fa74e8","x":907.0000038146973,"y":1224.0000047683716,"wires":[]},{"id":"31e72c86.a854d4","type":"mqtt out","z":"8c9b5b7.9751ca8","name":"","topic":"3_p2","qos":"0","retain":"","broker":"faa41933.fa74e8","x":910.0000038146973,"y":1279.0000047683716,"wires":[]},{"id":"6a8cfa36.648914","type":"inject","z":"8c9b5b7.9751ca8","name":"force_restart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":529.0000038146973,"y":1151.0000047683716,"wires":[["6138fe12.a4d8e","6f295462.5f0f3c"]]},{"id":"28a9a43f.58ff1c","type":"ui_gauge","z":"8c9b5b7.9751ca8","name":"","group":"95b501bb.43c6e","order":0,"width":"4","height":"4","gtype":"gage","title":"Energy (Node3)","label":"kWhr.","format":"{{value}}","min":0,"max":"10000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1298.0000038146973,"y":757.0000047683716,"wires":[]},{"id":"63ed3f90.6754f","type":"rest publish","z":"8c9b5b7.9751ca8","name":"power","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":639,"y":525,"wires":[]},{"id":"40010ad0.5986f4","type":"function","z":"8c9b5b7.9751ca8","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nmsg.topic = \"/\" +msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":403,"y":527,"wires":[["63ed3f90.6754f"]]},{"id":"cac94af9.6bd668","type":"function","z":"8c9b5b7.9751ca8","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":391,"y":371,"wires":[["cd0730f1.76131"]]},{"id":"cd0730f1.76131","type":"delay","z":"8c9b5b7.9751ca8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":535,"y":369,"wires":[["32920ea7.91e8e2"]]},{"id":"32920ea7.91e8e2","type":"firebase modify","z":"8c9b5b7.9751ca8","name":"peak0","firebaseconfig":"","childpath":"/Peak/3_PA","method":"set","value":"msg.payload","priority":"msg.priority","x":705,"y":369,"wires":[["dfa0a63.48daf58"]]},{"id":"1627d548.caad9b","type":"mqtt out","z":"8c9b5b7.9751ca8","name":"m3","topic":"m3","qos":"0","retain":"false","broker":"faa41933.fa74e8","x":524,"y":1650,"wires":[]},{"id":"c4a40e66.76108","type":"mqtt out","z":"8c9b5b7.9751ca8","name":"C3","topic":"C3","qos":"0","retain":"false","broker":"faa41933.fa74e8","x":524,"y":1710,"wires":[]},{"id":"c3b1cbeb.57d8f8","type":"mqtt in","z":"8c9b5b7.9751ca8","name":"NID","topic":"3","qos":"0","broker":"faa41933.fa74e8","x":164,"y":1650,"wires":[["2a65d697.1050ca","8d6aa4a3.b17ad8"]]},{"id":"2a65d697.1050ca","type":"function","z":"8c9b5b7.9751ca8","name":"m","func":"msg.payload = \"60\";\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":1648.9236145019531,"wires":[["1627d548.caad9b"]]},{"id":"8d6aa4a3.b17ad8","type":"function","z":"8c9b5b7.9751ca8","name":"C","func":"msg.payload = \"-2\";\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":1710,"wires":[["c4a40e66.76108"]]},{"id":"a46e1c9.b6972e","type":"ui_chart","z":"8c9b5b7.9751ca8","name":"3PGraph","group":"d1886567.d084e8","order":6,"width":"19","height":"8","label":"3 Phase graph","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":639,"y":130,"wires":[[],[]]},{"id":"886d1bd8.576e48","type":"function","z":"8c9b5b7.9751ca8","name":"PA","func":"msg.topic = \"PA\";\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":48,"wires":[["a46e1c9.b6972e","ef01e551.db5768"]]},{"id":"f85342e5.30cd3","type":"function","z":"8c9b5b7.9751ca8","name":"PB","func":"msg.topic = \"PB\";\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":88,"wires":[["a46e1c9.b6972e","ef01e551.db5768"]]},{"id":"98c66985.0429d8","type":"function","z":"8c9b5b7.9751ca8","name":"PC","func":"msg.topic = \"PC\";\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":128,"wires":[["a46e1c9.b6972e","ef01e551.db5768"]]},{"id":"ef01e551.db5768","type":"ui_chart","z":"8c9b5b7.9751ca8","name":"min","group":"9dc9feb5.246ce","order":0,"width":"19","height":"6","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":628,"y":48,"wires":[[],[]]},{"id":"a4d9731.299e29","type":"ui_text","z":"8c9b5b7.9751ca8","group":"3dcad4e8.2fa4ec","order":0,"width":"3","height":"1","name":"EA","label":"EA","format":"{{msg.payload}}","layout":"row-spread","x":1336,"y":1113,"wires":[]},{"id":"32831425.56093c","type":"function","z":"8c9b5b7.9751ca8","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1167,"y":1113,"wires":[["a4d9731.299e29"]]},{"id":"b1e36906.fce348","type":"ui_text","z":"8c9b5b7.9751ca8","group":"3dcad4e8.2fa4ec","order":0,"width":"3","height":"1","name":"EB","label":"EB","format":"{{msg.payload}}","layout":"row-spread","x":1336,"y":1173,"wires":[]},{"id":"2b338ec.8a56e72","type":"function","z":"8c9b5b7.9751ca8","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1167,"y":1173,"wires":[["b1e36906.fce348"]]},{"id":"e1cd3ce7.cb44e","type":"ui_text","z":"8c9b5b7.9751ca8","group":"3dcad4e8.2fa4ec","order":0,"width":"3","height":"1","name":"","label":"EC","format":"{{msg.payload}}","layout":"row-spread","x":1336,"y":1233,"wires":[]},{"id":"5fb81b0f.dd6354","type":"function","z":"8c9b5b7.9751ca8","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1167,"y":1233,"wires":[["e1cd3ce7.cb44e"]]},{"id":"95417fe.7dbf18","type":"inject","z":"8c9b5b7.9751ca8","name":"write_to_db","topic":"write_to_db","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":121,"y":524,"wires":[["cac94af9.6bd668","61a42eec.16bb1","aec8735e.e129c"]]},{"id":"61a42eec.16bb1","type":"function","z":"8c9b5b7.9751ca8","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":395,"y":478,"wires":[["d98a7737.120a68"]]},{"id":"d98a7737.120a68","type":"delay","z":"8c9b5b7.9751ca8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":545,"y":478,"wires":[["b963297e.ab0a98"]]},{"id":"b963297e.ab0a98","type":"firebase modify","z":"8c9b5b7.9751ca8","name":"peak1","firebaseconfig":"","childpath":"/Peak/3_PB","method":"set","value":"msg.payload","priority":"msg.priority","x":715,"y":478,"wires":[["41f37d2.a4d9f84"]]},{"id":"aec8735e.e129c","type":"function","z":"8c9b5b7.9751ca8","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":386,"y":627,"wires":[["7e0b003b.18417"]]},{"id":"7e0b003b.18417","type":"delay","z":"8c9b5b7.9751ca8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":536,"y":627,"wires":[["e0091bd5.747fe8"]]},{"id":"e0091bd5.747fe8","type":"firebase modify","z":"8c9b5b7.9751ca8","name":"peak2","firebaseconfig":"","childpath":"/Peak/3_PC","method":"set","value":"msg.payload","priority":"msg.priority","x":706,"y":627,"wires":[["636a18c1.58edd8"]]},{"id":"dfa0a63.48daf58","type":"ui_text","z":"8c9b5b7.9751ca8","group":"2bebd5a5.ba288a","order":0,"width":"3","height":"1","name":"","label":"PeakA","format":"{{msg.payload}}","layout":"row-spread","x":847,"y":368,"wires":[]},{"id":"41f37d2.a4d9f84","type":"ui_text","z":"8c9b5b7.9751ca8","group":"2bebd5a5.ba288a","order":0,"width":"3","height":"1","name":"","label":"PeakB","format":"{{msg.payload}}","layout":"row-spread","x":851,"y":478,"wires":[]},{"id":"636a18c1.58edd8","type":"ui_text","z":"8c9b5b7.9751ca8","group":"2bebd5a5.ba288a","order":0,"width":"3","height":"1","name":"","label":"PeakC","format":"{{msg.payload}}","layout":"row-spread","x":844,"y":625,"wires":[]},{"id":"7e6a1127.2b30d","type":"function","z":"8c9b5b7.9751ca8","name":"avg_PA","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PA\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":396,"y":216,"wires":[["fed09494.45d268"]]},{"id":"e1508069.f083e","type":"function","z":"8c9b5b7.9751ca8","name":"avg_PB","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PB\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":396,"y":256,"wires":[["fed09494.45d268"]]},{"id":"9a90019b.83e2c","type":"function","z":"8c9b5b7.9751ca8","name":"avg_PC","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PC\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":396,"y":296,"wires":[["fed09494.45d268"]]},{"id":"fed09494.45d268","type":"ui_chart","z":"8c9b5b7.9751ca8","name":"hour","group":"df103757.268f68","order":0,"width":"19","height":"6","label":"Average power per min. (W)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":606,"y":256,"wires":[[],[]]},{"id":"75d01a47.8e61d4","type":"function","z":"8c9b5b7.9751ca8","name":"P_total","func":"var p_total = msg.payload[\"p0\"] + msg.payload[\"p1\"] + msg.payload[\"p2\"];\nmsg.topic = \"Ptotal\";\nmsg.payload = p_total.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":416,"y":1821,"wires":[["8624337a.1433a","7068e33e.931f7c","81b86fe2.1d19"]]},{"id":"8624337a.1433a","type":"function","z":"8c9b5b7.9751ca8","name":"P_avg","func":"var pavg = msg.payload/3;\nmsg.payload =pavg.toFixed(2)\nmsg.topic = \"Pavg\";\nreturn msg;","outputs":1,"noerr":0,"x":596,"y":1901,"wires":[["3f1c5c1.b08b8a4","81b86fe2.1d19"]]},{"id":"7068e33e.931f7c","type":"ui_gauge","z":"8c9b5b7.9751ca8","name":"Ptotal","group":"d1886567.d084e8","order":4,"width":"5","height":"4","gtype":"gage","title":"Ptotal","label":"W","format":"{{value}}","min":0,"max":"300000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":611,"y":1775,"wires":[]},{"id":"3f1c5c1.b08b8a4","type":"ui_gauge","z":"8c9b5b7.9751ca8","name":"Pavg","group":"d1886567.d084e8","order":5,"width":"5","height":"4","gtype":"gage","title":"Pavg","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740.0694580078125,"y":1954.979248046875,"wires":[]},{"id":"81b86fe2.1d19","type":"ui_chart","z":"8c9b5b7.9751ca8","name":"P_grp","group":"d1886567.d084e8","order":7,"width":"19","height":"8","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300000","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":751,"y":1843,"wires":[[],[]]},{"id":"f9bd8301.09d4","type":"firebase.once","z":"8c9b5b7.9751ca8","name":"power","firebaseconfig":"","childpath":"3/power","repeatifnull":false,"eventType":"value","queries":[],"x":252,"y":1822,"wires":[["c4580709.e83668","75d01a47.8e61d4"]]},{"id":"42355262.e41c2c","type":"inject","z":"8c9b5b7.9751ca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":90,"y":1822,"wires":[["f9bd8301.09d4"]]},{"id":"c4580709.e83668","type":"debug","z":"8c9b5b7.9751ca8","name":"","active":false,"console":"false","complete":"false","x":416,"y":1941,"wires":[]},{"id":"96f6e5eb.dcd058","type":"function","z":"8c9b5b7.9751ca8","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":1304,"y":799,"wires":[["f90e9331.5709e"]]},{"id":"faa41933.fa74e8","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2460a20d.93c08e","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d1886567.d084e8","type":"ui_group","z":"8c9b5b7.9751ca8","name":"Monitor","tab":"c6bd77a0.d671c8","order":1,"disp":true,"width":"19"},{"id":"3dcad4e8.2fa4ec","type":"ui_group","z":"8c9b5b7.9751ca8","name":"Energy","tab":"c6bd77a0.d671c8","order":3,"disp":true,"width":"19"},{"id":"95b501bb.43c6e","type":"ui_group","z":"","name":"Energy","tab":"698253f2.fc01ec","order":2,"disp":true,"width":"19"},{"id":"9dc9feb5.246ce","type":"ui_group","z":"","name":"Node3","tab":"81df91f1.47772","disp":true,"width":"19"},{"id":"2bebd5a5.ba288a","type":"ui_group","z":"","name":"Parameter","tab":"c6bd77a0.d671c8","order":2,"disp":true,"width":"19"},{"id":"df103757.268f68","type":"ui_group","z":"","name":"Node3","tab":"fe70155f.d73d98","order":3,"disp":true,"width":"19"},{"id":"c6bd77a0.d671c8","type":"ui_tab","z":"","name":"Node3","icon":"dashboard","order":3},{"id":"698253f2.fc01ec","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":11},{"id":"81df91f1.47772","type":"ui_tab","z":"","name":"Minute resolution","icon":"dashboard","order":12},{"id":"fe70155f.d73d98","type":"ui_tab","z":"","name":"Hour resolution","icon":"dashboard","order":13}]