node-red/node8.txt
[{"id":"c8579639.679ab8","type":"mqtt in","z":"c010e369.f786d","name":"","topic":"8_p0","qos":"0","broker":"faa41933.fa74e8","x":170,"y":400,"wires":[["e55b4aab.2db718","6adefea6.fb6cb","b25a47bd.60f028","c652a8c7.ec6818","782e616b.d9e3b"]]},{"id":"77e0d4a3.ea900c","type":"mqtt out","z":"c010e369.f786d","name":"","topic":"8_p0_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1187,"y":986,"wires":[]},{"id":"ef1bbb80.28ee68","type":"mqtt in","z":"c010e369.f786d","name":"","topic":"8_p1","qos":"0","broker":"faa41933.fa74e8","x":170,"y":580,"wires":[["70bf3efb.56862","6adefea6.fb6cb","f4768d7f.3a8b3","acefcb4b.0f6728","ab1bc8a9.56e4b8"]]},{"id":"609b23ec.bf216c","type":"mqtt in","z":"c010e369.f786d","name":"","topic":"8_p2","qos":"0","broker":"faa41933.fa74e8","x":170,"y":680,"wires":[["6745fe4a.5600d","da7e452f.1aea08","6adefea6.fb6cb","4f0d5f85.201ab","5207648.da2279c","3ae6c607.f1928a"]]},{"id":"7a0c54d.7d644ac","type":"mqtt out","z":"c010e369.f786d","name":"","topic":"8_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1178.9339036941528,"y":931.4862728118896,"wires":[]},{"id":"c782a03f.610a","type":"function","z":"c010e369.f786d","name":"e0","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":1035.0731010437012,"y":1398.3369145393372,"wires":[["38b7768b.af1c3a"]]},{"id":"75d5091.f1140f8","type":"function","z":"c010e369.f786d","name":"e1","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":1026.0902214050293,"y":1508.7815012931824,"wires":[["f7243e51.285e5"]]},{"id":"22646dc9.7641b2","type":"function","z":"c010e369.f786d","name":"e2","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":1037.0902099609375,"y":1612.3368668556213,"wires":[["ef2e9e5c.1fce9"]]},{"id":"e1c2b907.270168","type":"function","z":"c010e369.f786d","name":"et","func":"var e0 = parseFloat(msg.payload.tp0);\nvar e1 = parseFloat(msg.payload.tp1);\nvar e2 = parseFloat(msg.payload.tp2);\nmsg.payload = e0 + e1 + e2;\nmsg.topic = \"/2/3e\";\nreturn msg;","outputs":1,"noerr":0,"x":1004.069146156311,"y":897.1286725997925,"wires":[["5633acc7.d17694","7a0c54d.7d644ac","8ae35862.72e678","eeeca634.5edc68"]]},{"id":"e9736954.57f968","type":"function","z":"c010e369.f786d","name":"p0","func":"var p = parseFloat(msg.payload.p0);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":824.0000219345093,"y":1438.9999947547913,"wires":[["c782a03f.610a"]]},{"id":"e3dc5643.175058","type":"function","z":"c010e369.f786d","name":"p1","func":"var p = parseFloat(msg.payload.p1);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":821.0172958374023,"y":1507.3335137367249,"wires":[["75d5091.f1140f8"]]},{"id":"6898751a.b2204c","type":"function","z":"c010e369.f786d","name":"p2","func":"var p = parseFloat(msg.payload.p2);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":828.0173072814941,"y":1576.3336205482483,"wires":[["22646dc9.7641b2"]]},{"id":"bd78ef73.664cb","type":"function","z":"c010e369.f786d","name":"tp0","func":"var tmp = parseFloat(msg.payload.p0);\nvar tp = parseFloat(msg.payload.tp0);\nmsg.payload = tp + tmp;\nmsg.topic = \"/8/e0\";\nreturn msg;","outputs":1,"noerr":0,"x":828.0230722427368,"y":987.6607246398926,"wires":[["5986095e.699b08"]]},{"id":"5a5c5bf9.ae6484","type":"function","z":"c010e369.f786d","name":"tp1","func":"var tmp = parseFloat(msg.payload.p1);\nvar tp = parseFloat(msg.payload.tp1);\nmsg.payload = tp + tmp;\nmsg.topic = \"/8/e1\";\nreturn msg;","outputs":1,"noerr":0,"x":827.6835985183716,"y":1048.632040977478,"wires":[["83628ef3.030cb"]]},{"id":"f14eaee8.1057f","type":"mqtt out","z":"c010e369.f786d","name":"","topic":"8_p1_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1190.6835451126099,"y":1050.6320486068726,"wires":[]},{"id":"aa429dd9.8cae9","type":"function","z":"c010e369.f786d","name":"tp2","func":"var tmp = parseFloat(msg.payload.p2);\nvar tp = parseFloat(msg.payload.tp2);\nmsg.payload = tp + tmp;\nmsg.topic = \"/8/e2\";\nreturn msg;","outputs":1,"noerr":0,"x":829.6835985183716,"y":1102.632040977478,"wires":[["d642cca0.07525"]]},{"id":"9cbfd350.06e2b","type":"mqtt out","z":"c010e369.f786d","name":"","topic":"8_p2_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1194.6834869384766,"y":1104.6320400238037,"wires":[]},{"id":"64735915.95d0a8","type":"delay","z":"c010e369.f786d","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":835.5239534378052,"y":896.8021955490112,"wires":[["e1c2b907.270168"]]},{"id":"a4c641c2.76127","type":"e-mail","z":"c010e369.f786d","server":"smtp.gmail.com","port":"465","secure":true,"name":"kchatpeth@gmail.com","dname":"","x":773,"y":794,"wires":[]},{"id":"26f80edd.9cd182","type":"mqtt in","z":"c010e369.f786d","name":"Alarm","topic":"Alarm8","qos":"0","broker":"2460a20d.93c08e","x":490,"y":840,"wires":[["4d8987b3.3e9508","a4c641c2.76127"]]},{"id":"80690806.7f3588","type":"mqtt out","z":"c010e369.f786d","name":"Alarm","topic":"Alarm8","qos":"0","retain":"","broker":"2460a20d.93c08e","x":270,"y":840,"wires":[]},{"id":"4b148625.cf1458","type":"inject","z":"c010e369.f786d","name":"test alarm","topic":"Alarm","payload":"Alarm from node 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":840,"wires":[["80690806.7f3588"]]},{"id":"cbc34002.56901","type":"inject","z":"c010e369.f786d","name":"tsmp","topic":"tsmp","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":277,"y":1066,"wires":[["9ca23bf.63289c8","216cbeec.7c82f2","da7e452f.1aea08"]]},{"id":"da7e452f.1aea08","type":"function","z":"c010e369.f786d","name":"checkerr","func":"var count = context.get('count') || 0;\nif(msg.topic == \"tsmp\")\n{\n    count = count + 1;\n}\nelse\n{\n    count = 0;\n}\ncontext.set('count',count);\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"x":447,"y":1066,"wires":[["af8b496d.526b98"]]},{"id":"c3042925.694878","type":"debug","z":"c010e369.f786d","name":"restart","active":false,"console":"false","complete":"payload","x":761,"y":1145,"wires":[]},{"id":"af8b496d.526b98","type":"switch","z":"c010e369.f786d","name":"err_no","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"12","vt":"str"}],"checkall":"true","outputs":1,"x":597,"y":1166,"wires":[["9b1c86ec.c56388","c3042925.694878"]]},{"id":"be761f95.e4033","type":"mqtt out","z":"c010e369.f786d","name":"reset","topic":"sw8","qos":"0","retain":"","broker":"faa41933.fa74e8","x":957,"y":1166,"wires":[]},{"id":"9b1c86ec.c56388","type":"function","z":"c010e369.f786d","name":"ESP.restart()","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":783,"y":1190,"wires":[["be761f95.e4033","e55c1f2c.c20bc","70e097bf.cb84c8","222c54d3.ab211c"]]},{"id":"eeeca634.5edc68","type":"function","z":"c010e369.f786d","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nreturn msg;","outputs":1,"noerr":0,"x":1177,"y":780,"wires":[["c9336c19.18787","8ad18724.a8c8d8"]]},{"id":"e55b4aab.2db718","type":"firebase modify","z":"c010e369.f786d","name":"8_p0","firebaseconfig":"","childpath":"8/power/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":490,"y":440,"wires":[["6d0c11ae.4466e"]]},{"id":"70bf3efb.56862","type":"firebase modify","z":"c010e369.f786d","name":"8_p1","firebaseconfig":"","childpath":"8/power/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":490,"y":680,"wires":[["a5a9a2c0.060fe"]]},{"id":"6745fe4a.5600d","type":"firebase modify","z":"c010e369.f786d","name":"8_p2","firebaseconfig":"","childpath":"8/power/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":490,"y":740,"wires":[["4c0bce32.33e0b"]]},{"id":"38b7768b.af1c3a","type":"firebase modify","z":"c010e369.f786d","name":"eng0","firebaseconfig":"","childpath":"8/energy/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":1210,"y":1400,"wires":[[]]},{"id":"f7243e51.285e5","type":"firebase modify","z":"c010e369.f786d","name":"eng1","firebaseconfig":"","childpath":"8/energy/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":1210,"y":1520,"wires":[[]]},{"id":"ef2e9e5c.1fce9","type":"firebase modify","z":"c010e369.f786d","name":"eng2","firebaseconfig":"","childpath":"8/energy/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":1210,"y":1620,"wires":[[]]},{"id":"5633acc7.d17694","type":"firebase modify","z":"c010e369.f786d","name":"8_eng","firebaseconfig":"","childpath":"8/energy/total","method":"set","value":"msg.payload","priority":"msg.priority","x":1178.0761156082153,"y":871.6216421127319,"wires":[["2f31ac0d.255c14"]]},{"id":"5986095e.699b08","type":"firebase modify","z":"c010e369.f786d","name":"8_tp0","firebaseconfig":"","childpath":"8/energy/tp0","method":"set","value":"msg.payload","priority":"msg.priority","x":1009.0169801712036,"y":987.632077217102,"wires":[["77e0d4a3.ea900c","e1fcd6.47330328"]]},{"id":"83628ef3.030cb","type":"firebase modify","z":"c010e369.f786d","name":"8_tp1","firebaseconfig":"","childpath":"8/energy/tp1","method":"set","value":"msg.payload","priority":"msg.priority","x":1011.6836185455322,"y":1049.6320447921753,"wires":[["f14eaee8.1057f","7a3605f9.2b26cc"]]},{"id":"d642cca0.07525","type":"firebase modify","z":"c010e369.f786d","name":"8_tp2","firebaseconfig":"","childpath":"8/energy/tp2","method":"set","value":"msg.payload","priority":"msg.priority","x":1010.6836595535278,"y":1103.6320390701294,"wires":[["9cbfd350.06e2b","c3c2d163.ee5fd"]]},{"id":"9ca23bf.63289c8","type":"firebase.once","z":"c010e369.f786d","name":"engt","firebaseconfig":"","childpath":"8/energy","repeatifnull":false,"eventType":"value","queries":[],"x":649.0170068740845,"y":895.3334045410156,"wires":[["bd78ef73.664cb","5a5c5bf9.ae6484","aa429dd9.8cae9","64735915.95d0a8"]]},{"id":"216cbeec.7c82f2","type":"firebase.once","z":"c010e369.f786d","name":"powt","firebaseconfig":"","childpath":"8/power","repeatifnull":false,"eventType":"value","queries":[],"x":642.0173015594482,"y":1509.3334822654724,"wires":[["e9736954.57f968","e3dc5643.175058","6898751a.b2204c"]]},{"id":"6d0c11ae.4466e","type":"ui_gauge","z":"c010e369.f786d","name":"P0_gag","group":"224bd003.82e7b","order":1,"width":"5","height":"4","gtype":"gage","title":"PA","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":440,"wires":[]},{"id":"a5a9a2c0.060fe","type":"ui_gauge","z":"c010e369.f786d","name":"P1_gag","group":"224bd003.82e7b","order":2,"width":"5","height":"4","gtype":"gage","title":"PB","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":680,"wires":[]},{"id":"4c0bce32.33e0b","type":"ui_gauge","z":"c010e369.f786d","name":"P2_gag","group":"224bd003.82e7b","order":3,"width":"5","height":"4","gtype":"gage","title":"PC","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":740,"wires":[]},{"id":"a1ad6205.d872a","type":"ui_gauge","z":"c010e369.f786d","name":"","group":"4bbf73d8.a18aec","order":0,"width":"8","height":"4","gtype":"gage","title":"Energy (kWh)","label":"kWh","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1560,"y":860,"wires":[]},{"id":"5a40fded.6f0de4","type":"ui_chart","z":"c010e369.f786d","name":"3PGraph","group":"224bd003.82e7b","order":6,"width":"19","height":"8","label":"3 Phase graph","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":740,"y":180,"wires":[[],[]]},{"id":"8ae35862.72e678","type":"ui_chart","z":"c010e369.f786d","name":"","group":"4bbf73d8.a18aec","order":0,"width":"10","height":"4","label":"Energy Histrory","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1344.9993982315063,"y":898.6216068267822,"wires":[[],[]]},{"id":"4d8987b3.3e9508","type":"ui_toast","z":"c010e369.f786d","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Alarm","name":"Show alarm","x":743,"y":854,"wires":[]},{"id":"c9336c19.18787","type":"rest publish","z":"c010e369.f786d","name":"energy3Phase","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":1358,"y":780,"wires":[]},{"id":"93defdb3.2363d","type":"inject","z":"c010e369.f786d","name":"","topic":"reset meter","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":633.6840209960938,"y":1041.454833984375,"wires":[["5633acc7.d17694","5986095e.699b08","83628ef3.030cb","d642cca0.07525"]]},{"id":"e55c1f2c.c20bc","type":"mqtt out","z":"c010e369.f786d","name":"","topic":"8_p0","qos":"0","retain":"","broker":"faa41933.fa74e8","x":958,"y":1221,"wires":[]},{"id":"70e097bf.cb84c8","type":"mqtt out","z":"c010e369.f786d","name":"","topic":"8_p1","qos":"0","retain":"","broker":"faa41933.fa74e8","x":956,"y":1279,"wires":[]},{"id":"222c54d3.ab211c","type":"mqtt out","z":"c010e369.f786d","name":"","topic":"8_p2","qos":"0","retain":"","broker":"faa41933.fa74e8","x":959,"y":1334,"wires":[]},{"id":"38de9071.341b6","type":"inject","z":"c010e369.f786d","name":"force_restart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":610,"y":1220,"wires":[["9b1c86ec.c56388","c3042925.694878"]]},{"id":"8ad18724.a8c8d8","type":"ui_gauge","z":"c010e369.f786d","name":"","group":"95b501bb.43c6e","order":0,"width":"4","height":"4","gtype":"gage","title":"Energy (Node8)","label":"kWhr.","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1346,"y":821,"wires":[]},{"id":"c670feec.4f0fb","type":"rest publish","z":"c010e369.f786d","name":"power","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":710,"y":500,"wires":[]},{"id":"6adefea6.fb6cb","type":"function","z":"c010e369.f786d","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nmsg.topic = \"/\" +msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":500,"wires":[["c670feec.4f0fb"]]},{"id":"f838f8df.68d8d8","type":"inject","z":"c010e369.f786d","name":"write_to_db","topic":"write_to_db","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":185,"y":512,"wires":[["f4768d7f.3a8b3","4f0d5f85.201ab","b25a47bd.60f028"]]},{"id":"b25a47bd.60f028","type":"function","z":"c010e369.f786d","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["b83b3650.6e12c8"]]},{"id":"e59171ae.2b45","type":"firebase modify","z":"c010e369.f786d","name":"peak0","firebaseconfig":"","childpath":"/Peak/8_PA","method":"set","value":"msg.payload","priority":"msg.priority","x":810,"y":380,"wires":[["d67b6e2e.1d1fe"]]},{"id":"f4768d7f.3a8b3","type":"function","z":"c010e369.f786d","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":490,"y":560,"wires":[["7832768a.405d18"]]},{"id":"fd7621e7.f771c","type":"firebase modify","z":"c010e369.f786d","name":"peak1","firebaseconfig":"","childpath":"Peak/8_PB","method":"set","value":"msg.payload","priority":"msg.priority","x":810,"y":560,"wires":[["9d2f1af0.a86978"]]},{"id":"4f0d5f85.201ab","type":"function","z":"c010e369.f786d","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":490,"y":620,"wires":[["7756bb62.483a14"]]},{"id":"7bcd846f.25a45c","type":"firebase modify","z":"c010e369.f786d","name":"peak2","firebaseconfig":"","childpath":"Peak/8_PC","method":"set","value":"msg.payload","priority":"msg.priority","x":810,"y":620,"wires":[["be278003.10a07"]]},{"id":"c652a8c7.ec6818","type":"function","z":"c010e369.f786d","name":"PA","func":"msg.topic = \"PA\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":100,"wires":[["5a40fded.6f0de4","21d08462.d630cc"]]},{"id":"acefcb4b.0f6728","type":"function","z":"c010e369.f786d","name":"PB","func":"msg.topic = \"PB\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":140,"wires":[["5a40fded.6f0de4","21d08462.d630cc"]]},{"id":"5207648.da2279c","type":"function","z":"c010e369.f786d","name":"PC","func":"msg.topic = \"PC\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["5a40fded.6f0de4","21d08462.d630cc"]]},{"id":"21d08462.d630cc","type":"ui_chart","z":"c010e369.f786d","name":"min","group":"acecbb71.9c5448","order":0,"width":"19","height":"6","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":730,"y":100,"wires":[[],[]]},{"id":"782e616b.d9e3b","type":"function","z":"c010e369.f786d","name":"avg_PA","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PA\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":500,"y":240,"wires":[["e1cf06a.c3bbcf8"]]},{"id":"ab1bc8a9.56e4b8","type":"function","z":"c010e369.f786d","name":"avg_PB","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PB\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":500,"y":280,"wires":[["e1cf06a.c3bbcf8"]]},{"id":"3ae6c607.f1928a","type":"function","z":"c010e369.f786d","name":"avg_PC","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PC\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["e1cf06a.c3bbcf8"]]},{"id":"e1cf06a.c3bbcf8","type":"ui_chart","z":"c010e369.f786d","name":"hour","group":"d65f590d.013d58","order":0,"width":"19","height":"6","label":"Average power per min. (W)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":710,"y":280,"wires":[[],[]]},{"id":"b83b3650.6e12c8","type":"delay","z":"c010e369.f786d","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":380,"wires":[["e59171ae.2b45"]]},{"id":"7832768a.405d18","type":"delay","z":"c010e369.f786d","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":560,"wires":[["fd7621e7.f771c"]]},{"id":"7756bb62.483a14","type":"delay","z":"c010e369.f786d","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":620,"wires":[["7bcd846f.25a45c"]]},{"id":"820a3102.eae92","type":"inject","z":"c010e369.f786d","name":"test value","topic":"test","payload":"10000","payloadType":"str","repeat":"5","crontab":"","once":false,"x":630,"y":1300,"wires":[["2bc955c1.9b3e1a","26e7b101.45ffbe","b28d4970.2cfe88"]]},{"id":"2bc955c1.9b3e1a","type":"random","z":"c010e369.f786d","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":781,"y":1255,"wires":[["e55c1f2c.c20bc"]]},{"id":"26e7b101.45ffbe","type":"random","z":"c010e369.f786d","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":783,"y":1299,"wires":[["70e097bf.cb84c8"]]},{"id":"b28d4970.2cfe88","type":"random","z":"c010e369.f786d","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":783,"y":1347,"wires":[["222c54d3.ab211c"]]},{"id":"d67b6e2e.1d1fe","type":"ui_text","z":"c010e369.f786d","group":"a83d45ca.04c858","order":0,"width":"3","height":"1","name":"","label":"PeakA","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":380,"wires":[]},{"id":"9d2f1af0.a86978","type":"ui_text","z":"c010e369.f786d","group":"a83d45ca.04c858","order":0,"width":"3","height":"1","name":"","label":"PeakB","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":560,"wires":[]},{"id":"be278003.10a07","type":"ui_text","z":"c010e369.f786d","group":"a83d45ca.04c858","order":0,"width":"3","height":"1","name":"","label":"PeakC","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":620,"wires":[]},{"id":"d7841f8b.36935","type":"ui_text","z":"c010e369.f786d","group":"4bbf73d8.a18aec","order":0,"width":"3","height":"1","name":"EA","label":"EA","format":"{{msg.payload}}","layout":"row-spread","x":1510,"y":1020,"wires":[]},{"id":"e1fcd6.47330328","type":"function","z":"c010e369.f786d","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1341,"y":1020,"wires":[["d7841f8b.36935"]]},{"id":"75e56962.407f88","type":"ui_text","z":"c010e369.f786d","group":"4bbf73d8.a18aec","order":0,"width":"3","height":"1","name":"EB","label":"EB","format":"{{msg.payload}}","layout":"row-spread","x":1510,"y":1080,"wires":[]},{"id":"7a3605f9.2b26cc","type":"function","z":"c010e369.f786d","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1341,"y":1080,"wires":[["75e56962.407f88"]]},{"id":"e832fcf.c19a4","type":"ui_text","z":"c010e369.f786d","group":"4bbf73d8.a18aec","order":0,"width":"3","height":"1","name":"","label":"EC","format":"{{msg.payload}}","layout":"row-spread","x":1510,"y":1140,"wires":[]},{"id":"c3c2d163.ee5fd","type":"function","z":"c010e369.f786d","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1341,"y":1140,"wires":[["e832fcf.c19a4"]]},{"id":"f2a66890.adddb8","type":"mqtt out","z":"c010e369.f786d","name":"m8","topic":"m8","qos":"0","retain":"false","broker":"faa41933.fa74e8","x":510,"y":1700,"wires":[]},{"id":"9ce71973.a82f08","type":"mqtt out","z":"c010e369.f786d","name":"C8","topic":"C8","qos":"0","retain":"false","broker":"faa41933.fa74e8","x":510,"y":1760,"wires":[]},{"id":"55762958.6b2ac8","type":"mqtt in","z":"c010e369.f786d","name":"NID","topic":"8","qos":"0","broker":"faa41933.fa74e8","x":150,"y":1700,"wires":[["b7807001.fecc5","b45011a2.23c35"]]},{"id":"b7807001.fecc5","type":"function","z":"c010e369.f786d","name":"m","func":"msg.payload = \"60\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1698.9236145019531,"wires":[["f2a66890.adddb8"]]},{"id":"b45011a2.23c35","type":"function","z":"c010e369.f786d","name":"C","func":"msg.payload = \"-2\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1760,"wires":[["9ce71973.a82f08"]]},{"id":"db1c0cb9.ad16b","type":"function","z":"c010e369.f786d","name":"P_total","func":"var p_total = msg.payload[\"p0\"] + msg.payload[\"p1\"] + msg.payload[\"p2\"];\nmsg.topic = \"Ptotal\";\nmsg.payload = p_total.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":452,"y":1841,"wires":[["3533e223.7b476e","3d1bb35.fbc554c","104a3c23.5cbf24","71b6591e.e470f8"]]},{"id":"3533e223.7b476e","type":"function","z":"c010e369.f786d","name":"P_avg","func":"var pavg = msg.payload/3;\nmsg.payload =pavg.toFixed(2)\nmsg.topic = \"Pavg\";\nreturn msg;","outputs":1,"noerr":0,"x":632,"y":1921,"wires":[["e0a397ee.12ecf8","104a3c23.5cbf24"]]},{"id":"3d1bb35.fbc554c","type":"ui_gauge","z":"c010e369.f786d","name":"Ptotal","group":"224bd003.82e7b","order":4,"width":"5","height":"4","gtype":"gage","title":"Ptotal","label":"W","format":"{{value}}","min":0,"max":"300000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":1780,"wires":[]},{"id":"e0a397ee.12ecf8","type":"ui_gauge","z":"c010e369.f786d","name":"Pavg","group":"224bd003.82e7b","order":5,"width":"5","height":"4","gtype":"gage","title":"Pavg","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":1980,"wires":[]},{"id":"104a3c23.5cbf24","type":"ui_chart","z":"c010e369.f786d","name":"P_grp","group":"224bd003.82e7b","order":7,"width":"19","height":"8","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300000","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":850,"y":1840,"wires":[[],[]]},{"id":"5e3a2fcd.d6415","type":"firebase.once","z":"c010e369.f786d","name":"power","firebaseconfig":"","childpath":"8/power","repeatifnull":false,"eventType":"value","queries":[],"x":288,"y":1842,"wires":[["db1c0cb9.ad16b"]]},{"id":"8f650047.a2dc2","type":"inject","z":"c010e369.f786d","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":126,"y":1842,"wires":[["5e3a2fcd.d6415"]]},{"id":"2f31ac0d.255c14","type":"function","z":"c010e369.f786d","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":860,"wires":[["a1ad6205.d872a"]]},{"id":"71b6591e.e470f8","type":"firebase modify","z":"c010e369.f786d","name":"PT","firebaseconfig":"","childpath":"Peak/8_PT","method":"set","value":"msg.payload","priority":"msg.priority","x":630,"y":2000,"wires":[[]]},{"id":"faa41933.fa74e8","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2460a20d.93c08e","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"224bd003.82e7b","type":"ui_group","z":"","name":"Monitor","tab":"bfa6d43d.5a1138","order":1,"disp":true,"width":"19"},{"id":"4bbf73d8.a18aec","type":"ui_group","z":"","name":"Energy","tab":"bfa6d43d.5a1138","order":3,"disp":true,"width":"19"},{"id":"95b501bb.43c6e","type":"ui_group","z":"","name":"Energy","tab":"698253f2.fc01ec","order":2,"disp":true,"width":"19"},{"id":"acecbb71.9c5448","type":"ui_group","z":"","name":"Node8","tab":"81df91f1.47772","disp":true,"width":"19"},{"id":"d65f590d.013d58","type":"ui_group","z":"","name":"Node8","tab":"fe70155f.d73d98","order":7,"disp":true,"width":"19"},{"id":"a83d45ca.04c858","type":"ui_group","z":"","name":"Parameter","tab":"bfa6d43d.5a1138","order":2,"disp":true,"width":"19"},{"id":"bfa6d43d.5a1138","type":"ui_tab","z":"","name":"Node8","icon":"dashboard","order":8},{"id":"698253f2.fc01ec","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":11},{"id":"81df91f1.47772","type":"ui_tab","z":"","name":"Minute resolution","icon":"dashboard","order":12},{"id":"fe70155f.d73d98","type":"ui_tab","z":"","name":"Hour resolution","icon":"dashboard","order":13}]