node-red/node6.txt
[{"id":"95bed54c.e07cd8","type":"mqtt in","z":"5a5d20c1.4c8ae","name":"","topic":"6_p0","qos":"0","broker":"faa41933.fa74e8","x":150,"y":360,"wires":[["2c482a91.9b8826","a82d76b4.86b3f8","1cbe4e4b.66f8f2","43f32ab0.d4a164","def9973c.ca1478"]]},{"id":"4fb12e90.8beac","type":"mqtt out","z":"5a5d20c1.4c8ae","name":"","topic":"6_p0_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1167,"y":946,"wires":[]},{"id":"3f11e0f3.ff985","type":"mqtt in","z":"5a5d20c1.4c8ae","name":"","topic":"6_p1","qos":"0","broker":"faa41933.fa74e8","x":150,"y":540,"wires":[["5b7c7f19.89977","a82d76b4.86b3f8","e0c6f522.3f7138","a3049b89.dc6778","677cbc0e.d289a4"]]},{"id":"505aad45.6a06b4","type":"mqtt in","z":"5a5d20c1.4c8ae","name":"","topic":"6_p2","qos":"0","broker":"faa41933.fa74e8","x":150,"y":640,"wires":[["ad212302.037e2","f7929b89.c212f8","a82d76b4.86b3f8","42986f20.46157","9f9b8682.fb4988","a254c1b0.939cb"]]},{"id":"cc150187.92565","type":"mqtt out","z":"5a5d20c1.4c8ae","name":"","topic":"6_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1158.9339036941528,"y":891.4862728118896,"wires":[]},{"id":"71314dc0.1248e4","type":"function","z":"5a5d20c1.4c8ae","name":"e0","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":1015.0731010437012,"y":1358.3369145393372,"wires":[["bbfcfeca.7336d"]]},{"id":"cfc15675.af0a58","type":"function","z":"5a5d20c1.4c8ae","name":"e1","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":1006.0902214050293,"y":1468.7815012931824,"wires":[["200b11da.a168ae"]]},{"id":"294db9aa.49fa26","type":"function","z":"5a5d20c1.4c8ae","name":"e2","func":"var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;","outputs":1,"noerr":0,"x":1017.0902099609375,"y":1572.3368668556213,"wires":[["1f98aa8f.a9af35"]]},{"id":"3b5eea8e.3e28f6","type":"function","z":"5a5d20c1.4c8ae","name":"et","func":"var e0 = parseFloat(msg.payload.tp0);\nvar e1 = parseFloat(msg.payload.tp1);\nvar e2 = parseFloat(msg.payload.tp2);\nmsg.payload = e0 + e1 + e2;\nmsg.topic = \"/2/3e\";\nreturn msg;","outputs":1,"noerr":0,"x":984.069146156311,"y":857.1286725997925,"wires":[["3420f99c.ce3c26","cc150187.92565","21bef01a.a67c4","4beaa784.314d98"]]},{"id":"3f85bea2.2f1042","type":"function","z":"5a5d20c1.4c8ae","name":"p0","func":"var p = parseFloat(msg.payload.p0);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":804.0000219345093,"y":1398.9999947547913,"wires":[["71314dc0.1248e4"]]},{"id":"5995df6.14bfa2","type":"function","z":"5a5d20c1.4c8ae","name":"p1","func":"var p = parseFloat(msg.payload.p1);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":801.0172958374023,"y":1467.3335137367249,"wires":[["cfc15675.af0a58"]]},{"id":"345d3925.216e16","type":"function","z":"5a5d20c1.4c8ae","name":"p2","func":"var p = parseFloat(msg.payload.p2);\nmsg.payload = p;\nreturn msg;","outputs":1,"noerr":0,"x":808.0173072814941,"y":1536.3336205482483,"wires":[["294db9aa.49fa26"]]},{"id":"f480e54b.693d98","type":"function","z":"5a5d20c1.4c8ae","name":"tp0","func":"var tmp = parseFloat(msg.payload.p0);\nvar tp = parseFloat(msg.payload.tp0);\nmsg.payload = tp + tmp;\nmsg.topic = \"/6/e0\";\nreturn msg;","outputs":1,"noerr":0,"x":808.0230722427368,"y":947.6607246398926,"wires":[["e5604d9b.dcd01"]]},{"id":"64685249.173e7c","type":"function","z":"5a5d20c1.4c8ae","name":"tp1","func":"var tmp = parseFloat(msg.payload.p1);\nvar tp = parseFloat(msg.payload.tp1);\nmsg.payload = tp + tmp;\nmsg.topic = \"/6/e1\";\nreturn msg;","outputs":1,"noerr":0,"x":807.6835985183716,"y":1008.632040977478,"wires":[["96c0b0be.46c52"]]},{"id":"242fb3af.2bcb9c","type":"mqtt out","z":"5a5d20c1.4c8ae","name":"","topic":"6_p1_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1170.6835451126099,"y":1010.6320486068726,"wires":[]},{"id":"2da12d1e.769582","type":"function","z":"5a5d20c1.4c8ae","name":"tp2","func":"var tmp = parseFloat(msg.payload.p2);\nvar tp = parseFloat(msg.payload.tp2);\nmsg.payload = tp + tmp;\nmsg.topic = \"/6/e2\";\nreturn msg;","outputs":1,"noerr":0,"x":809.6835985183716,"y":1062.632040977478,"wires":[["b05f3dfb.e9c97"]]},{"id":"50a47668.efa368","type":"mqtt out","z":"5a5d20c1.4c8ae","name":"","topic":"6_p2_e","qos":"0","retain":"","broker":"faa41933.fa74e8","x":1174.6834869384766,"y":1064.6320400238037,"wires":[]},{"id":"83681fb0.6cd2f","type":"delay","z":"5a5d20c1.4c8ae","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":815.5239534378052,"y":856.8021955490112,"wires":[["3b5eea8e.3e28f6"]]},{"id":"c985b6b8.3ed7b8","type":"e-mail","z":"5a5d20c1.4c8ae","server":"smtp.gmail.com","port":"465","secure":true,"name":"kchatpeth@gmail.com","dname":"","x":753,"y":754,"wires":[]},{"id":"fd9f17b.8c78ae8","type":"mqtt in","z":"5a5d20c1.4c8ae","name":"Alarm","topic":"Alarm6","qos":"0","broker":"2460a20d.93c08e","x":470,"y":800,"wires":[["d47f9b42.2ddfd8","c985b6b8.3ed7b8"]]},{"id":"7fc066f.d1dca98","type":"mqtt out","z":"5a5d20c1.4c8ae","name":"Alarm","topic":"Alarm6","qos":"0","retain":"","broker":"2460a20d.93c08e","x":250,"y":800,"wires":[]},{"id":"178a0dc2.ae6d22","type":"inject","z":"5a5d20c1.4c8ae","name":"test alarm","topic":"Alarm","payload":"Alarm from node 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":800,"wires":[["7fc066f.d1dca98"]]},{"id":"49458c6e.eb7a84","type":"inject","z":"5a5d20c1.4c8ae","name":"tsmp","topic":"tsmp","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":257,"y":1026,"wires":[["93131d0b.706d6","1b91e425.591c7c","f7929b89.c212f8"]]},{"id":"f7929b89.c212f8","type":"function","z":"5a5d20c1.4c8ae","name":"checkerr","func":"var count = context.get('count') || 0;\nif(msg.topic == \"tsmp\")\n{\n    count = count + 1;\n}\nelse\n{\n    count = 0;\n}\ncontext.set('count',count);\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"x":427,"y":1026,"wires":[["a859e424.aa19a8"]]},{"id":"92c817c1.207408","type":"debug","z":"5a5d20c1.4c8ae","name":"restart","active":false,"console":"false","complete":"payload","x":741,"y":1105,"wires":[]},{"id":"a859e424.aa19a8","type":"switch","z":"5a5d20c1.4c8ae","name":"err_no","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"12","vt":"str"}],"checkall":"true","outputs":1,"x":577,"y":1126,"wires":[["5a3a1e71.efe48","92c817c1.207408"]]},{"id":"c8dbd360.942db","type":"mqtt out","z":"5a5d20c1.4c8ae","name":"reset","topic":"sw6","qos":"0","retain":"","broker":"faa41933.fa74e8","x":937,"y":1126,"wires":[]},{"id":"5a3a1e71.efe48","type":"function","z":"5a5d20c1.4c8ae","name":"ESP.restart()","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":763,"y":1150,"wires":[["c8dbd360.942db","a882820f.da563","c29380dd.c8129","1ad301fc.d008ae"]]},{"id":"4beaa784.314d98","type":"function","z":"5a5d20c1.4c8ae","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nreturn msg;","outputs":1,"noerr":0,"x":1157,"y":740,"wires":[["de829e5a.7207d","662c4a3f.b72184"]]},{"id":"2c482a91.9b8826","type":"firebase modify","z":"5a5d20c1.4c8ae","name":"6_p0","firebaseconfig":"","childpath":"/6/power/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":470,"y":400,"wires":[["589ebe5a.25c13"]]},{"id":"5b7c7f19.89977","type":"firebase modify","z":"5a5d20c1.4c8ae","name":"6_p1","firebaseconfig":"","childpath":"/6/power/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":470,"y":640,"wires":[["74596c6c.0c89a4"]]},{"id":"ad212302.037e2","type":"firebase modify","z":"5a5d20c1.4c8ae","name":"6_p2","firebaseconfig":"","childpath":"/6/power/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":470,"y":700,"wires":[["e6e45a98.54a6e8"]]},{"id":"bbfcfeca.7336d","type":"firebase modify","z":"5a5d20c1.4c8ae","name":"eng0","firebaseconfig":"","childpath":"/6/energy/p0","method":"set","value":"msg.payload","priority":"msg.priority","x":1190,"y":1360,"wires":[[]]},{"id":"200b11da.a168ae","type":"firebase modify","z":"5a5d20c1.4c8ae","name":"eng1","firebaseconfig":"","childpath":"/6/energy/p1","method":"set","value":"msg.payload","priority":"msg.priority","x":1190,"y":1480,"wires":[[]]},{"id":"1f98aa8f.a9af35","type":"firebase modify","z":"5a5d20c1.4c8ae","name":"eng2","firebaseconfig":"","childpath":"/6/energy/p2","method":"set","value":"msg.payload","priority":"msg.priority","x":1190,"y":1580,"wires":[[]]},{"id":"3420f99c.ce3c26","type":"firebase modify","z":"5a5d20c1.4c8ae","name":"6_eng","firebaseconfig":"","childpath":"/6/energy/total","method":"set","value":"msg.payload","priority":"msg.priority","x":1158.0761156082153,"y":831.6216421127319,"wires":[["e0661a58.2ea118"]]},{"id":"e5604d9b.dcd01","type":"firebase modify","z":"5a5d20c1.4c8ae","name":"6_tp0","firebaseconfig":"","childpath":"/6/energy/tp0","method":"set","value":"msg.payload","priority":"msg.priority","x":989.0169801712036,"y":947.632077217102,"wires":[["4fb12e90.8beac","8e14cf6c.94c3e"]]},{"id":"96c0b0be.46c52","type":"firebase modify","z":"5a5d20c1.4c8ae","name":"6_tp1","firebaseconfig":"","childpath":"/6/energy/tp1","method":"set","value":"msg.payload","priority":"msg.priority","x":991.6836185455322,"y":1009.6320447921753,"wires":[["242fb3af.2bcb9c","5d35ac67.b40104"]]},{"id":"b05f3dfb.e9c97","type":"firebase modify","z":"5a5d20c1.4c8ae","name":"6_tp2","firebaseconfig":"","childpath":"/6/energy/tp2","method":"set","value":"msg.payload","priority":"msg.priority","x":990.6836595535278,"y":1063.6320390701294,"wires":[["50a47668.efa368","25f50e84.092322"]]},{"id":"93131d0b.706d6","type":"firebase.once","z":"5a5d20c1.4c8ae","name":"engt","firebaseconfig":"","childpath":"/6/energy","repeatifnull":false,"eventType":"value","queries":[],"x":629.0170068740845,"y":855.3334045410156,"wires":[["f480e54b.693d98","64685249.173e7c","2da12d1e.769582","83681fb0.6cd2f"]]},{"id":"1b91e425.591c7c","type":"firebase.once","z":"5a5d20c1.4c8ae","name":"powt","firebaseconfig":"","childpath":"/6/power","repeatifnull":false,"eventType":"value","queries":[],"x":622.0173015594482,"y":1469.3334822654724,"wires":[["3f85bea2.2f1042","5995df6.14bfa2","345d3925.216e16"]]},{"id":"589ebe5a.25c13","type":"ui_gauge","z":"5a5d20c1.4c8ae","name":"P0_gag","group":"b23aa341.eaa17","order":1,"width":"5","height":"4","gtype":"gage","title":"PA","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":400,"wires":[]},{"id":"74596c6c.0c89a4","type":"ui_gauge","z":"5a5d20c1.4c8ae","name":"P1_gag","group":"b23aa341.eaa17","order":2,"width":"5","height":"4","gtype":"gage","title":"PB","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":640,"wires":[]},{"id":"e6e45a98.54a6e8","type":"ui_gauge","z":"5a5d20c1.4c8ae","name":"P2_gag","group":"b23aa341.eaa17","order":3,"width":"5","height":"4","gtype":"gage","title":"PC","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":700,"wires":[]},{"id":"c7e24b9f.aa09c8","type":"ui_gauge","z":"5a5d20c1.4c8ae","name":"","group":"a1d762b.0d422a","order":0,"width":"8","height":"4","gtype":"gage","title":"Energy (kWh)","label":"kWh","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1540,"y":820,"wires":[]},{"id":"f1325226.faa57","type":"ui_chart","z":"5a5d20c1.4c8ae","name":"3PGraph","group":"b23aa341.eaa17","order":6,"width":"19","height":"8","label":"3 Phase graph","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":720,"y":140,"wires":[[],[]]},{"id":"21bef01a.a67c4","type":"ui_chart","z":"5a5d20c1.4c8ae","name":"","group":"a1d762b.0d422a","order":0,"width":"10","height":"4","label":"Energy Histrory","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1324.9993982315063,"y":858.6216068267822,"wires":[[],[]]},{"id":"d47f9b42.2ddfd8","type":"ui_toast","z":"5a5d20c1.4c8ae","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Alarm","name":"Show alarm","x":723,"y":814,"wires":[]},{"id":"de829e5a.7207d","type":"rest publish","z":"5a5d20c1.4c8ae","name":"energy3Phase","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":1338,"y":740,"wires":[]},{"id":"6f4660c4.59ced","type":"inject","z":"5a5d20c1.4c8ae","name":"","topic":"reset meter","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":613.6840209960938,"y":1001.454833984375,"wires":[["3420f99c.ce3c26","e5604d9b.dcd01","96c0b0be.46c52","b05f3dfb.e9c97"]]},{"id":"a882820f.da563","type":"mqtt out","z":"5a5d20c1.4c8ae","name":"","topic":"6_p0","qos":"0","retain":"","broker":"faa41933.fa74e8","x":938,"y":1181,"wires":[]},{"id":"c29380dd.c8129","type":"mqtt out","z":"5a5d20c1.4c8ae","name":"","topic":"6_p1","qos":"0","retain":"","broker":"faa41933.fa74e8","x":936,"y":1239,"wires":[]},{"id":"1ad301fc.d008ae","type":"mqtt out","z":"5a5d20c1.4c8ae","name":"","topic":"6_p2","qos":"0","retain":"","broker":"faa41933.fa74e8","x":939,"y":1294,"wires":[]},{"id":"a7faded6.1650c","type":"inject","z":"5a5d20c1.4c8ae","name":"force_restart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":590,"y":1180,"wires":[["5a3a1e71.efe48","92c817c1.207408"]]},{"id":"662c4a3f.b72184","type":"ui_gauge","z":"5a5d20c1.4c8ae","name":"","group":"95b501bb.43c6e","order":0,"width":"4","height":"4","gtype":"gage","title":"Energy (Node6)","label":"kWhr.","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1326,"y":781,"wires":[]},{"id":"6a089e5c.4811f","type":"rest publish","z":"5a5d20c1.4c8ae","name":"power","appid":"wpm2018","auth":"yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd","topic":"topic","topicType":"msg","payload":"payload","payloadType":"msg","x":690,"y":460,"wires":[]},{"id":"a82d76b4.86b3f8","type":"function","z":"5a5d20c1.4c8ae","name":"toString","func":"msg.payload= String(parseFloat(msg.payload).toFixed(2));\nmsg.topic = \"/\" +msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":460,"wires":[["6a089e5c.4811f"]]},{"id":"5c5bd734.927f68","type":"inject","z":"5a5d20c1.4c8ae","name":"write_to_db","topic":"write_to_db","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":165,"y":472,"wires":[["e0c6f522.3f7138","42986f20.46157","1cbe4e4b.66f8f2"]]},{"id":"1cbe4e4b.66f8f2","type":"function","z":"5a5d20c1.4c8ae","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":470,"y":340,"wires":[["bad14671.e6d548"]]},{"id":"8af4cc91.c5725","type":"firebase modify","z":"5a5d20c1.4c8ae","name":"peak0","firebaseconfig":"","childpath":"/Peak/6_PA","method":"set","value":"msg.payload","priority":"msg.priority","x":790,"y":340,"wires":[["94efe761.735298"]]},{"id":"e0c6f522.3f7138","type":"function","z":"5a5d20c1.4c8ae","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":470,"y":520,"wires":[["9a0c827e.77ab8"]]},{"id":"b65ab9be.dbd8a8","type":"firebase modify","z":"5a5d20c1.4c8ae","name":"peak1","firebaseconfig":"","childpath":"/Peak/6_PB","method":"set","value":"msg.payload","priority":"msg.priority","x":790,"y":520,"wires":[["8f0e2b76.7b1018"]]},{"id":"42986f20.46157","type":"function","z":"5a5d20c1.4c8ae","name":"Peak","func":"var max = context.get('max')||0;\nif(msg.topic == \"write_to_db\")\n{\n    max = 0;\n    context.set('max', max);\n    msg.payload = max;\n    return msg;\n}\nelse\n{\n    if(parseFloat(msg.payload) > max)\n    {\n        max = parseFloat(msg.payload);\n        msg.payload = max;\n        context.set('max', max);\n        return msg;\n    }\n\n    \n}\n","outputs":1,"noerr":0,"x":470,"y":580,"wires":[["d91dce6f.d908a"]]},{"id":"5fce619f.cd496","type":"firebase modify","z":"5a5d20c1.4c8ae","name":"peak2","firebaseconfig":"","childpath":"/Peak/6_PC","method":"set","value":"msg.payload","priority":"msg.priority","x":790,"y":580,"wires":[["68ff3fa.3bc3ec"]]},{"id":"43f32ab0.d4a164","type":"function","z":"5a5d20c1.4c8ae","name":"PA","func":"msg.topic = \"PA\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":60,"wires":[["f1325226.faa57","59a08ad0.ebedf4"]]},{"id":"a3049b89.dc6778","type":"function","z":"5a5d20c1.4c8ae","name":"PB","func":"msg.topic = \"PB\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":100,"wires":[["f1325226.faa57","59a08ad0.ebedf4"]]},{"id":"9f9b8682.fb4988","type":"function","z":"5a5d20c1.4c8ae","name":"PC","func":"msg.topic = \"PC\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["f1325226.faa57","59a08ad0.ebedf4"]]},{"id":"59a08ad0.ebedf4","type":"ui_chart","z":"5a5d20c1.4c8ae","name":"min","group":"c768f0b0.a19bb","order":0,"width":"19","height":"6","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":710,"y":60,"wires":[[],[]]},{"id":"def9973c.ca1478","type":"function","z":"5a5d20c1.4c8ae","name":"avg_PA","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PA\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":480,"y":200,"wires":[["5b27f6b8.63ae68"]]},{"id":"677cbc0e.d289a4","type":"function","z":"5a5d20c1.4c8ae","name":"avg_PB","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PB\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":480,"y":240,"wires":[["5b27f6b8.63ae68"]]},{"id":"a254c1b0.939cb","type":"function","z":"5a5d20c1.4c8ae","name":"avg_PC","func":"var ncount = context.get('ncount') || 0;\nvar sum = context.get('sum')||0;\nif(ncount < 12)\n{\n    ncount = ncount + 1;\n    sum = sum + parseFloat(msg.payload);\n}\nelse\n{\n    msg.payload = sum/12;\n    ncount = 0;\n    sum = 0;\n    context.set('ncount',ncount);\n    context.set('sum', sum);\n    msg.topic = \"PC\";\n    return msg;\n}\ncontext.set('ncount',ncount);\ncontext.set('sum', sum);\n","outputs":1,"noerr":0,"x":480,"y":280,"wires":[["5b27f6b8.63ae68"]]},{"id":"5b27f6b8.63ae68","type":"ui_chart","z":"5a5d20c1.4c8ae","name":"hour","group":"fe831a81.887128","order":0,"width":"19","height":"6","label":"Average power per min. (W)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100000","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":690,"y":240,"wires":[[],[]]},{"id":"bad14671.e6d548","type":"delay","z":"5a5d20c1.4c8ae","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":340,"wires":[["8af4cc91.c5725"]]},{"id":"9a0c827e.77ab8","type":"delay","z":"5a5d20c1.4c8ae","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":520,"wires":[["b65ab9be.dbd8a8"]]},{"id":"d91dce6f.d908a","type":"delay","z":"5a5d20c1.4c8ae","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":580,"wires":[["5fce619f.cd496"]]},{"id":"4005dd7.3ac6c24","type":"inject","z":"5a5d20c1.4c8ae","name":"test value","topic":"test","payload":"10000","payloadType":"str","repeat":"5","crontab":"","once":false,"x":610,"y":1260,"wires":[["d5efacd2.b6ee9","89d10779.d58b18","4e62b4f4.6960cc"]]},{"id":"d5efacd2.b6ee9","type":"random","z":"5a5d20c1.4c8ae","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":761,"y":1215,"wires":[["a882820f.da563"]]},{"id":"89d10779.d58b18","type":"random","z":"5a5d20c1.4c8ae","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":763,"y":1259,"wires":[["c29380dd.c8129"]]},{"id":"4e62b4f4.6960cc","type":"random","z":"5a5d20c1.4c8ae","name":"rand","low":"1000","high":"100000","inte":"true","property":"payload","x":763,"y":1307,"wires":[["1ad301fc.d008ae"]]},{"id":"94efe761.735298","type":"ui_text","z":"5a5d20c1.4c8ae","group":"77e27328.1e718c","order":0,"width":"3","height":"1","name":"","label":"PeakA","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":340,"wires":[]},{"id":"8f0e2b76.7b1018","type":"ui_text","z":"5a5d20c1.4c8ae","group":"77e27328.1e718c","order":0,"width":"3","height":"1","name":"","label":"PeakB","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":520,"wires":[]},{"id":"68ff3fa.3bc3ec","type":"ui_text","z":"5a5d20c1.4c8ae","group":"77e27328.1e718c","order":0,"width":"3","height":"1","name":"","label":"PeakC","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":580,"wires":[]},{"id":"db9b733b.ca65c","type":"ui_text","z":"5a5d20c1.4c8ae","group":"a1d762b.0d422a","order":0,"width":"3","height":"1","name":"EA","label":"EA","format":"{{msg.payload}}","layout":"row-spread","x":1490,"y":980,"wires":[]},{"id":"8e14cf6c.94c3e","type":"function","z":"5a5d20c1.4c8ae","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1321,"y":980,"wires":[["db9b733b.ca65c"]]},{"id":"d6b916d.06234e8","type":"ui_text","z":"5a5d20c1.4c8ae","group":"a1d762b.0d422a","order":0,"width":"3","height":"1","name":"EB","label":"EB","format":"{{msg.payload}}","layout":"row-spread","x":1490,"y":1040,"wires":[]},{"id":"5d35ac67.b40104","type":"function","z":"5a5d20c1.4c8ae","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1321,"y":1040,"wires":[["d6b916d.06234e8"]]},{"id":"3afa30c9.81c51","type":"ui_text","z":"5a5d20c1.4c8ae","group":"a1d762b.0d422a","order":0,"width":"3","height":"1","name":"","label":"EC","format":"{{msg.payload}}","layout":"row-spread","x":1490,"y":1100,"wires":[]},{"id":"25f50e84.092322","type":"function","z":"5a5d20c1.4c8ae","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;","outputs":1,"noerr":0,"x":1321,"y":1100,"wires":[["3afa30c9.81c51"]]},{"id":"8fe91236.7e588","type":"mqtt out","z":"5a5d20c1.4c8ae","name":"m6","topic":"m6","qos":"0","retain":"false","broker":"faa41933.fa74e8","x":490,"y":1660,"wires":[]},{"id":"d708bce4.a7f59","type":"mqtt out","z":"5a5d20c1.4c8ae","name":"C6","topic":"C6","qos":"0","retain":"false","broker":"faa41933.fa74e8","x":490,"y":1720,"wires":[]},{"id":"de09c6fc.ec1cb8","type":"mqtt in","z":"5a5d20c1.4c8ae","name":"NID","topic":"6","qos":"0","broker":"faa41933.fa74e8","x":130,"y":1660,"wires":[["b979902b.e6833","ecca2839.7231f8"]]},{"id":"b979902b.e6833","type":"function","z":"5a5d20c1.4c8ae","name":"m","func":"msg.payload = \"60\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1658.9236145019531,"wires":[["8fe91236.7e588"]]},{"id":"ecca2839.7231f8","type":"function","z":"5a5d20c1.4c8ae","name":"C","func":"msg.payload = \"-2\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1720,"wires":[["d708bce4.a7f59"]]},{"id":"89049797.412598","type":"function","z":"5a5d20c1.4c8ae","name":"P_total","func":"var p_total = msg.payload[\"p0\"] + msg.payload[\"p1\"] + msg.payload[\"p2\"];\nmsg.topic = \"Ptotal\";\nmsg.payload = p_total.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":432,"y":1801,"wires":[["59bfea8c.195664","262644de.95f7bc","6de1b521.b68a6c","ee795f9d.3c1f3"]]},{"id":"59bfea8c.195664","type":"function","z":"5a5d20c1.4c8ae","name":"P_avg","func":"var pavg = msg.payload/3;\nmsg.payload =pavg.toFixed(2)\nmsg.topic = \"Pavg\";\nreturn msg;","outputs":1,"noerr":0,"x":612,"y":1881,"wires":[["ad71c87.2e44f38","6de1b521.b68a6c"]]},{"id":"262644de.95f7bc","type":"ui_gauge","z":"5a5d20c1.4c8ae","name":"Ptotal","group":"b23aa341.eaa17","order":4,"width":"5","height":"4","gtype":"gage","title":"Ptotal","label":"W","format":"{{value}}","min":0,"max":"300000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":1740,"wires":[]},{"id":"ad71c87.2e44f38","type":"ui_gauge","z":"5a5d20c1.4c8ae","name":"Pavg","group":"b23aa341.eaa17","order":5,"width":"5","height":"4","gtype":"gage","title":"Pavg","label":"W","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":1940,"wires":[]},{"id":"6de1b521.b68a6c","type":"ui_chart","z":"5a5d20c1.4c8ae","name":"P_grp","group":"b23aa341.eaa17","order":7,"width":"19","height":"8","label":"Power (W)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300000","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":830,"y":1800,"wires":[[],[]]},{"id":"2feb0a35.a482e6","type":"firebase.once","z":"5a5d20c1.4c8ae","name":"power","firebaseconfig":"","childpath":"6/power","repeatifnull":false,"eventType":"value","queries":[],"x":268,"y":1802,"wires":[["89049797.412598"]]},{"id":"5d5571d3.39e5","type":"inject","z":"5a5d20c1.4c8ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":106,"y":1802,"wires":[["2feb0a35.a482e6"]]},{"id":"e0661a58.2ea118","type":"function","z":"5a5d20c1.4c8ae","name":"Decimal_len","func":"msg.payload = parseFloat(msg.payload).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":820,"wires":[["c7e24b9f.aa09c8"]]},{"id":"ee795f9d.3c1f3","type":"firebase modify","z":"5a5d20c1.4c8ae","name":"PT","firebaseconfig":"","childpath":"Peak/6_PT","method":"set","value":"msg.payload","priority":"msg.priority","x":610,"y":1960,"wires":[[]]},{"id":"faa41933.fa74e8","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2460a20d.93c08e","type":"mqtt-broker","z":"","broker":"m12.cloudmqtt.com","port":"19574","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b23aa341.eaa17","type":"ui_group","z":"","name":"Monitor","tab":"8f701d0.83386e","order":1,"disp":true,"width":"19"},{"id":"a1d762b.0d422a","type":"ui_group","z":"","name":"Energy","tab":"8f701d0.83386e","order":3,"disp":true,"width":"19"},{"id":"95b501bb.43c6e","type":"ui_group","z":"","name":"Energy","tab":"698253f2.fc01ec","order":2,"disp":true,"width":"19"},{"id":"c768f0b0.a19bb","type":"ui_group","z":"","name":"Node6","tab":"81df91f1.47772","disp":true,"width":"19"},{"id":"fe831a81.887128","type":"ui_group","z":"","name":"Node6","tab":"fe70155f.d73d98","order":5,"disp":true,"width":"19"},{"id":"77e27328.1e718c","type":"ui_group","z":"","name":"Parameter","tab":"8f701d0.83386e","order":2,"disp":true,"width":"19"},{"id":"8f701d0.83386e","type":"ui_tab","z":"","name":"Node6","icon":"dashboard","order":6},{"id":"698253f2.fc01ec","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":11},{"id":"81df91f1.47772","type":"ui_tab","z":"","name":"Minute resolution","icon":"dashboard","order":12},{"id":"fe70155f.d73d98","type":"ui_tab","z":"","name":"Hour resolution","icon":"dashboard","order":13}]