node-red/node-red_main.txt
[
    {
        "id": "8678465b.bb2a18",
        "type": "mqtt in",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "topic": "1_p0",
        "qos": "0",
        "broker": "526f3bc0.73f9d4",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "3ba3cc1a.2d8854",
                "9ebe53eb.e0ed",
                "493989fa.25e328",
                "6e927936.3a4a98",
                "f827d234.a71e"
            ]
        ]
    },
    {
        "id": "213cc14b.e53dbe",
        "type": "mqtt out",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "topic": "1_p0_e",
        "qos": "0",
        "retain": "",
        "broker": "526f3bc0.73f9d4",
        "x": 1105,
        "y": 1110,
        "wires": []
    },
    {
        "id": "3d129fe0.0ec91",
        "type": "mqtt in",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "topic": "1_p1",
        "qos": "0",
        "broker": "526f3bc0.73f9d4",
        "x": 175,
        "y": 710,
        "wires": [
            [
                "ae42b87.3172d48",
                "9ebe53eb.e0ed",
                "7fab1f4c.119f1",
                "ff27a479.42a948"
            ]
        ]
    },
    {
        "id": "9c9b5012.3a4c7",
        "type": "mqtt in",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "topic": "1_p2",
        "qos": "0",
        "broker": "526f3bc0.73f9d4",
        "x": 175,
        "y": 830,
        "wires": [
            [
                "d6f9658b.2ae468",
                "9ebe53eb.e0ed",
                "be2014f9.a36568",
                "af944a5.67312b8"
            ]
        ]
    },
    {
        "id": "22296eb1.0465f2",
        "type": "mqtt out",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "topic": "1_e",
        "qos": "0",
        "retain": "",
        "broker": "526f3bc0.73f9d4",
        "x": 1096.9339036941528,
        "y": 1055.4862728118896,
        "wires": []
    },
    {
        "id": "bb6f3dd.22bedc",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "e0",
        "func": "var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 1520,
        "wires": [
            [
                "558c70d7.0fe74"
            ]
        ]
    },
    {
        "id": "4150da65.3e3854",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "e1",
        "func": "var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 1560,
        "wires": [
            [
                "d52af6b8.36d1c8"
            ]
        ]
    },
    {
        "id": "e1e26a22.b23488",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "e2",
        "func": "var p = parseFloat(msg.payload);\nvar e = (5/3600)*(p/1000);\nmsg.payload = e;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 1600,
        "wires": [
            [
                "8eaf9360.52f0c"
            ]
        ]
    },
    {
        "id": "2ea0ed59.d71582",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "et",
        "func": "var e0 = parseFloat(msg.payload.tp0);\nvar e1 = parseFloat(msg.payload.tp1);\nvar e2 = parseFloat(msg.payload.tp2);\nmsg.payload = e0 + e1 + e2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 922.069146156311,
        "y": 1021.1286725997925,
        "wires": [
            [
                "cdd7644d.0a4528",
                "22296eb1.0465f2",
                "7a6bd5f5.3aab5c",
                "da93974d.1af838"
            ]
        ]
    },
    {
        "id": "1559376b.fc62d9",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "p0",
        "func": "var p = parseFloat(msg.payload.p0);\nmsg.payload = p;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 1520,
        "wires": [
            [
                "bb6f3dd.22bedc"
            ]
        ]
    },
    {
        "id": "4d6aa2a5.cc06cc",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "p1",
        "func": "var p = parseFloat(msg.payload.p1);\nmsg.payload = p;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 1560,
        "wires": [
            [
                "4150da65.3e3854"
            ]
        ]
    },
    {
        "id": "984c35d.d43fbc8",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "p2",
        "func": "var p = parseFloat(msg.payload.p2);\nmsg.payload = p;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 1600,
        "wires": [
            [
                "e1e26a22.b23488"
            ]
        ]
    },
    {
        "id": "8dafb97.d542348",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "tp0",
        "func": "var tmp = parseFloat(msg.payload.p0);\nvar tp = parseFloat(msg.payload.tp0);\nmsg.payload = tp + tmp;\nmsg.topic = \"/1/e0\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 746.0230722427368,
        "y": 1111.6607246398926,
        "wires": [
            [
                "17956fcf.650ac"
            ]
        ]
    },
    {
        "id": "78574934.e8dbd8",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "tp1",
        "func": "var tmp = parseFloat(msg.payload.p1);\nvar tp = parseFloat(msg.payload.tp1);\nmsg.payload = tp + tmp;\nmsg.topic = \"/1/e1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 745.6835985183716,
        "y": 1172.632040977478,
        "wires": [
            [
                "26e95bbc.36a5a4"
            ]
        ]
    },
    {
        "id": "70469202.14792c",
        "type": "mqtt out",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "topic": "1_p1_e",
        "qos": "0",
        "retain": "",
        "broker": "526f3bc0.73f9d4",
        "x": 1108.6835451126099,
        "y": 1174.6320486068726,
        "wires": []
    },
    {
        "id": "4b4653ac.3b978c",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "tp2",
        "func": "var tmp = parseFloat(msg.payload.p2);\nvar tp = parseFloat(msg.payload.tp2);\nmsg.payload = tp + tmp;\nmsg.topic = \"/1/e2\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 747.6835985183716,
        "y": 1226.632040977478,
        "wires": [
            [
                "da4a5398.afa05"
            ]
        ]
    },
    {
        "id": "5917ab0d.9a2ea4",
        "type": "mqtt out",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "topic": "1_p2_e",
        "qos": "0",
        "retain": "",
        "broker": "526f3bc0.73f9d4",
        "x": 1112.6834869384766,
        "y": 1228.6320400238037,
        "wires": []
    },
    {
        "id": "b4d69b0d.c08f98",
        "type": "delay",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 753.5239534378052,
        "y": 1020.8021955490112,
        "wires": [
            [
                "2ea0ed59.d71582"
            ]
        ]
    },
    {
        "id": "62624bc9.be3674",
        "type": "e-mail",
        "z": "4c69e6e8.b973c8",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "name": "kchatpeth@gmail.com",
        "dname": "alm",
        "x": 355,
        "y": 930,
        "wires": []
    },
    {
        "id": "d47cad4d.068b6",
        "type": "mqtt in",
        "z": "4c69e6e8.b973c8",
        "name": "Alarm",
        "topic": "Alarm1",
        "qos": "0",
        "broker": "526f3bc0.73f9d4",
        "x": 175,
        "y": 970,
        "wires": [
            [
                "ff4b813.66f978",
                "62624bc9.be3674"
            ]
        ]
    },
    {
        "id": "9878870c.dfe0b8",
        "type": "mqtt out",
        "z": "4c69e6e8.b973c8",
        "name": "Alarm",
        "topic": "Alarm1",
        "qos": "0",
        "retain": "",
        "broker": "526f3bc0.73f9d4",
        "x": 335,
        "y": 1050,
        "wires": []
    },
    {
        "id": "8cde9965.144ad8",
        "type": "inject",
        "z": "4c69e6e8.b973c8",
        "name": "test alarm",
        "topic": "Alarm",
        "payload": "Alarm from node 1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 185,
        "y": 1050,
        "wires": [
            [
                "9878870c.dfe0b8"
            ]
        ]
    },
    {
        "id": "643c92e1.183c1c",
        "type": "inject",
        "z": "4c69e6e8.b973c8",
        "name": "tsmp",
        "topic": "tsmp",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 170,
        "y": 1180,
        "wires": [
            [
                "53461e39.cc1fa",
                "5c135dd1.85d4a4",
                "f827d234.a71e"
            ]
        ]
    },
    {
        "id": "f827d234.a71e",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "checkerr",
        "func": "var count = context.get('count') || 0;\nif(msg.topic == \"tsmp\")\n{\n    count = count + 1;\n}\nelse\n{\n    count = 0;\n}\ncontext.set('count',count);\nmsg.payload = count;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 1260,
        "wires": [
            [
                "96c93fe.ace8bc"
            ]
        ]
    },
    {
        "id": "fe3fc75b.769248",
        "type": "debug",
        "z": "4c69e6e8.b973c8",
        "name": "restart",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 695,
        "y": 1330,
        "wires": []
    },
    {
        "id": "96c93fe.ace8bc",
        "type": "switch",
        "z": "4c69e6e8.b973c8",
        "name": "err_no",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "60",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 515,
        "y": 1290,
        "wires": [
            [
                "d2ed9931.dfb998",
                "fe3fc75b.769248"
            ]
        ]
    },
    {
        "id": "55a6018c.4ca19",
        "type": "mqtt out",
        "z": "4c69e6e8.b973c8",
        "name": "restart",
        "topic": "sw1",
        "qos": "0",
        "retain": "",
        "broker": "526f3bc0.73f9d4",
        "x": 907,
        "y": 1287,
        "wires": []
    },
    {
        "id": "d2ed9931.dfb998",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "ESP.restart()",
        "func": "msg.payload = \"0\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 687,
        "y": 1287,
        "wires": [
            [
                "55a6018c.4ca19",
                "cfabbfc4.6f93",
                "90969dbc.1d81",
                "4a77f125.6a5d4"
            ]
        ]
    },
    {
        "id": "da93974d.1af838",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "toString",
        "func": "msg.payload= String(parseFloat(msg.payload).toFixed(2));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1095,
        "y": 904,
        "wires": [
            [
                "6a78a69f.82ddb8",
                "e6e27a23.8d79d8"
            ]
        ]
    },
    {
        "id": "3ba3cc1a.2d8854",
        "type": "firebase modify",
        "z": "4c69e6e8.b973c8",
        "name": "1_p0",
        "firebaseconfig": "",
        "childpath": "/1/power/p0",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 330,
        "y": 480,
        "wires": [
            [
                "57579ee9.99c6a"
            ]
        ]
    },
    {
        "id": "ae42b87.3172d48",
        "type": "firebase modify",
        "z": "4c69e6e8.b973c8",
        "name": "1_p1",
        "firebaseconfig": "",
        "childpath": "/1/power/p1",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 350,
        "y": 720,
        "wires": [
            [
                "a9cdeca3.08dc7"
            ]
        ]
    },
    {
        "id": "d6f9658b.2ae468",
        "type": "firebase modify",
        "z": "4c69e6e8.b973c8",
        "name": "1_p2",
        "firebaseconfig": "",
        "childpath": "/1/power/p2",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 350,
        "y": 860,
        "wires": [
            [
                "4bee31ef.5ee28"
            ]
        ]
    },
    {
        "id": "558c70d7.0fe74",
        "type": "firebase modify",
        "z": "4c69e6e8.b973c8",
        "name": "eng0",
        "firebaseconfig": "",
        "childpath": "/1/energy/p0",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1090,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "d52af6b8.36d1c8",
        "type": "firebase modify",
        "z": "4c69e6e8.b973c8",
        "name": "eng1",
        "firebaseconfig": "",
        "childpath": "/1/energy/p1",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1090,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "8eaf9360.52f0c",
        "type": "firebase modify",
        "z": "4c69e6e8.b973c8",
        "name": "eng2",
        "firebaseconfig": "",
        "childpath": "/1/energy/p2",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1090,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "cdd7644d.0a4528",
        "type": "firebase modify",
        "z": "4c69e6e8.b973c8",
        "name": "1_eng",
        "firebaseconfig": "",
        "childpath": "/1/energy/total",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1096.0761156082153,
        "y": 995.6216421127319,
        "wires": [
            [
                "682bbd56.100024"
            ]
        ]
    },
    {
        "id": "17956fcf.650ac",
        "type": "firebase modify",
        "z": "4c69e6e8.b973c8",
        "name": "1_tp0",
        "firebaseconfig": "",
        "childpath": "/1/energy/tp0",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 927.0169801712036,
        "y": 1111.632077217102,
        "wires": [
            [
                "213cc14b.e53dbe",
                "ca45e95.74f9f18"
            ]
        ]
    },
    {
        "id": "26e95bbc.36a5a4",
        "type": "firebase modify",
        "z": "4c69e6e8.b973c8",
        "name": "1_tp1",
        "firebaseconfig": "",
        "childpath": "/1/energy/tp1",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 929.6836185455322,
        "y": 1173.6320447921753,
        "wires": [
            [
                "70469202.14792c",
                "392b6906.d468d6"
            ]
        ]
    },
    {
        "id": "da4a5398.afa05",
        "type": "firebase modify",
        "z": "4c69e6e8.b973c8",
        "name": "1_tp2",
        "firebaseconfig": "",
        "childpath": "/1/energy/tp2",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 928.6836595535278,
        "y": 1227.6320390701294,
        "wires": [
            [
                "5917ab0d.9a2ea4",
                "95cd7f1d.d19ae"
            ]
        ]
    },
    {
        "id": "53461e39.cc1fa",
        "type": "firebase.once",
        "z": "4c69e6e8.b973c8",
        "name": "engt",
        "firebaseconfig": "",
        "childpath": "/1/energy",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 550,
        "y": 1020,
        "wires": [
            [
                "8dafb97.d542348",
                "78574934.e8dbd8",
                "4b4653ac.3b978c",
                "b4d69b0d.c08f98"
            ]
        ]
    },
    {
        "id": "5c135dd1.85d4a4",
        "type": "firebase.once",
        "z": "4c69e6e8.b973c8",
        "name": "powt",
        "firebaseconfig": "",
        "childpath": "/1/power",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 673.0173015594482,
        "y": 1557.3334822654724,
        "wires": [
            [
                "1559376b.fc62d9",
                "4d6aa2a5.cc06cc",
                "984c35d.d43fbc8"
            ]
        ]
    },
    {
        "id": "57579ee9.99c6a",
        "type": "ui_gauge",
        "z": "4c69e6e8.b973c8",
        "name": "P0_gag",
        "group": "2e9468e.0de1e98",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "PA",
        "label": "Watt",
        "format": "{{value}}",
        "min": 0,
        "max": "100000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 480,
        "y": 480,
        "wires": []
    },
    {
        "id": "a9cdeca3.08dc7",
        "type": "ui_gauge",
        "z": "4c69e6e8.b973c8",
        "name": "P1_gag",
        "group": "2e9468e.0de1e98",
        "order": 2,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "PB",
        "label": "Watt",
        "format": "{{value}}",
        "min": 0,
        "max": "100000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 500,
        "y": 720,
        "wires": []
    },
    {
        "id": "4bee31ef.5ee28",
        "type": "ui_gauge",
        "z": "4c69e6e8.b973c8",
        "name": "P2_gag",
        "group": "2e9468e.0de1e98",
        "order": 3,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "PC",
        "label": "Watt",
        "format": "{{value}}",
        "min": 0,
        "max": "100000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 500,
        "y": 860,
        "wires": []
    },
    {
        "id": "4bc7eb56.887ff4",
        "type": "ui_gauge",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "group": "baa99e4a.ae24b",
        "order": 0,
        "width": "8",
        "height": "4",
        "gtype": "gage",
        "title": "Energy (kWh)",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1438.9993896484375,
        "y": 980.62158203125,
        "wires": []
    },
    {
        "id": "cc7e6998.b5bde8",
        "type": "ui_chart",
        "z": "4c69e6e8.b973c8",
        "name": "3PGraph",
        "group": "2e9468e.0de1e98",
        "order": 9,
        "width": "19",
        "height": "8",
        "label": "3 Phase graph",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100000",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 560,
        "y": 260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7a6bd5f5.3aab5c",
        "type": "ui_chart",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "group": "baa99e4a.ae24b",
        "order": 0,
        "width": "10",
        "height": "4",
        "label": "Energy Histrory",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1262.9993982315063,
        "y": 1022.6216068267822,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ff4b813.66f978",
        "type": "ui_toast",
        "z": "4c69e6e8.b973c8",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Alarm",
        "name": "Show alarm",
        "x": 388.0000228881836,
        "y": 985.0000009536743,
        "wires": []
    },
    {
        "id": "6a78a69f.82ddb8",
        "type": "rest publish",
        "z": "4c69e6e8.b973c8",
        "name": "energy3Phase",
        "appid": "wpm2018",
        "auth": "yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd",
        "topic": "/1/3e",
        "topicType": "str",
        "payload": "payload",
        "payloadType": "msg",
        "x": 1276,
        "y": 904,
        "wires": []
    },
    {
        "id": "dec53306.0a275",
        "type": "inject",
        "z": "4c69e6e8.b973c8",
        "name": "!!! reset all data off meter !!!",
        "topic": "reset meter",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 507,
        "y": 1147,
        "wires": [
            [
                "17956fcf.650ac",
                "26e95bbc.36a5a4",
                "da4a5398.afa05",
                "cdd7644d.0a4528"
            ]
        ]
    },
    {
        "id": "cfabbfc4.6f93",
        "type": "mqtt out",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "topic": "1_p0",
        "qos": "0",
        "retain": "",
        "broker": "526f3bc0.73f9d4",
        "x": 927,
        "y": 1347,
        "wires": []
    },
    {
        "id": "90969dbc.1d81",
        "type": "mqtt out",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "topic": "1_p1",
        "qos": "0",
        "retain": "",
        "broker": "526f3bc0.73f9d4",
        "x": 947,
        "y": 1407,
        "wires": []
    },
    {
        "id": "4a77f125.6a5d4",
        "type": "mqtt out",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "topic": "1_p2",
        "qos": "0",
        "retain": "",
        "broker": "526f3bc0.73f9d4",
        "x": 947,
        "y": 1467,
        "wires": []
    },
    {
        "id": "4b227b1a.cf4b04",
        "type": "inject",
        "z": "4c69e6e8.b973c8",
        "name": "test value",
        "topic": "test",
        "payload": "10000",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 523,
        "y": 1412,
        "wires": [
            [
                "39162116.ec1fae",
                "91d106c5.3cfb58",
                "4da8098f.2bba98"
            ]
        ]
    },
    {
        "id": "40cb6e59.44386",
        "type": "inject",
        "z": "4c69e6e8.b973c8",
        "name": "force_restart",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 500,
        "y": 1335,
        "wires": [
            [
                "d2ed9931.dfb998",
                "fe3fc75b.769248"
            ]
        ]
    },
    {
        "id": "e6e27a23.8d79d8",
        "type": "ui_gauge",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "group": "c80f31aa.2d0a7",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Energy (Node1)",
        "label": "kWh",
        "format": "{{value}}",
        "min": 0,
        "max": "100000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1267,
        "y": 945,
        "wires": []
    },
    {
        "id": "9ebe53eb.e0ed",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "toString",
        "func": "msg.payload= String(parseFloat(msg.payload).toFixed(2));\nmsg.topic = \"/\" +msg.topic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 560,
        "wires": [
            [
                "db2f37bd.e14648"
            ]
        ]
    },
    {
        "id": "db2f37bd.e14648",
        "type": "rest publish",
        "z": "4c69e6e8.b973c8",
        "name": "power",
        "appid": "wpm2018",
        "auth": "yiI3Sx2dB3PnZDg:BLd2YPO5eryrKlRDnxoCEKndd",
        "topic": "topic",
        "topicType": "msg",
        "payload": "payload",
        "payloadType": "msg",
        "x": 530,
        "y": 560,
        "wires": []
    },
    {
        "id": "234bd621.4ebfba",
        "type": "ui_button",
        "z": "4c69e6e8.b973c8",
        "name": "min resolution",
        "group": "2e9468e.0de1e98",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "minute",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Minute resolution",
        "payloadType": "str",
        "topic": "minute_res",
        "x": 860,
        "y": 340,
        "wires": [
            [
                "2249f7f1.8eb9a8"
            ]
        ]
    },
    {
        "id": "2249f7f1.8eb9a8",
        "type": "ui_ui_control",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "x": 1060,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e835c4ad.da8aa8",
        "type": "ui_chart",
        "z": "4c69e6e8.b973c8",
        "name": "min",
        "group": "bf6a3ea.194e5c",
        "order": 2,
        "width": "19",
        "height": "6",
        "label": "Power (W)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 550,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "39162116.ec1fae",
        "type": "random",
        "z": "4c69e6e8.b973c8",
        "name": "rand",
        "low": "1000",
        "high": "100000",
        "inte": "true",
        "property": "payload",
        "x": 684,
        "y": 1367,
        "wires": [
            [
                "cfabbfc4.6f93"
            ]
        ]
    },
    {
        "id": "572aee10.85c36",
        "type": "ui_button",
        "z": "4c69e6e8.b973c8",
        "name": "hour resolution",
        "group": "2e9468e.0de1e98",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "hour",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Hour resolution",
        "payloadType": "str",
        "topic": "hour resolution",
        "x": 860,
        "y": 300,
        "wires": [
            [
                "2249f7f1.8eb9a8"
            ]
        ]
    },
    {
        "id": "e6846096.1884e",
        "type": "ui_text",
        "z": "4c69e6e8.b973c8",
        "group": "baa99e4a.ae24b",
        "order": 0,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "EA",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1415,
        "y": 1133,
        "wires": []
    },
    {
        "id": "e5057cf0.c38dc",
        "type": "ui_text",
        "z": "4c69e6e8.b973c8",
        "group": "baa99e4a.ae24b",
        "order": 0,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "EB",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1412,
        "y": 1197,
        "wires": []
    },
    {
        "id": "16a21d70.fa7773",
        "type": "ui_text",
        "z": "4c69e6e8.b973c8",
        "group": "baa99e4a.ae24b",
        "order": 0,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "EC",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1414,
        "y": 1259,
        "wires": []
    },
    {
        "id": "91d106c5.3cfb58",
        "type": "random",
        "z": "4c69e6e8.b973c8",
        "name": "rand",
        "low": "1000",
        "high": "100000",
        "inte": "true",
        "property": "payload",
        "x": 686,
        "y": 1411,
        "wires": [
            [
                "90969dbc.1d81"
            ]
        ]
    },
    {
        "id": "4da8098f.2bba98",
        "type": "random",
        "z": "4c69e6e8.b973c8",
        "name": "rand",
        "low": "1000",
        "high": "100000",
        "inte": "true",
        "property": "payload",
        "x": 686,
        "y": 1459,
        "wires": [
            [
                "4a77f125.6a5d4"
            ]
        ]
    },
    {
        "id": "ca45e95.74f9f18",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "Decimal_len",
        "func": "msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1246,
        "y": 1133,
        "wires": [
            [
                "e6846096.1884e"
            ]
        ]
    },
    {
        "id": "392b6906.d468d6",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "Decimal_len",
        "func": "msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1244,
        "y": 1198,
        "wires": [
            [
                "e5057cf0.c38dc"
            ]
        ]
    },
    {
        "id": "95cd7f1d.d19ae",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "Decimal_len",
        "func": "msg.payload = parseFloat(msg.payload).toFixed(4);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1242,
        "y": 1260,
        "wires": [
            [
                "16a21d70.fa7773"
            ]
        ]
    },
    {
        "id": "682bbd56.100024",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "Decimal_len",
        "func": "msg.payload = parseFloat(msg.payload).toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1257,
        "y": 982,
        "wires": [
            [
                "4bc7eb56.887ff4"
            ]
        ]
    },
    {
        "id": "5663bb3c.862bf4",
        "type": "firebase modify",
        "z": "4c69e6e8.b973c8",
        "name": "peak0",
        "firebaseconfig": "",
        "childpath": "/Peak/1_PA",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 630,
        "y": 420,
        "wires": [
            [
                "7ce945cf.34b8fc"
            ]
        ]
    },
    {
        "id": "4518891c.484f08",
        "type": "firebase modify",
        "z": "4c69e6e8.b973c8",
        "name": "peak1",
        "firebaseconfig": "",
        "childpath": "/Peak/1_PB",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 610,
        "y": 640,
        "wires": [
            [
                "c863b3d2.4adcb"
            ]
        ]
    },
    {
        "id": "db0d114a.c009f",
        "type": "firebase modify",
        "z": "4c69e6e8.b973c8",
        "name": "peak2",
        "firebaseconfig": "",
        "childpath": "/Peak/1_PC",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 610,
        "y": 780,
        "wires": [
            [
                "e96fc0ef.e0596"
            ]
        ]
    },
    {
        "id": "7ce945cf.34b8fc",
        "type": "ui_text",
        "z": "4c69e6e8.b973c8",
        "group": "2e9468e.0de1e98",
        "order": 11,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "PeakA",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 770,
        "y": 420,
        "wires": []
    },
    {
        "id": "c863b3d2.4adcb",
        "type": "ui_text",
        "z": "4c69e6e8.b973c8",
        "group": "2e9468e.0de1e98",
        "order": 12,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "PeakB",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 730,
        "y": 640,
        "wires": []
    },
    {
        "id": "e96fc0ef.e0596",
        "type": "ui_text",
        "z": "4c69e6e8.b973c8",
        "group": "2e9468e.0de1e98",
        "order": 13,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "PeakC",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 730,
        "y": 780,
        "wires": []
    },
    {
        "id": "acd40b15.72d598",
        "type": "inject",
        "z": "4c69e6e8.b973c8",
        "name": "write_to_db",
        "topic": "write_to_db",
        "payload": "",
        "payloadType": "date",
        "repeat": "900",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "85243098.cc46a"
            ]
        ]
    },
    {
        "id": "83498087.45d48",
        "type": "firebase.once",
        "z": "4c69e6e8.b973c8",
        "name": "peak",
        "firebaseconfig": "",
        "childpath": "/Peak",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 390,
        "y": 100,
        "wires": [
            [
                "f62d51c2.d432e",
                "2226a2ea.c05ede"
            ]
        ]
    },
    {
        "id": "4628652b.bd163c",
        "type": "writefeed",
        "z": "4c69e6e8.b973c8",
        "name": "peak",
        "feedid": "wpm2018Database",
        "apikey": "FtzABVCEyUPppAZKAmGsle2RYQBfiA6u",
        "data": "payload",
        "dataType": "msg",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "1a70d117.775a3f",
        "type": "mqtt out",
        "z": "4c69e6e8.b973c8",
        "name": "m1",
        "topic": "m1",
        "qos": "0",
        "retain": "false",
        "broker": "526f3bc0.73f9d4",
        "x": 750,
        "y": 2560,
        "wires": []
    },
    {
        "id": "8c08e02a.01b44",
        "type": "mqtt out",
        "z": "4c69e6e8.b973c8",
        "name": "C1",
        "topic": "C1",
        "qos": "0",
        "retain": "false",
        "broker": "526f3bc0.73f9d4",
        "x": 749.0000152587891,
        "y": 2622.9998626708984,
        "wires": []
    },
    {
        "id": "620e84e1.00667c",
        "type": "mqtt in",
        "z": "4c69e6e8.b973c8",
        "name": "NID",
        "topic": "1",
        "qos": "0",
        "broker": "526f3bc0.73f9d4",
        "x": 377.00000381469727,
        "y": 2446.7786769866943,
        "wires": [
            [
                "3d71ab34.4cd3a4",
                "a6f0115f.ffc5f",
                "2856658d.ee291a",
                "83b4a602.a6c3e8",
                "121bea21.2c5bd6"
            ]
        ]
    },
    {
        "id": "3d71ab34.4cd3a4",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "m",
        "func": "msg.payload = \"60\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 549.0000152587891,
        "y": 2561.9234771728516,
        "wires": [
            [
                "1a70d117.775a3f"
            ]
        ]
    },
    {
        "id": "a6f0115f.ffc5f",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "C",
        "func": "msg.payload = \"-2\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 549.0000152587891,
        "y": 2622.9998626708984,
        "wires": [
            [
                "8c08e02a.01b44"
            ]
        ]
    },
    {
        "id": "54a6474c.e58bf8",
        "type": "ui_button",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "group": "15677098.ea690f",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "min resolution",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Minute resolution",
        "payloadType": "str",
        "topic": "minute_res",
        "x": 860,
        "y": 220,
        "wires": [
            [
                "2249f7f1.8eb9a8"
            ]
        ]
    },
    {
        "id": "a811f7f5.80b058",
        "type": "ui_button",
        "z": "4c69e6e8.b973c8",
        "name": "hour resolution",
        "group": "bf6a3ea.194e5c",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "hour resolution",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Hour resolution",
        "payloadType": "str",
        "topic": "hour resolution",
        "x": 860,
        "y": 260,
        "wires": [
            [
                "2249f7f1.8eb9a8"
            ]
        ]
    },
    {
        "id": "493989fa.25e328",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "PA",
        "func": "msg.topic = \"PA\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 347,
        "y": 247,
        "wires": [
            [
                "e835c4ad.da8aa8",
                "cc7e6998.b5bde8"
            ]
        ]
    },
    {
        "id": "7fab1f4c.119f1",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "PB",
        "func": "msg.topic = \"PB\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 347,
        "y": 287,
        "wires": [
            [
                "e835c4ad.da8aa8",
                "cc7e6998.b5bde8"
            ]
        ]
    },
    {
        "id": "be2014f9.a36568",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "PC",
        "func": "msg.topic = \"PC\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 347,
        "y": 327,
        "wires": [
            [
                "e835c4ad.da8aa8",
                "cc7e6998.b5bde8"
            ]
        ]
    },
    {
        "id": "b4762118.25aff",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "P_avg",
        "func": "var pavg = msg.payload/3;\nmsg.payload =pavg.toFixed(2)\nmsg.topic = \"Pavg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 692.0000305175781,
        "y": 1931.0002698898315,
        "wires": [
            [
                "aa7cc0b8.e6a04",
                "c2e072d0.a7b5c",
                "c00ef5b.a1f9708"
            ]
        ]
    },
    {
        "id": "3876e09a.ee8ba",
        "type": "ui_gauge",
        "z": "4c69e6e8.b973c8",
        "name": "Ptotal",
        "group": "2e9468e.0de1e98",
        "order": 7,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Ptotal",
        "label": "W",
        "format": "{{value}}",
        "min": 0,
        "max": "300000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 710,
        "y": 1860,
        "wires": []
    },
    {
        "id": "aa7cc0b8.e6a04",
        "type": "ui_gauge",
        "z": "4c69e6e8.b973c8",
        "name": "Pavg",
        "group": "2e9468e.0de1e98",
        "order": 8,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Pavg",
        "label": "W",
        "format": "{{value}}",
        "min": 0,
        "max": "100000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 876.0000419616699,
        "y": 1934.0002698898315,
        "wires": []
    },
    {
        "id": "c2e072d0.a7b5c",
        "type": "ui_chart",
        "z": "4c69e6e8.b973c8",
        "name": "P_grp",
        "group": "2e9468e.0de1e98",
        "order": 10,
        "width": "19",
        "height": "8",
        "label": "Power (W)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "300000",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 876.0000019073486,
        "y": 1889.0001538991928,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4e769ef7.c28b9",
        "type": "mqtt in",
        "z": "4c69e6e8.b973c8",
        "name": "restart_from_hmi",
        "topic": "1_RTS",
        "qos": "0",
        "broker": "526f3bc0.73f9d4",
        "x": 557,
        "y": 1247,
        "wires": [
            [
                "55a6018c.4ca19"
            ]
        ]
    },
    {
        "id": "cee90ab8.c4c3b8",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "P_total",
        "func": "var p_total = msg.payload[\"p0\"] + msg.payload[\"p1\"] + msg.payload[\"p2\"];\nmsg.topic = \"Ptotal\";\nmsg.payload = p_total.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 476.00000190734863,
        "y": 1889.0001538991928,
        "wires": [
            [
                "b4762118.25aff",
                "3876e09a.ee8ba",
                "c2e072d0.a7b5c",
                "99aae89b.782fb8",
                "9deb0a44.7adb78"
            ]
        ]
    },
    {
        "id": "5e34c943.9c3ba8",
        "type": "firebase.once",
        "z": "4c69e6e8.b973c8",
        "name": "power",
        "firebaseconfig": "",
        "childpath": "1/power",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 312.00000190734863,
        "y": 1890.0001538991928,
        "wires": [
            [
                "cee90ab8.c4c3b8",
                "69ff6399.79342c",
                "6e38c0e2.8ee87",
                "de5941d6.34335"
            ]
        ]
    },
    {
        "id": "3f12411b.69aace",
        "type": "inject",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 150.00000190734863,
        "y": 1890.0001538991928,
        "wires": [
            [
                "5e34c943.9c3ba8"
            ]
        ]
    },
    {
        "id": "f62d51c2.d432e",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "feed_obj",
        "func": "var my_obj = \"1_PA: \" + msg.payload[\"1_PA\"] + \", 1_PB: \" + msg.payload[\"1_PB\"] + \", 1_PC: \" + msg.payload[\"1_PC\"];\nfor(i = 2; i < 6; i++)\n{\n\tmy_obj = my_obj + \", \" + String(i) + \"_PA: \" + msg.payload[String(i) + \"_PA\"] + \", \" + String(i) + \"_PB: \" + msg.payload[String(i) + \"_PB\"] + \", \" + String(i) + \"_PC: \" + msg.payload[String(i) + \"_PC\"];\t\n}\nmsg.payload = my_obj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 120,
        "wires": [
            [
                "4628652b.bd163c"
            ]
        ]
    },
    {
        "id": "c00ef5b.a1f9708",
        "type": "firebase modify",
        "z": "4c69e6e8.b973c8",
        "name": "Pavg",
        "firebaseconfig": "",
        "childpath": "Peak/1_Pavg",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 876.0833206176758,
        "y": 1977.9724140167236,
        "wires": [
            []
        ]
    },
    {
        "id": "3ac9abf9.2ac084",
        "type": "mqtt out",
        "z": "4c69e6e8.b973c8",
        "name": "log_setting",
        "topic": "log_enable1",
        "qos": "0",
        "retain": "false",
        "broker": "526f3bc0.73f9d4",
        "x": 765.1562614440918,
        "y": 2311.399872779846,
        "wires": []
    },
    {
        "id": "1fc8fb5d.26dac5",
        "type": "ui_switch",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "label": "Log",
        "group": "8c4462fe.6eb75",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 391.1598205566406,
        "y": 2263.7578926086426,
        "wires": [
            [
                "b28f26d5.60de08"
            ]
        ]
    },
    {
        "id": "2856658d.ee291a",
        "type": "firebase.once",
        "z": "4c69e6e8.b973c8",
        "name": "log",
        "firebaseconfig": "",
        "childpath": "1/setting/log",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 554.1006965637207,
        "y": 2368.205732345581,
        "wires": [
            [
                "3ac9abf9.2ac084"
            ]
        ]
    },
    {
        "id": "b28f26d5.60de08",
        "type": "firebase modify",
        "z": "4c69e6e8.b973c8",
        "name": "log",
        "firebaseconfig": "",
        "childpath": "1/setting/log",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 557.1007614135742,
        "y": 2264.0946130752563,
        "wires": [
            [
                "3ac9abf9.2ac084"
            ]
        ]
    },
    {
        "id": "3812b2e1.886efe",
        "type": "ui_template",
        "z": "4c69e6e8.b973c8",
        "group": "8c4462fe.6eb75",
        "name": "custom_template",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<a href=\"https://docs.google.com/spreadsheets/d/1JqK40cr_OtfFO47lMPsPyWso27Uhw4YqoQelxhsVGb4/edit#gid=1742858177\">Go to Log</a>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 163.15969848632812,
        "y": 2205.080008506775,
        "wires": [
            []
        ]
    },
    {
        "id": "a579f747.805248",
        "type": "ui_text_input",
        "z": "4c69e6e8.b973c8",
        "name": "log_interval_setting",
        "label": "Log interval (in ms: between 5000, 300000)",
        "group": "8c4462fe.6eb75",
        "order": 2,
        "width": "7",
        "height": "2",
        "passthru": true,
        "mode": "text",
        "delay": "2000",
        "topic": "",
        "x": 164.15968704223633,
        "y": 2052.420126914978,
        "wires": [
            [
                "88ea4671.7397c8"
            ]
        ]
    },
    {
        "id": "faf38b0f.2187c8",
        "type": "firebase modify",
        "z": "4c69e6e8.b973c8",
        "name": "log_interval",
        "firebaseconfig": "",
        "childpath": "1/setting/log_interval",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 495.1006660461426,
        "y": 2051.3163595199585,
        "wires": [
            [
                "3fc1ef38.8386f",
                "980d331.0696fd"
            ]
        ]
    },
    {
        "id": "88ea4671.7397c8",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "isDigit",
        "func": "var input = parseInt(msg.payload);\nif (Number.isInteger(input)) \n{\n    if(input < 5000)\n    {\n        msg.payload = 5000;\n    }\n    else if(msg.payload < 900000)\n    {\n        msg.payload = input;\n    }\n    else\n    {\n        msg.payload = 900000;\n    }\n}\nelse\n{\n    msg.payload = 5000;\n}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 337.1631851196289,
        "y": 2049.500178337097,
        "wires": [
            [
                "faf38b0f.2187c8"
            ]
        ]
    },
    {
        "id": "980d331.0696fd",
        "type": "mqtt out",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "topic": "log_interval1",
        "qos": "0",
        "retain": "false",
        "broker": "526f3bc0.73f9d4",
        "x": 699.1631851196289,
        "y": 2000.9514083862305,
        "wires": []
    },
    {
        "id": "83b4a602.a6c3e8",
        "type": "firebase.once",
        "z": "4c69e6e8.b973c8",
        "name": "log_interval",
        "firebaseconfig": "",
        "childpath": "1/setting/log_interval",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 570.1006965637207,
        "y": 2425.316816329956,
        "wires": [
            [
                "1d753ab7.e4c255"
            ]
        ]
    },
    {
        "id": "1d753ab7.e4c255",
        "type": "mqtt out",
        "z": "4c69e6e8.b973c8",
        "name": "log_interval",
        "topic": "log_interval1",
        "qos": "0",
        "retain": "false",
        "broker": "526f3bc0.73f9d4",
        "x": 759.1006469726562,
        "y": 2425.3170108795166,
        "wires": []
    },
    {
        "id": "3fc1ef38.8386f",
        "type": "ui_text",
        "z": "4c69e6e8.b973c8",
        "group": "8c4462fe.6eb75",
        "order": 4,
        "width": "5",
        "height": "2",
        "name": "",
        "label": "Current log interval (ms):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 731.1632385253906,
        "y": 2051.0697135925293,
        "wires": []
    },
    {
        "id": "121bea21.2c5bd6",
        "type": "firebase.once",
        "z": "4c69e6e8.b973c8",
        "name": "polling_interval",
        "firebaseconfig": "",
        "childpath": "1/setting/polling_interval",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 586.1006622314453,
        "y": 2493.0939207077026,
        "wires": [
            [
                "969ab62.f12e848"
            ]
        ]
    },
    {
        "id": "969ab62.f12e848",
        "type": "mqtt out",
        "z": "4c69e6e8.b973c8",
        "name": "polling_interval",
        "topic": "polling_interval1",
        "qos": "0",
        "retain": "false",
        "broker": "526f3bc0.73f9d4",
        "x": 805.1527976989746,
        "y": 2492.71905708313,
        "wires": []
    },
    {
        "id": "5865b944.54fc98",
        "type": "ui_text_input",
        "z": "4c69e6e8.b973c8",
        "name": "polling_interval_setting",
        "label": "Polling interval (in ms: between 5000, 300000)",
        "group": "8c4462fe.6eb75",
        "order": 3,
        "width": "7",
        "height": "2",
        "passthru": true,
        "mode": "text",
        "delay": "2000",
        "topic": "",
        "x": 164.10067749023438,
        "y": 2123.8717584609985,
        "wires": [
            [
                "6486f1b3.ef61b"
            ]
        ]
    },
    {
        "id": "6486f1b3.ef61b",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "isDigit",
        "func": "var input = parseInt(msg.payload);\nif (Number.isInteger(input)) \n{\n    if(input < 1000)\n    {\n        msg.payload = 1000;\n    }\n    else if(msg.payload < 900000)\n    {\n        msg.payload = input;\n        \n    }\n    else\n    {\n        msg.payload = 900000;\n    }\n    \n}\nelse\n{\n    msg.payload = 5000;\n}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 343.1007070541382,
        "y": 2124.8717851638794,
        "wires": [
            [
                "43fac87d.513438"
            ]
        ]
    },
    {
        "id": "a6e788f1.7cb768",
        "type": "mqtt out",
        "z": "4c69e6e8.b973c8",
        "name": "polling_interval",
        "topic": "polling_interval1",
        "qos": "0",
        "retain": "false",
        "broker": "526f3bc0.73f9d4",
        "x": 734.1006698608398,
        "y": 2169.983416557312,
        "wires": []
    },
    {
        "id": "1d27a6ba.4e1cf9",
        "type": "ui_text",
        "z": "4c69e6e8.b973c8",
        "group": "8c4462fe.6eb75",
        "order": 5,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Current polling interval (ms):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 800,
        "y": 2120,
        "wires": []
    },
    {
        "id": "43fac87d.513438",
        "type": "firebase modify",
        "z": "4c69e6e8.b973c8",
        "name": "polling_interval",
        "firebaseconfig": "",
        "childpath": "1/setting/polling_interval",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 543.1006622314453,
        "y": 2125.8716354370117,
        "wires": [
            [
                "1d27a6ba.4e1cf9",
                "a6e788f1.7cb768"
            ]
        ]
    },
    {
        "id": "a62bd508.3124c8",
        "type": "ui_chart",
        "z": "4c69e6e8.b973c8",
        "name": "hour",
        "group": "15677098.ea690f",
        "order": 2,
        "width": "19",
        "height": "6",
        "label": "Average power per min. (W)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100000",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 690,
        "y": 1740,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2226a2ea.c05ede",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "feed_obj2",
        "func": "var my_obj = \"6_PA: \" + msg.payload[\"6_PA\"] + \", 6_PB: \" + msg.payload[\"6_PB\"] + \", 6_PC: \" + msg.payload[\"6_PC\"];\nfor(i = 7; i < 11; i++)\n{\n\tmy_obj = my_obj + \", \" + String(i) + \"_PA: \" + msg.payload[String(i) + \"_PA\"] + \", \" + String(i) + \"_PB: \" + msg.payload[String(i) + \"_PB\"] + \", \" + String(i) + \"_PC: \" + msg.payload[String(i) + \"_PC\"];\t\n}\nmsg.payload = my_obj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 80,
        "wires": [
            [
                "27db72cc.2e622e"
            ]
        ]
    },
    {
        "id": "27db72cc.2e622e",
        "type": "writefeed",
        "z": "4c69e6e8.b973c8",
        "name": "peak",
        "feedid": "wpm2018Database2",
        "apikey": "CTxOBi8JKSi3GxTdDp137BJJn6IpIheA",
        "data": "payload",
        "dataType": "msg",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "de5941d6.34335",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "avg_PA",
        "func": "var power = parseFloat(msg.payload[\"p0\"]);\nmsg.payload = power;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 1700,
        "wires": [
            [
                "3e12ae44.c92b62",
                "b5ee318f.ae509"
            ]
        ]
    },
    {
        "id": "6e38c0e2.8ee87",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "avg_PB",
        "func": "var power = parseFloat(msg.payload[\"p1\"]);\nmsg.payload = power;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 1740,
        "wires": [
            [
                "60a9c68e.8ea3b8",
                "927008c0.b1f328"
            ]
        ]
    },
    {
        "id": "69ff6399.79342c",
        "type": "function",
        "z": "4c69e6e8.b973c8",
        "name": "avg_PC",
        "func": "var power = parseFloat(msg.payload[\"p2\"]);\nmsg.payload = power;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 1780,
        "wires": [
            [
                "3efcec70.70b9a4",
                "d01f199d.989838"
            ]
        ]
    },
    {
        "id": "60a9c68e.8ea3b8",
        "type": "aggregator",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "topic": "PB/min",
        "intervalCount": 1,
        "intervalUnits": "m",
        "submitIncompleteInterval": true,
        "aggregationType": "mean",
        "x": 490,
        "y": 1740,
        "wires": [
            [
                "a62bd508.3124c8"
            ]
        ]
    },
    {
        "id": "3efcec70.70b9a4",
        "type": "aggregator",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "topic": "PC/min",
        "intervalCount": 1,
        "intervalUnits": "m",
        "submitIncompleteInterval": true,
        "aggregationType": "mean",
        "x": 490,
        "y": 1780,
        "wires": [
            [
                "a62bd508.3124c8"
            ]
        ]
    },
    {
        "id": "3e12ae44.c92b62",
        "type": "aggregator",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "topic": "PA/min",
        "intervalCount": 1,
        "intervalUnits": "m",
        "submitIncompleteInterval": true,
        "aggregationType": "mean",
        "x": 490,
        "y": 1700,
        "wires": [
            [
                "a62bd508.3124c8"
            ]
        ]
    },
    {
        "id": "b5ee318f.ae509",
        "type": "aggregator",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "topic": "PA/day",
        "intervalCount": 1,
        "intervalUnits": "h",
        "submitIncompleteInterval": true,
        "aggregationType": "mean",
        "x": 490,
        "y": 1580,
        "wires": [
            [
                "48d272f.522448c"
            ]
        ]
    },
    {
        "id": "927008c0.b1f328",
        "type": "aggregator",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "topic": "PB/day",
        "intervalCount": 1,
        "intervalUnits": "h",
        "submitIncompleteInterval": true,
        "aggregationType": "mean",
        "x": 490,
        "y": 1620,
        "wires": [
            [
                "48d272f.522448c"
            ]
        ]
    },
    {
        "id": "d01f199d.989838",
        "type": "aggregator",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "topic": "PC/day",
        "intervalCount": 1,
        "intervalUnits": "h",
        "submitIncompleteInterval": true,
        "aggregationType": "mean",
        "x": 490,
        "y": 1660,
        "wires": [
            [
                "48d272f.522448c"
            ]
        ]
    },
    {
        "id": "99aae89b.782fb8",
        "type": "aggregator",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "topic": "Pt/min",
        "intervalCount": 1,
        "intervalUnits": "m",
        "submitIncompleteInterval": true,
        "aggregationType": "mean",
        "x": 690,
        "y": 1820,
        "wires": [
            [
                "51f7bcc9.f5daf4",
                "c2e072d0.a7b5c",
                "59c68ea5.94c21"
            ]
        ]
    },
    {
        "id": "48d272f.522448c",
        "type": "ui_chart",
        "z": "4c69e6e8.b973c8",
        "name": "day",
        "group": "c31f0f64.3d018",
        "order": 13,
        "width": "19",
        "height": "6",
        "label": "Average power per hour. (W)",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100000",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 690,
        "y": 1620,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6e927936.3a4a98",
        "type": "aggregator",
        "z": "4c69e6e8.b973c8",
        "name": "Peak",
        "topic": "",
        "intervalCount": "15",
        "intervalUnits": "m",
        "submitIncompleteInterval": true,
        "aggregationType": "max",
        "x": 330,
        "y": 420,
        "wires": [
            [
                "5663bb3c.862bf4"
            ]
        ]
    },
    {
        "id": "ff27a479.42a948",
        "type": "aggregator",
        "z": "4c69e6e8.b973c8",
        "name": "Peak",
        "topic": "",
        "intervalCount": "15",
        "intervalUnits": "m",
        "submitIncompleteInterval": true,
        "aggregationType": "max",
        "x": 350,
        "y": 640,
        "wires": [
            [
                "4518891c.484f08"
            ]
        ]
    },
    {
        "id": "af944a5.67312b8",
        "type": "aggregator",
        "z": "4c69e6e8.b973c8",
        "name": "Peak",
        "topic": "",
        "intervalCount": "15",
        "intervalUnits": "m",
        "submitIncompleteInterval": true,
        "aggregationType": "max",
        "x": 330,
        "y": 780,
        "wires": [
            [
                "db0d114a.c009f"
            ]
        ]
    },
    {
        "id": "51f7bcc9.f5daf4",
        "type": "firebase modify",
        "z": "4c69e6e8.b973c8",
        "name": "pavg_per_min",
        "firebaseconfig": "",
        "childpath": "pavg_per_min/1",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 900,
        "y": 1800,
        "wires": [
            [
                "8ee66a9d.dcc4d8"
            ]
        ]
    },
    {
        "id": "85243098.cc46a",
        "type": "delay",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 260,
        "y": 100,
        "wires": [
            [
                "83498087.45d48"
            ]
        ]
    },
    {
        "id": "5cb78b2c.67cb54",
        "type": "http request",
        "z": "4c69e6e8.b973c8",
        "name": "avg_per_min",
        "method": "GET",
        "ret": "txt",
        "url": "https://docs.google.com/forms/d/e/1FAIpQLSfIKyYXc56S2TBJjoqwtRms2cNmTlRJoaX01OySvfNzWRyROQ/formResponse?usp=pp_url&entry.1732737962={{payload.1}}&entry.1218485471={{payload.2}}&entry.339382278={{payload.3}}&entry.376692470={{payload.4}}&entry.687312231={{payload.5}}&entry.576090351={{payload.6}}&entry.509871658={{payload.7}}&entry.614956280={{payload.8}}&entry.1513347545={{payload.9}}&entry.1493512792={{payload.10}}",
        "tls": "",
        "x": 1310,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "8ee66a9d.dcc4d8",
        "type": "firebase.once",
        "z": "4c69e6e8.b973c8",
        "name": "pavg_per_min",
        "firebaseconfig": "",
        "childpath": "pavg_per_min",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 1100,
        "y": 1800,
        "wires": [
            [
                "5cb78b2c.67cb54"
            ]
        ]
    },
    {
        "id": "9deb0a44.7adb78",
        "type": "aggregator",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "topic": "Pt/h",
        "intervalCount": 1,
        "intervalUnits": "h",
        "submitIncompleteInterval": true,
        "aggregationType": "mean",
        "x": 890,
        "y": 1740,
        "wires": [
            [
                "275b5694.436c9a"
            ]
        ]
    },
    {
        "id": "39eec31f.4c78cc",
        "type": "debug",
        "z": "4c69e6e8.b973c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1470,
        "y": 1680,
        "wires": []
    },
    {
        "id": "275b5694.436c9a",
        "type": "firebase modify",
        "z": "4c69e6e8.b973c8",
        "name": "pavg_per_hour",
        "firebaseconfig": "",
        "childpath": "pavg_per_hour/1",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1080,
        "y": 1740,
        "wires": [
            [
                "2e7fda70.4a6706"
            ]
        ]
    },
    {
        "id": "59c68ea5.94c21",
        "type": "firebase modify",
        "z": "4c69e6e8.b973c8",
        "name": "stat",
        "firebaseconfig": "",
        "childpath": "stat/1",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 870,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "e7444d7f.abb95",
        "type": "http request",
        "z": "4c69e6e8.b973c8",
        "name": "avg_per_hour",
        "method": "GET",
        "ret": "txt",
        "url": "https://docs.google.com/forms/d/e/1FAIpQLScyeRp-jYYq7kK5Fem4xG3ZVmrgkSRpbX1tcY92zSE_yWIY2A/formResponse?usp=pp_url&entry.1194207777={{payload.1}}&entry.1950128019={{payload.2}}&entry.616408908={{payload.3}}&entry.1570312915={{payload.4}}&entry.1516404818={{payload.5}}&entry.1248897227={{payload.6}}&entry.932113046={{payload.7}}&entry.1148712635={{payload.8}}&entry.978989342={{payload.9}}&entry.1938898678={{payload.10}}",
        "tls": "",
        "x": 1480,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "2e7fda70.4a6706",
        "type": "firebase.once",
        "z": "4c69e6e8.b973c8",
        "name": "pavg_per_hour",
        "firebaseconfig": "",
        "childpath": "pavg_per_hour",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 1280,
        "y": 1740,
        "wires": [
            [
                "e7444d7f.abb95",
                "39eec31f.4c78cc"
            ]
        ]
    },
    {
        "id": "526f3bc0.73f9d4",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "m12.cloudmqtt.com",
        "port": "19574",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "2e9468e.0de1e98",
        "type": "ui_group",
        "z": "4c69e6e8.b973c8",
        "name": "Node1",
        "tab": "25b5ca9c.c94776",
        "order": 1,
        "disp": true,
        "width": "19"
    },
    {
        "id": "baa99e4a.ae24b",
        "type": "ui_group",
        "z": "4c69e6e8.b973c8",
        "name": "Energy",
        "tab": "25b5ca9c.c94776",
        "order": 3,
        "disp": true,
        "width": "19"
    },
    {
        "id": "c80f31aa.2d0a7",
        "type": "ui_group",
        "z": "",
        "name": "Energy",
        "tab": "4c9d051b.e8079c",
        "order": 2,
        "disp": true,
        "width": "19"
    },
    {
        "id": "bf6a3ea.194e5c",
        "type": "ui_group",
        "z": "",
        "name": "Node1",
        "tab": "55fe465b.f012b8",
        "disp": true,
        "width": "19"
    },
    {
        "id": "15677098.ea690f",
        "type": "ui_group",
        "z": "",
        "name": "Node1",
        "tab": "e91f93bc.6096e",
        "order": 1,
        "disp": true,
        "width": "19"
    },
    {
        "id": "8c4462fe.6eb75",
        "type": "ui_group",
        "z": "",
        "name": "Parameter",
        "tab": "25b5ca9c.c94776",
        "order": 2,
        "disp": true,
        "width": "19"
    },
    {
        "id": "c31f0f64.3d018",
        "type": "ui_group",
        "z": "",
        "name": "Node1",
        "tab": "78f3c983.c28028",
        "disp": true,
        "width": "19",
        "collapse": false
    },
    {
        "id": "25b5ca9c.c94776",
        "type": "ui_tab",
        "z": "4c69e6e8.b973c8",
        "name": "Node1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "4c9d051b.e8079c",
        "type": "ui_tab",
        "z": "",
        "name": "Control",
        "icon": "dashboard",
        "order": 11
    },
    {
        "id": "55fe465b.f012b8",
        "type": "ui_tab",
        "z": "",
        "name": "Minute resolution",
        "icon": "dashboard",
        "order": 12
    },
    {
        "id": "e91f93bc.6096e",
        "type": "ui_tab",
        "z": "",
        "name": "Hour resolution",
        "icon": "dashboard",
        "order": 13
    },
    {
        "id": "78f3c983.c28028",
        "type": "ui_tab",
        "z": "",
        "name": "Day resolution",
        "icon": "dashboard"
    }
]